{% include "base/base.html" %}
{% block content %}
{% load static %}
<!-- 
      Si
-->
<style>
      #id_name_r1, #id_name_r2 {
            margin: 0 !important;
      }
      @media (max-width: 730px){
            .form-add-c .form-floating   {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center !important;
                  background-color: #f5faff !important;
                  /* background-color: #a1d0ff !important; */

                  /* min-width: 100% !important; */
            }
            .form-add-c .form-floating   {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  margin: 0 0.4rem;
            }

            
.form-check  .form-check-input {

      max-width: 60px !important;
}
      .form-floating  input {
                  width: 100% !important;
            }
      }


</style>
<section  class="position-relative   container-fluid ">

      <div class="w-100  container  justify-content-center  d-flex   justify-content-between" style="min-height: 10rem; padding-top: 4rem;  ">
            <span class="span-animation mt-5 pt-5" style="min-width: 2rem; min-height: 1rem; background-color: rgba(255, 133, 133, 0.473);">s</span>
            <span class="span-animation" style="min-width: 2rem; height:1rem; background-color: rgba(222, 137, 255, 0.438);">s</span>
            <span class="span-animation" style="min-width: 1rem; height:1.3rem; background-color: rgba(128, 179, 255, 0.404);">s</span>
            <span class="span-animation" style="min-width: 10rem; height:1.3rem; background-color: rgba(128, 255, 244, 0.445);">s</span>
            <span class="span-animation mt-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(255, 128, 177, 0.404);">s</span>
            <span class="span-animation mb-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(153, 255, 128, 0.349);">s</span>
      </div>

      <section class="section rounded-0 d-flex flex-wrap justify-content-center position-fixed top-0 overflow-scroll p-1 end-0 w-100  vh-100  mt-0  bg-transparent blur"  style="z-index: 10;">
            <div class="p-4 d-flex  flex-wrap  mb-5">
                  <div class="d-flex justify-content-center w-100">
                        <div class="d-flex  flex-wrap mb-3 w-100 justify-content-center">
                              <strong style="  font-family: Quicksand, sans-serif;
                              color: black;
                              font-optical-sizing: auto;">              
                              <img src="{{setting.Icon.url}}" width="30" alt="">
                              GRUPO FYCAS 
                        </strong>
                        </div>
                  </div>
                  <div class="w-100 d-flex flex-wrap align-content-center justify-content-center  flex-wrap">
                        <h4 class="p-0 m-0" style="font-family: Quicksand, sans-serif;
                        color: black;
                        font-optical-sizing: auto">
                              Completa todos los campos
                        </h4>
                        <p class="text-black-50 w-100 text-center">
                              Este formulario solo se realizara una vez
                        </p>
                  </div>
            </div>

      <form action=""  method="post" class="form-add-c mt-5" enctype='multipart/form-data'>
                  {% csrf_token %}
            <div class="m-1">
                <h6 class=" d-flex">
                  Datos Personales
                </h6>  
            </div>
            <div class="d-flex flex-wrap ">
                  <p class="text-black-50 w-100 m-0 ms-2">
                        Revisar minuciosamente antes de enviar el formulario, reduce la posibilidad de errores
                  </p>
                  <div class="form-floating mb-3">
                        {{form.name}}
                        <label for="id_email">Nombre </label>
                  </div>
                  <div class="form-floating mb-3">
                        {{form.last_name}}
                        <label for="id_last_name">Apellidos </label>
                  </div>
                  <div class="form-floating mb-3">
                        {{form.dni}}
                        <label for="id_dni">Cedula</label>
                  </div>
                  <div class="form-floating mb-3">
                        {{form.number}}
                        <label for="id_number">Numero</label>
                  </div>
                  <div class="form-floating mb-3 ">
                        {{form.calle_numero}}
                        <label for="id_address">Calle/Numero</label>
                  </div>
                  <div class="form-floating mb-3 ">
                        {{form.sector}}
                        <label for="id_address">sector</label>
                  </div>
                  <div class="form-floating mb-3 ">
                        {{form.ciudad}}
                        <label for="id_address">Ciudad</label>
                  </div>
                  <div class="form-floating mb-3 ">
                        {{form.municipio}}
                        <label for="id_address">Municipio</label>
                  </div>
                  <span class="w-100 ms-2"> <p class="text-black-50">Sexo</p></span>
                  <div class="form-check">
                        <input class="form-check-input" value="man" type="radio" name="sex-man" id="flexRadioDefault1">
                        <label style="color: #000000;" class="form-check-label" for="flexRadioDefault1">
                              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-standing" viewBox="0 0 16 16">
                                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0"/>
                                  </svg>
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex-man" id="flexRadioDefault2" >
                        <label style="color: #000000;" class="form-check-label" for="flexRadioDefault2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-standing-dress" viewBox="0 0 16 16">
                                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.5 12.25V12h1v3.25a.75.75 0 0 0 1.5 0V12h1l-1-5v-.215a.285.285 0 0 1 .56-.078l.793 2.777a.711.711 0 1 0 1.364-.405l-1.065-3.461A3 3 0 0 0 8.784 3.5H7.216a3 3 0 0 0-2.868 2.118L3.283 9.079a.711.711 0 1 0 1.365.405l.793-2.777a.285.285 0 0 1 .56.078V7l-1 5h1v3.25a.75.75 0 0 0 1.5 0Z"/>
                                  </svg>
                          Femenino
                        </label>
                      </div>
                  <div class="w-100 mt-4 ">
                        <h6>
                              Fotos de Cedula (Delantera y Tracera)
                        </h6>
                        <p class="text-black-50 m-0 ms-2">
                              Procura una superficie plana, una buena iluminacion y calidad de la imagen
                        </p>
                  </div>
                  <div class="w-100 d-flex flex-wrap ">
                        <div class="div-label d-flex text-center flex-wrap justify-content-center position-relative aling-content-center "> 
                             <span class="d-none">
                              {{form.img1}}
                             </span>
                              <img src=""   id="img-views1" style="display: none;" class="w-100  img h-100 object-fit-cover position-absolute top-0">
                              <label style="z-index: 1;" for="id_img1"  class="img-label position-absolute w-100 h-100 d-flex top-0 bg-opacity-10 bg-white justify-content-center align-content-center flex-wrap">
                                    <span class="bg-white  blur text-black d-flex align-content-center flex-wrap justify-content-center rounded-circle bg-opacity-50" style="width: 40px; height: 40px;">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                                                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                                              </svg>
                                    </span>
                              </label>
                        </div>
                        <div class="div-label text-center position-relative  d-flex flex-wrap justify-content-center aling-content-center"> 
                              <span class="d-none">
                                    {{form.img2}}
                              </span>
                              <label style="z-index: 1;" for="id_img2"  class="img-label position-absolute w-100 h-100 d-flex top-0 bg-opacity-25 bg-white justify-content-center align-content-center flex-wrap">
                                    <span class="bg-white  blur text-black d-flex align-content-center flex-wrap justify-content-center rounded-circle bg-opacity-50" style="width: 40px; height: 40px;">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                                                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                                              </svg>
                                    </span>
                              </label>
                              <img src=""  id="img-views2" style="display: none;" class="w-100 img object-fit-cover h-100 position-absolute top-0">
                        </div>
                  </div>
                  <h6 class="p-0  mt-5">
                        Informacion Laboral
                  </h6>
                  <section class="w-100 d-flex flex-wrap  ">
                                    <div class="w-100">
                                          <p class="text-black-50 m-0 ms-2">
                                                Lugar de Trabajo, Cargo o (Funcion), Ingresos Mensuales y Numero de Contacto de la Empresa.
                                          </p>
                                    </div>
                                    <!-- <div class="form-floating mb-3 " >
                                          {{form.empresa_trabaja}}
                                          <label for="id_work_information">Empresa donde  Trabaja</label>
                                    </div> -->
                                    <div class="form-floating mb-3 " >
                                          {{form.empresa_trabaja}}
                                          <label for="id_work_information">
                                                Empresa donde  Trabaja</label>
                                    </div>
                                    <div class="form-floating mb-3 " >
                                          {{form.cargo}}
                                          <label for="id_work_information">Cargo o (Funcion)</label>
                                    </div>
                                    <div class="form-floating mb-3  " >
                                          {{form.salario_m}}
                                          <label for="id_work_information">Ingresos Mensuales</label>
                                    </div>
                                    <div class="form-floating mb-3 " >
                                          {{form.phone}}
                                          <label for="id_work_information"> Numero de Contacto de la Empresa</label>
                                    </div>

                  </section>
                  <h6 class="p-0  mt-5">
                        Referencias Personales
                  </h6>
                  <section class="w-100 d-flex flex-wrap  ">
                        <p class="text-black-50 m-0 ms-2">
                              Asegúrese de que sus referencias estén al tanto de que las proporcionará como referencia.
                        </p>
                        <div class="w-100">
                              <div class="w-100 d-flex flex-wrap">
                                    <div class="form-floating mb-3 d-flex flex-wrap " >
                                          {{form.name_r1}}
                                          <label for="id_work_information">Nombre de la primera referencia
                                          </label>
                                    </div>
                                    <div class="form-floating mb-3  " >
                                          {{form.number_r1}}
                                          <label for="id_work_information">Numero de la primer referente
                                          </label>
                                    </div>
                              </div>
                              <p class="text-black-50 m-0 ms-2">
                                    Dos referentes pueden proporcionar una descripción más precisa y completa que uno.
                              </p>
                              {{form.lat}} {{form.lon}}
                              <div class="w-100 d-flex flex-wrap ">
                                    <div class="w-100 d-flex flex-wrap">
                                          <div class="form-floating m-0 mb-3  " >
                                                {{form.name_r2}}
                                                <label for="id_work_information">Nombre de la segunda referencia
                                                </label>
                                          </div>
                                          <div class="form-floating mb-3 " >
                                                {{form.number_r2}}
                                                <label for="id_number_r2">Numero de la segunda referencia
                                                </label>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </section>
                  <h6 class="p-0  mt-5">
                        Opcionales
                  </h6>
                  
                  <p class="text-black-50 m-0 w-100 ms-2">
                        Cabe destacar que esta información no afecta la decisión de aprobación de su préstamo. 
                  </p>
                  <section class="w-100 d-flex flex-wrap text-black-50 justify-content-start" style="text-align: justify; width: 330px;">
                        <strong  style="font-style: oblique;" class="w-100 mt-3 ms-2
                        ">Seleccione todas las opciones que apliquen a ti</strong>
                        <div class="form-check w-100 mt-2   " >
                              <label class="ms-3" for="id_familiar_en_fycas"> ¿Algun Familiar es cliente de Grupo Fycas?</label>
                              {{form.familiar_en_fycas}}
                        </div>
                        
                        <div class="form-check w-100   mt-2 " >
                              <label class="ms-3" for="id_vehiculo"> ¿Posee usted un Vehículo</strong> de su propiedad?</label>
                              {{form.vehiculo}}
                        </div>
                        <div class="form-check w-100 mt-2   " >
                              <label class="ms-3" for="id_tierra">¿Posee usted un Terreno de su propiedad?</label>
                              {{form.tierra}}
                        </div>
                        <div class="form-check w-100 mt-2   " >
                              <label class="ms-3" for="id_casa"> ¿Posee usted una Casa  de su propiedad?</label>
                              {{form.casa}}
                        </div>
      
                        <div class="form-check w-100 mt-2  mb-3 " >
                              <label class="ms-3" for="id_fue_recomendado"> ¿Fuiste recomendado por Alguien?</label>
                              {{form.fue_recomendado}}
                        </div>

                        
                  </section>


                  <!-- <h6 class="p-0  mt-5">
                        Solicitud de Información de Préstamo
                  </h6>
                  <section class="w-100 d-flex flex-wrap  ">
                        <p class="text-black-50 m-0 ms-2">
                              Este formulario se emplea para solicitar información detallada sobre el préstamo.
                        </p>

                        <div class="form-floating m-0 mb-3  " >
                              {{form.monto_requerido}}
                              <label for="id_monto_requerido">Monto Requerido
                              </label>
                        </div>
                        <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                              <label for="floatingTextarea2"></label>
                            </div>
                  </section> -->
                  <div class="container">
                  </div>
                 
                  <div style='display: none;'  id='btn-add' class=" w-100  pt-4 justify-content-center flex-wrap">
                        <button class='border-0 d-flex d-none justify-content-center text-primary bg-white border-1'>
                              <span id="acep-yes"   class="d-none" 
                                    style='display: none; '>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill text-primary" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                                    </svg>
                              </span> 
                              <button class="p-2  d-flex justify-content-center" style="min-width: 290px;">
                                    <div class="svg-wrapper-1">
                                      <div class="svg-wrapper">
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 24 24"
                                          width="24"
                                          height="24"
                                        >
                                          <path fill="none" d="M0 0h24v24H0z"></path>
                                          <path
                                            fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                          ></path>
                                        </svg>
                                      </div>
                                    </div>
                                    <span>Aceptar y Enviar</span>
                                  </button>
                              </button>
                                  
                        
                        <div class="w-100 d-flex justify-content-center mb-4 mt-3">
                              <label style="cursor: pointer; width: 10rem; height: 2rem; border-radius: 1rem; " class=" p-2  text-black d-flex flex-wrap flex-wrap align-content-center justify-content-center " onclick="Acept()"><span style=" font-family: Righteous, sans-serif;">Cancelar</span></label>
                        </div>
                  </div>
      
                
                  <div class="w-100 d-flex justify-content-center mt-3 mb-4">
                        <div class="form-check" id="div-acept">
                              {% comment %} <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> {% endcomment %}
                              <label   
                              style='cursor: pointer;             
                              width: 17rem;
                              border-radius: 1.5rem;
                              padding:0.5rem 1rem;
                              font-weight: bold;
                              font-weight: 100;
                              margin: 0.1rem;
                              font-size: 18px;
                              font-family: "Righteous", sans-serif;
                              background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);                              border-color: var(--color-one);'   
                              onclick="CaptureLocation()" class='d-flex text-white text-center justify-content-center'>
                                    <span id="acep"  class="d-none">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                          <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                                          </svg>
                                    </span>

                                    <span>
                                          Aceptar Terminos
                                    </span>
                              </label>
                            </div>
                            
                  </div>
            </div>
      </form>
      </section>

</section>
<style>
button {
  font-size: 18px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: white;
  padding: 0.2em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover{
      min-width: 20px !important;
}
button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.5em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(15em);
}

button:active {
  transform: scale(0.99);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.3em);
  }

  to {
    transform: translateY(-0.3em);
  }
}

</style>

<script>

  // Obtener el input y la div de la imagen
  let input = document.getElementById("id_img1");
  let img = document.getElementById("img-views1");
  // Añadir un evento onchange al input para procesar la imagen seleccionada
  input.onchange = function(e) {
    // Obtener el archivo de la imagen
    var file = e.target.files[0];
    // Crear un objeto FileReader para leer el contenido del archivo
    var reader = new FileReader();
    reader.onload = function(e) {
      // Obtener el resultado de la lectura como una URL de datos
      var url = e.target.result;
      // Crear un elemento img para mostrar la imagen
      img.classList.add('img-view1');
      img.src = url;
      img.style.width = "50px";
      img.style.height = "50px";
      img.style.borderRadius = "1.5rem";
      img.style.display = "block"
      console.log(img.src)
    };
    reader.readAsDataURL(file);
  };

  // Obtener el input y la div de la imagen
  let input2 = document.getElementById("id_img2");
  let img2 = document.getElementById("img-views2");
  // Añadir un evento onchange al input2 para procesar la imagen seleccionada
  input2.onchange = function(e) {
    // Obtener el archivo de la imagen
    var file = e.target.files[0];
    // Crear un objeto FileReader para leer el contenido del archivo
    var reader = new FileReader();
    reader.onload = function(e) {
      // Obtener el resultado de la lectura como una URL de datos
      var url = e.target.result;
      // Crear un elemento img2 para mostrar la imagen
      img2.classList.add('img2-view2');
      img2.src = url;
      img2.style.width = "50px";
      img2.style.height = "50px";
      img2.style.borderRadius = "1.5rem";
      img2.style.display = "block"
      console.log(img2.src)
    };
    reader.readAsDataURL(file);
  };

//   Capture Code Geolcalitation

let CaptureLocation = ()=> {
      Acept()
      document.getElementById("div-acept").style.display = 'none';
      navigator.geolocation.getCurrentPosition((position) => {
            if(document.getElementById("id_lat").value){
            }
            else{
                  document.getElementById("id_lat").value = position.coords.latitude;
                  document.getElementById("id_lon").value = position.coords.longitude;
                  console.log(document.getElementById("id_lon").value)
                  console.log(document.getElementById("id_lat").value)
            }
      });
}

let Acept = () =>{
      
      let acept = document.getElementById("acep")
            if (acept.style.display === "none") {
                  document.getElementById("btn-add").style.display = 'none'
                  document.getElementById("acep-yes").style.display = 'none';
                  document.getElementById("div-acept").style.display = 'block';
                  acept.style.display = "block";
            } else {
                  document.getElementById("acep-yes").style.display = 'block';
                  document.getElementById("btn-add").style.display = 'flex'
                  acept.style.display = "none";
            }
            
}
var List = [""]
// Add DNI
function DNI(value) {
    // Elimina todos los caracteres no numéricos
    var number_dni = value.replace(/\D/g, '');
    // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
    var dni_ = number_dni.replace(/(\d{3})(\d{7})(\d{1})/, '$1-$2-$3');
    return dni_;
  }
  // Agrega un evento al campo de entrada
      document.getElementById('id_dni').addEventListener('input', function(e) {
    let dni = document.getElementById('id_dni')
    dni.value = dni.value.slice(0, 13);
    e.target.value = DNI(e.target.value);
  });

//   Add number
function NumbersFomat(value) {
    // Elimina todos los caracteres no numéricos
    var number = value.replace(/\D/g, '');
    // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
    var N = number.replace(/(\d{3})(\d{3})(\d{1})/, '$1-$2-$3');
    return N;
  }


  //   Add number
function NumbersFomatSalari(value) {
    var N = value.replace(/\D/g, '');
    return N;
  }

  
document.getElementById('id_phone').addEventListener('input', function(e) {
            let n = document.getElementById('id_phone')
            e.target.value = NumbersFomat(e.target.value);
});

document.getElementById('id_number').addEventListener('input', function(e) {
            let n = document.getElementById('id_number')
            n.value = n.value.substring(0,12);
            e.target.value = NumbersFomat(e.target.value);
  });

document.getElementById('id_number_r1').addEventListener('input', function(e) {
            let n = document.getElementById('id_number_r1')
            n.value = n.value.slice(0, 12);
            e.target.value = NumbersFomat(e.target.value);
  });

document.getElementById('id_number_r2').addEventListener('input', function(e) {
            let n = document.getElementById('id_number_r2')
            n.value = n.value.slice(0, 12);
            e.target.value = NumbersFomat(e.target.value);
            
  });

  document.getElementById('id_phone').addEventListener('input', function(e) {
            let n = document.getElementById('id_phone')
            n.value = n.value.slice(0, 12);
            e.target.value = NumbersFomat(e.target.value);
            
  });


    document.getElementById('id_salario_m').addEventListener('input', function(e) {
            let n = document.getElementById('id_salario_m')
            n.value = n.value.slice(0, 29);
            e.target.value = NumbersFomatSalari(e.target.value);
            
  });

</script>
{% endblock  %}