{% extends "base/base.html" %}
{% block content %}
{% load static %}
<style>
      .form-floating  {
            margin: 0.5rem;
      }

      #id_date
      {
            width: 10rem;
      }
      #id_amount_feed
      {
            display: none;
      }

      h6, h3 {


            margin: 1px !important; flex-wrap: wrap;
            width: max-content;           
            padding: 0px;
            font-family: Chillax, sans-serif;
            font-weight: 500; border: 0px ;

            color: rgb(105, 105, 105);
      }
      p {
            margin: 1px !important; flex-wrap: wrap;
            width: max-content;           
            padding: 0px;
            font-family: Chillax, sans-serif;
            font-size: 14px ; font-weight: 400; border: 0px ;

            color: rgb(37, 37, 37);
      }

      .form-control {
            border-radius: 2rem !important;
            background-color: rgba(255, 255, 255, 0.628);
            
      }
</style>
<div  class="w-100 position-absolute bottom-0  d-flex justify-content-center" style="filter: blur(120px);" >
      <div class="colors uno" style="background-color: #ffd588; margin-left: 1rem;"></div>
      <div class="colors dos" style="margin-left: 2rem !important; background-color: rgb(243, 85, 85);"></div>
      <div class="colors tres" 
            style="margin-left: 17rem; margin-top: 20rem; background-color: rgb(178, 89, 230);">
      </div>
</div>
<section class="p-3 section  overflow-scroll h-100  w-100" >
      <div class="p-0 d-flex   w-100">
            <div class="w-50 d-flex flex-wrap align-content-center  flex-wrap">
                  <h3 class="p-0 m-0" style="color: rgb(0, 0, 73) !important;">
                        Creando un nuevo credito
                  </h3>
                  <p class="text-black-50 w-100">
                        Extender el plazo de repago de un préstamo existente 
                  </p>
            </div>
            <div class="d-flex justify-content-end w-50">
                  <img src="{% static "icons/fycas.jpg" %}" weight="300" alt="" srcset="">
            </div>
      </div>
      <div class="w-100 mt-5">
            <h6 class="p-0  mt-1">
                  Datos Personales
            </h6>
            <p>
                  Revisar minuciosamente antes de enviar el formulario, reduce la posibilidad de errores
            </p>
      </div>
      <form action="" method="post">
            {% csrf_token %}

      <div class="d-flex  ">
            <!-- Customer Name for Input Value -->
            <input id="customer-name-complet" class="d-none" value="{{c.name}} {{c.last_name}}" type="text">
            <input id="customer-name" class="d-none" value="{{c.name}} {{c.last_name}}" type="text">
            <input id="customer-dni" class="d-none" value="{{c.dni}}" type="text">

            <div class="form-floating mb-3  w-50" >
                  {{form.customer}} 
                  <label for="">
                        Cliente 
                  </label>
            </div>
            <div class="form-floating mb-3 w-50" >
                  {{form.name}}
                  <label for="">
                        Nombre
                  </label>
            </div>
            <div class="form-floating mb-3 w-50" >
                  {{form.dni}}
                  <label for="">
                        No. Cedula
                  </label>
            </div>

      </div>
      <div class="w-100 mt-2">
            <h6 class="p-0  mt-2">
                  Detalles del préstamo
            </h6>
            <p>
                  Monto del préstamo, tasa de interés, plazo del préstamo, tipo de préstamo
            </p>
      </div>
      <div class="d-flex">
            <div class="form-floating mb-3 w-50" >
                  {{form.amount}}
                  <label for="id_amount">Monto
                  </label>
            </div>
            <div class="form-floating mb-3 w-50" >
                  {{form.price_feed}}
                  <label for="id_work_information">Cuota A Pagar
                  </label>
            </div>

            <div class="form-floating mb-3 w-50" >
                  {{form.no_account}}
                  <label for="">
                        No.  Cuenta
                  </label>
            </div>
            
      </div>
      <div class="w-100 d-flex">
            <div class="form-floating mb-3 " >
                  {{form.tasa}}
                  <label for="id_tasa">Tasa de interes
                  </label>
            </div>
            <div class="form-floating mb-3 " >
                  {{form.day_pay}}
                  <label for="id_day_pay">Dia de Pago
                  </label>
            </div>
    
            <div class="form-floating mb-3 d-flex  align-content-center flex-wrap " style="width: max-content;" >
                  {{form.date}}
          
                  <button type="button" id="go-back-btn" class="btn mt-2 btn-secondary bg-black bg-opacity-10 ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                            </svg>
                  </button>
                  <button type="button" id="change-month-btn" class="btn mt-2 btn-primary bg-black bg-opacity-10 ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                            </svg>
                  </button>
                  <label for="id_date">Mes de inicio
                  </label>
            </div>
          
            <div class=" mb-3 ms-3  d-flex d-none align-content-center " >
                  {{form.mode_pay}}
                  <label for="id_mode_pay" class="d-flex h-100 flex-wrap ms-1 align-content-center justify-content-center"> Aplicar dos pagos (15) - (30)
                  </label>
            </div>
            
      </div>
 

      <div class="form- mb-3 w-100 " >
          <div  class='d-none'>
            <h6 class="ms-1"> Ganancias $: <span class="text-black" id="resultado-div"></span></h6>
          </div>

          <div class="">
            <h6 class="ms-1"> Cuota Mensual $:<span class="text-black" id="valor-div"></span></h6>
          </div>
          <div class="form-floating d-none mb-3 " >
            {{form.amount_feed}}
            <label for="id_amount_feed">Cuota Mensual
            </label>
         </div>
      </div>
      <div class="d-flex w-100 pt-4 justify-content-end z-3 position-absolute me-3 end-0">
            <a style="width: 2rem;" href="{% url "customer:list-customer"  %}" class="btn-cancel ps-0 pe-0 text-black-50 ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill me-1 mt-1" style="margin-top: 3px;" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                      </svg>
                      
            </a>
            <button class="btn-save text-black-50 " style=" background-color: rgb(244, 244, 244);">
                  Crear
            </button>
      </div>
</form>
</section>
<script>

document.getElementById('change-month-btn').addEventListener('click', () => {
      let dateInput = document.getElementById('id_date');
      let currentDate = new Date(dateInput.value);
      currentDate.setMonth(currentDate.getMonth() + 1);
      dateInput.value = currentDate.toISOString().split('T')[0];
});

document.getElementById('go-back-btn').addEventListener('click', () => {
      let dateInput = document.getElementById('id_date');
      let currentDate = new Date(dateInput.value);
      currentDate.setMonth(currentDate.getMonth() - 1);
      dateInput.value = currentDate.toISOString().split('T')[0];
});

      // document.querySelector(".load").style.display = "none"

     let customer =  document.getElementById("id_customer")
     customer.classList.add("text-uppercase", "text-black-50")
     customer.value =  document.getElementById("customer-name-complet").value 
     customer.disabled = true       

     document.getElementById("id_name").value =  document.getElementById("customer-name").value 
     document.getElementById("id_dni").value =  document.getElementById("customer-dni").value 


      // let price_feed = document.getElementById("id_price_feed")
      // price_feed.addEventListener("input", () => {



      // })
      // let amoun = document.getElementById("id_amount")
      // amoun.addEventListener("input", () => {

      // })

      // let amount_feed = document.getElementById("id_amount_feed")
      // amount_feed.addEventListener("input", () => {

      // })





let monto_update = document.getElementById('id_amount')

document.querySelectorAll('input').forEach(input => {
      input.addEventListener('input', () => {
            let numero = monto_update.value.replace(/,/g, ''); // Elimina las comas existentes
            let capital = parseInt(numero)
            
            let plazo =   plazo_update.value
            let tasa_1 = parseFloat(document.getElementById('id_tasa').value) / 100;
            let tasa = tasa_1
            SuperCalUpdate(capital, plazo, tasa);
      });
});


monto_update.addEventListener("input", () => {
      let numero = monto_update.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazoInput.value
      let tasa_1 = parseFloat(document.getElementById('id_tasa').value) / 100;
      let tasa = tasa_1
      SuperCalUpdate(capital, plazo, tasa)
});



let plazo_update = document.getElementById('id_price_feed')
plazo_update.addEventListener("input", () => {
      let numero = monto_update.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazo_update.value
      let tasa_1 = parseFloat(document.getElementById('id_tasa').value) / 100;
      let tasa = tasa_1
      SuperCalUpdate(capital, plazo, tasa)
});



let SuperCalUpdate = (capital, plazo, tasa)=> {
      
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            }); }
            let totales = capital + totalIntereses
      const numero = parseFloat(numeroInput.value);
      document.getElementById('valor-div').innerHTML = Cuotas.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'




      document.getElementById('id_amount_feed').value = Cuotas.toFixed(0);
      resultadoParrafo.textContent = '$' + Cuotas.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00';
      resultadoParrafo2.textContent = '$' + totalIntereses.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      resultadoParrafo3.textContent = '$' + totales.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      if(numeroInput.value != ''){
            let numero = numeroInput.value.replace(/,/g, ''); // Elimina las comas existentes
            if (!isNaN(numero) && numero.trim() !== '') {
                numeroInput.value = parseFloat(numero).toLocaleString();
            } else {
                numeroInput.value = numeroInput.value.replace(/[^\d.]/g, ''); 
                // Elimina cualquier carácter no numérico excepto el punto decimal
            }
      }

} 

</script>

{%  endblock %}                                                                                                                        