

{% extends "base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}

<style>
           
           
.btn-cliente
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-cliente img 
{
      display: none;
}
.btn-cliente span
{

}
            .text-black-50 
            {
                  font-size: 14px;
            }
            .credits li 
            {
                  list-style: none;
            }
            .extends-div
            {
                  display: block !important;
                
            }
            .surper-bg
            {
                  background-color: rebeccapurple !important;
            }
            .inputs  
            {
                  border: 1px rgb(255, 255, 255);
                  outline: none !important;
            }
            .di-cn {
                  border-radius: 1.5rem;
                  padding: 0.5rem 1rem;
                  display: inline-block;
                  /* margin: 0.2rem; */
                  width: max-content;
               
            }  
            .di-cn span
            {
                  color: #454545 !important;
                  font-size: 12px; 

                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  background-color: rgba(255, 255, 255, 0) !important;
            }
            .di-cn strong
            {
                  color: rgb(117, 117, 117) !important;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  font-size: 12px ;

            }
            table td 
            {
                  font-size: 12px; 
                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                   font-weight: 300 !important;
            }
            table th 
            {
                  font-size: 14px; color: #818080;

                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .fixed-bottom {
                  background-color: #343a40;
                  color: white;
                  text-align: center;
                  padding: 0.5rem;
                  width: 100%;
            }
            .btn-apple {
                  display: inline-block;
                  /* padding: 0.1rem 1.3rem !important; */
                  border-radius: 1.4rem !important;
                  box-shadow: 0 4px 8px rgba(124, 124, 124, 0.1), 0 6px 20px rgba(214, 214, 214, 0.1) !important;
                  background-color:  #ffffffe0  !important;
                  color: #959595 !important;
                  font-size: 14px;
                  font-weight: normal;
                  text-align: center;
                  text-decoration: none;
                  transition: all 1s ease;
                  width: max-content !important;
                  height: 2.2rem !important;
                  min-width: 7rem;
            }
            .btn-apple:hover {    
                  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff; 
            }
            .py-3 img 
            {
                  margin-right: 0.5rem;
                  width: 20px;
            }
            .btn-es 
            {
                  color: rgb(165, 165, 165);
                  border: 1px solid rgb(226, 226, 226);
                  border-radius: 1rem;
                  overflow: visible !important;
                  margin: 0.1rem;
                  background-color: #efefef ;
            }
            .btn-es-on
            {
                  background-color: rgb(126, 171, 255);
                  color: white;
            } 
            .input-of
            {
                  background-color: #efefef !important;
                  border: none !important;
            }
            .super-shadow {
                  /* scale: 1; */
                  /* margin: 0.2rem; */
                  box-shadow: 0 4px 8px rgba(150, 171, 227, 0.333), 0 6px 10px rgba(236, 236, 236, 0.1) !important;
                  /* background-color: rgba(237, 237, 237, 0.396) !important; */
                  border: 2px solid #ece9e9 !important;
            }
            /* Definimos el efecto de flip-up */
            @keyframes flip-up {
            0% {
                  transform: rotateX(90deg);
                  opacity: 1;
            }
            100% {
                  transform: rotateX(0deg);
                  opacity: 1;
            }
            }

            /* Clase que aplicará la animación */
            .flip-up {
            animation: flip-up 0.5s ease-in-out;
            transform-origin: left; /* Punto de rotación */
            opacity: 1; /* Oculto por defecto */
            }


            /* Definimos el efecto de flip-down */
            @keyframes flip-down {
            0% {
                  transform: rotateX(-90deg);
                  opacity: 0;
            }
            100% {
                  transform: rotateX(0deg);
                  opacity: 1;
            }
            }

            /* Clase que aplicará la animación */
            .flip-down {
            animation: flip-down 1s ease-out ;
            transform-origin: top; /* Punto de rotación */
            opacity: 0; /* Oculto por defecto */
            }

            .green-span {
                        background-color: #ebf4ff; /* Light green background */
                        color: #005180; /* Green text */

                        font-size: 12px;
                        padding: 0.2rem 0.5rem;
                        border-radius: 1rem;
            }
            .grey-span {
                  background-color: #f1f1f168; /* Light green background */
                        color: #3a3a3a !important; /* Green text */

                        font-size: 12px;
                        padding: 0.2rem 0.5rem;
                        border-radius: 1rem;
            }
            .danger-span {
                  background-color: #f8d7da; /* Light green background */
                        color: #721c24; /* Green text */

                        font-size: 12px;
                        padding: 0.2rem 0.5rem;
                        border-radius: 1rem;
            }
            .verder-span {
                  background-color: #d4edda; /* Light green background */
                        color: #155724; /* Green text */

                        font-size: 12px;
                        padding: 0.2rem 0.5rem;
                        border-radius: 1rem;
            }
            @keyframes moveInCircle {
                  0% {
                        transform: rotate(0deg) translateX(50px) rotate(0deg);
                  }
                  100% {
                        transform: rotate(360deg) translateX(50px) rotate(-360deg);
                  }
            }

            .colors {
                  animation: moveInCircle 7s linear infinite;
            }

            .borde-color
            {
                  border: 3px solid rgb(221, 225, 229) !important;
            }
            .credit-sp:hover
            {
                  box-shadow: 0 4px 8px rgba(150, 171, 227, 0.333), 0 6px 10px rgba(236, 236, 236, 0.1) !important;
                  /* background-color: rgba(237, 237, 237, 0.396) !important; */
                  border: 2px solid #ece9e9 !important;
            }

</style>




<!-- Modal -->
<div class="modal fade bg-white bg-opacity-25 blur" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content rounded-4">

            <div class="modal-header bg-transparent">
                  <h6 class="modal-title" style="font-weight: bold;" id="exampleModalLabel">Ops! aun tienes un credito pendiente</h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <p class="text-black-50">
                        <strong class="mt-1" style="font-size: 14px;"> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                            </svg> </strong> 
                        Pagar mas de un crédito simultaneamente no es recomendable, ya que aumenta la carga financiera y reduce la flexibilidad de manejar otros gastos, además el pago de intereses en ambos créditos afectara notablemente tus pagos.
                  </p>
                  <div class="d-flex justify-content-end">
                        <a href="{% url "customer:create-credit-new" c.id  %}" class="me-2" style="width: max-content;">
                              <button class="border-0 bg-transparent shadow-none"  
                                    style='border-radius: 1.5rem; width: max-content;
                                    color: #3f1111 !important;
                                    font-weight: 600;
                                    ' >
                                
                                    No me importa, deseo continuar
                              </button>
                        </a>
                  </div>
            </div>
        </div>
      </div>
</div>



<section data-aos="fade-down" class='d-flex credits bg-transparent  overflow-scroll bg-white  h-100 align-content-start pt-0 pb-2 position-relative  justify-content-center flex-wrap'>
      <div id="factura"  class="position-absolute top-50 d-none start-50 translate-middle w-100 bg-white bg-opacity-10  d-flex justify-content-center h-100 align-content-center flex-wrap" style="z-index: 1050; 
          -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;">

            <div class="  super-shadow bg-white  bg-white position-relative p-5 overflow-scroll " style="width: max-content; height: max-content; max-height: 40rem; border-radius: 1.5rem;" >
                  <button class="bg-transparent rounded-circle border-0 position-absolute top-0 end-0 w-auto" onclick="GenerarFactura()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                      </svg></button>
                  <div class="factura-content">
                        <h2 class="text-center mt-3">Factura</h2>
                        <h6 class="p-0 m-0  w-100 text-center" 
                        style="font-size: 14px; margin: 0; "> Grupo Fycas</h6>
                        <p class="p-0 text-black-50 m-0 mt-5 "><strong>Cliente:</strong> {{ credit.name }}</p>
                        <p class="p-0 text-black-50 m-0"><strong>Fecha:</strong> <span  id="day_date"></span> </p>
                        <p class="p-0 text-black-50 m-0"><strong>Capital:</strong> ${{ credit.amount|intcomma }}.00</p>
                        <p class="p-0 text-black-50 m-0"><strong>Tasa de interés:</strong> {{ credit.tasa }}%</p>
                        <p class="p-0 text-black-50 m-0"><strong>Total pagado:</strong> ${{ cp|intcomma }}.00</p>
                        <p class="p-0 text-black-50 m-0"><strong>Saldo restante:</strong> ${{ cc|intcomma }}.00</p>
                        <div class="w-100 ">
                              <table class="w-100  table mt-4">
                                    <thead>
                                          <tr>
                                                <th class="text-black-50">#</th>
                                                <th class="text-black-50">Cuota</th>
                                                <th class="text-black-50"> Pagado</th>
                                                <th class="text-black-50">Restante</th>
                                                <th class="text-black-50">Termina</th>
                                                <th class="text-black-50">Vence</th>
                                                <th class="text-black-50">Estado</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for cuota in cuotas %}
                                          <tr>
                                                <td style="font-size: 12px;" class="text-black-50"> ({{ forloop.counter }})</td>
                                                <td style="font-size: 12px;" class="text-black-50">${{ cuota.cuota|intcomma }}.00</td>
                                                <td style="font-size: 12px;" class="text-black-50">${{ cuota.abonado|intcomma }}.00</td>
                                                <td style="font-size: 12px;" class="text-black-50">${{ cuota.restante|intcomma }}.00</td>
                                                <td class="text-capitalize text-black-50"> {{cuota.start_date|date:"m/d/Y"}} </td>
                                                <td class="text-capitalize text-black-50"> {{cuota.end_date|date:"m/d/Y"}} </td>
                                                <td style="font-size: 12px;" class="text-black-50"> 
                                                      {% if cuota.estado %}
                                                      <span class="green-span">
                                                            Completado  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-patch-check-fill   text-primary" viewBox="0 0 16 16">
                                                                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                                                  </svg> 
                                                      </span>
                                                      {% else %}
                                                      <span class="grey-span">
                                                            Proximamente
                                                      </span>
                                                      
                                                      {% endif %}
                                                </td>
                                      
                                          </tr>
                                          {% endfor %}
                                    </tbody>
                              </table>
                              <div class="d-flex justify-content-end  position-fixed  bottom-0 w-100 mb-4 me-2 end-0">
                                    <button class="bg-transparent shadow-none text-black-50 p-0 rounded-5  border-0 mx-2" onclick="EnviarFactura()">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                                              </svg>  Enviar a: <span class="text-primary">untal.wandy@gmail.com</span>
                                    </button>
                                    <button class="bg-transparent shadow-none text-black-50 p-0 rounded-5  border-0 mx-2"  onclick="ImprimirFactura()">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                              </svg>    Imprimir
                                    </button>
                                
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      {% if credit %}
      <div class="d-flex w-100 justify-content-start  ">
            {% include "customer/user-profile.html" %}  
      </div>
      <div class="d-flex w-100 justify-content-end z-3 position-absolute end-0  flex-wrap h-auto    " style="top: 0.1rem; ">
            {% if exist_credit == False %}
            <a href="{% url "customer:create-credit-new" c.id  %}" class="me-2" style="width: max-content;">
                  <button class=""  
                        style='border-radius: 1.5rem; width: 7rem;
                        color: #ffffff !important;
                        font-weight: 600;
                        background-color: rgb(0, 132, 255) !important;  ' >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill text-white" style="margin-bottom: 2px;" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                        Nuevo
                  </button>
            </a>
            {% else %}
            <!-- Button trigger modal -->
      <button class=""  
      style='border-radius: 1.5rem; width: 7rem; height: 2.5rem;
      color: #ffffff !important;
      font-weight: 600;
      background-color: var(--bg-enfasis) !important;  '  data-bs-toggle="modal" data-bs-target="#exampleModal">
            + Credito
      </button>
      {% endif %}
            

      </div>
      <!-- <div class="w-100 p-2">
            <strong class="text-black-50" style="font-size: 12px;">
                  Acciones
            </strong>
      </div> -->
      <!-- <div class="w-100 p-2 pb-1 pt-0  ">
            <strong class="text-black-50" style="font-size: 12px;">
                  Acciones
            </strong>
      </div> -->
      <div class="w-100 d-flex   justify-content-around flex-wrap  position-relative " >
            {% if cuotas %}   
            <div class="d-flex justify-content-start d-none w-100  overflow-scroll">
                  <button data-aos="fade-right" id="{{c.id}}" class="btn btn-apple btn-primary bg-transparent mx-2" onclick="OpenCloseBtnCredit(this.id)"> 
                  Abrir credito</button>
                  <button data-aos="fade-right" class="btn btn-apple btn-primary bg-transparent mx-1" onclick="toggleDiv('historial')"> 
                        Movimientos
                  </button>
                  <button data-aos="fade-right" class="btn btn-apple btn-primary bg-transparent mx-1" onclick="toggleDiv('voucher')"> 
                        Comprobantes
                  </button>
                        <!-- <button data-aos="fade-right" class="btn btn-apple btn-primary bg-transparent mx-1" onclick="toggleDiv('voucher')">  -->
                              <!-- <img src="{% static "icons/file.png" %}" width='24' alt="">  Archivos</button>
                              <button data-aos="fade-right" class="btn btn-apple btn-primary bg-transparent mx-1" onclick="toggleDiv('voucher')"> 
                                    <img src="{% static "svg/config.svg" %}"  width='24' alt="">  Configuraciones</button>
                                    <button data-aos="fade-right" class="btn btn-apple btn-primary bg-transparent mx-1" onclick="toggleDiv('voucher')"> 
                                          <img src="{% static "svg/calendar.svg" %}"  width='24' alt="">  Calendario</button> -->
            </div>
            <div  class='d-flex flex-wrap d-none position-absolute start-0 ms-3  z-3 blur top-0   shadow bg-opacity-10 justify-content-end mb-3 p-2  ' id='div-credit{{c.id}}'
            style="border-radius: 1.5rem; width: 400px; margin-top: 4rem;">
            <section class="d-flex w-100  justify-content-center ">
  
                  <div class='form-floating w-100 m-1 justify-content-center' >
                        <input type="text" class='form-control monto-input  ' value="999" id='monto{{c.id}}' placeholder='Monto a recibir' style='border-radius:2rem !important; '>
                        <label for="monto{{c.id}}">Monto requirido</label>
                  </div>

                  <div class="form-floating w-100 m-1 justify-content-center">
                        <input type="date"   class=' form-control' id='dia{{c.id}}'  style=" border-radius: 2rem;">
                        <label for="dia{{c.id}}">Dia de pago</label>
                  </div>
            </section>
            <div class="w-100">
                  <span id="result-cuota{{c.id}}">

                  </span>
            </div>
            <div class=''>
                  
                  <input type="text" class='m-0 mt-1 d-none  form-control input' id='monto_pagar{{c.id}}' placeholder='Monto a pagar' style='border-radius:2rem !important;'>
            </div>
            <span class='d-flex pe-2 mt-1 w-100 justify-content-end'>

                  <button onclick="restar(this.id)" class='bg-transparent border-0 m-0 me-2 p-0' id='{{c.id}}'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-dash-circle text-danger" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg> 
                        {% comment %} Restar {% endcomment %}
                  </button>
                  
                  <input type="number" min="0" class='m-0 text-center border-0  overflow-visible bg-transparent' value='1' id='cuotas{{c.id}}'   style='max-width: 3rem !important;' placeholder='Cuotas'>
                  <button onclick="sumar(this.id)" class='border-0 bg-transparent p-0 m-0 ' id='{{c.id}}'>
                        {% comment %} Sumar {% endcomment %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle text-primary" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                  </button>
            </span>
            <div class='w-100 mt-4 pt-3 d-flex  justify-content-end'>
                  <button onclick='OpenCloseBtnCredit(this.id)' id='{{c.id}}' class=' bg-transparent border-0'>Cancelar</button>
                  <button onclick='CreateCreditAjax2(this.id)' id='{{c.id}}' class='text-white border-0 ' style='
                 background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
                  border-radius: 1.5rem; width: 7rem;'> Crear</button>
            </div>

      </div>
            <div class="w-100 p-2  pt-0 pb-0 ">
                  <div class="grey-s ps-3 pe-3" style="width: max-content;">
                        <span class="text-black-50" style="font-size: 14px; font-weight: 500;">
                              Listados de creditos
                        </span>
                  </div>
            </div>
            <div class='d-flex justify-content-start p-2 pt-0 mb-0 overflow-scroll   w-100 align-content-center '>
                  {% include "components/list-credi.html" %}
            </div>

  
                
   
           <div class="  me-2 ms-2 w-100  mt-0 bg-white d-flex flex-wrap justify-content-center align-content-start overflow-auto  " 
           style="height: 57vh; border-radius: 1.5rem; 

           border: dotted 1px rgb(217, 217, 217);">
            <table class=" w-100 b rounded-4 m-2   mt-2 ">
            
                  <thead>
                        <tr>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 6%;">#</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 10%;">Cuota</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 10%;">Mora</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 14%;">Monto pagado</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 10%;">Restante</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 17%;">Dias de atraso</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 10%;">Termina</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; width: 12%;">Vencimiento</th>
                              <th class="text-center pb-2" style="font-size: 12px; font-weight: 400; color: #454545 !important; min-width: 250px;">
                                    Fecha y hora de pago      
                              </th>
                        </tr>  </thead>
                  
                  <tbody >
                        
                        {% for cuota in cuotas %}
                        <tr>
                              <td style="font-size: 10px;">  
                                    {% if cuota.estado %}  
                                    <div  id="{{cuota.id}}" class="green-span   mt-2 d-flex justify-content-center flex-wrap cuota-left align-content-center" style="height: 2rem; cursor: pointer;">
                                          {{ forloop.counter }}
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-patch-check-fill ms-2  text-primary" viewBox="0 0 16 16">
                                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                                </svg> 
                                     </div>
                                    {% else %}
                                    <div onclick="GetCuota(this.id)" id="{{cuota.id}}" class="grey-span mt-2 d-flex justify-content-center flex-wrap cuota-left align-content-center" style="height: 2rem; cursor: pointer;">
                                                {{ forloop.counter }}
                                     </div>
                                    
                                    {% endif %}

                         </td>
                              <td> 
                                 <div class="grey-span mt-2 d-flex justify-content-center flex-wrap align-content-center" style="height: 2rem;">

                                          ${{ cuota.cuota|intcomma }}.00 

                                 </div>
                              </td>
                              <td>
                                    <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;">
                                          ${{ cuota.mora|intcomma }}.00
                                          {% comment %} {% if cuota.estado != True %}
                                                      {% if cuota.end_date < today %}
                                                            <button id='{{cuota.id}}' onclick='CalcularMora(this.id)'>
                                                                  Calcular
                                                            </button>
                                                            {% else %}
                                                            0.00
                                                      {% endif %}
                                          {% endif %} {% endcomment %}
                                    </div>
                              </td>
                              <td>
                                    <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;">
                                    {% if cuota.abonado > 0 %}
                                    ${{ cuota.abonado|intcomma }}.00
                                    {% else %}
                                    ...
                                    {% endif %}
                              </div>  
                                          
                              </td>
                              <td>
                                    <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;">
                                    {% if cuota.abonado > 0 %}

                                        ${{ cuota.restante|intcomma }}.00
                                        {% else %}
                                        ...
                                        {% endif %}
                                  </div>  
                                          
                              </td>
                              <td >  
                              <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;">
                                          {% if cuota.estado %}  
                                                {% if cuota.dias_en_atraso == 0 %}
                                                      Sin retrasos
                                                      {% else %}
                                                      {{cuota.dias_en_atraso}} días de atraso 
                                                {% endif %}
                                          {% else %}
                                          {% if cuota.dias_en_atraso == 0 %}
                                                      ...
                                                      {% else %}
                                                {{ cuota.dias_en_atraso }} días en atraso 
                                          {% endif %}
                                          </div>
                                    

                                    {% endif %}  </td>
                                    <td class="text-capitalize"> 
                                          <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;">{{cuota.start_date|date:"M/d/Y"}} </div> </td>
                                    <td class="text-capitalize">
                                               {% if cuota.estado != True %}

                                                      
                                                      {% if cuota.end_date < today %}
                                                            <div  class="danger-span mt-2 d-flex justify-content-center flex-wrap align-content-center" style="height: 2rem;"> 
                                                                  {{ cuota.end_date|date:"M/d/Y" }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash ms-2" viewBox="0 0 16 16">
                                                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                                                      </svg>
                                                            </div> 
                                                      {% else %}
                                                            <div  class="grey-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;"> 
                                                                  {{ cuota.end_date|date:"M/d/Y" }}
                                                            </div> 
                                                      {% endif %}
                  
                                                      {% else %}
                                                      <div  class="green-span d-flex mt-2 justify-content-center flex-wrap align-content-center" style="height: 2rem;"> 
                                                            {{ cuota.end_date|date:"M/d/Y" }}      
                                                      </div> 
                                                {% endif %}
                                                </td>

                              <td class=" ">
                                    {% if cuota.estado != True %}
                                    <div class="d-flex mt-2 " style="height: 2rem;">
                                          <input type="text" id="ct-p{{ cuota.id }}"  class="bg-white  bg-opacity-10 inputs  d-none p-1 ps-3  outline-none" placeholder="Cantidad" min="{{cuota.mora}}"
                                           value="{{cuota.cuota}}" max="{{ cuota.restante }}" style="border-radius: 1.5rem; width: 50%; 
                                          border: 1px solid rgb(236, 236, 236)   ; ;">
                                          <button onclick="AplicarPago(this.id)" disabled="true" class=' btn-es ms-2 border-0  p-0 '  style="width: 100%; height: 2rem; background-color: #f1f1f168 !important;" id="{{ cuota.id }}">
                                                ...
                                          </button>
                                    </div>
                                    {% else %}
                                    <div class="d-flex" style="">
                                         <!-- <span class="mt-0 ms-3  mt-2 green-span me-1 ms-1 d-flex justify-content-center align-content-center flex-wrap ps-3 pe-3"> </span> -->
                                          <span class="grey-span mt-2 ms-2 w-100 d-flex justify-content-center align-content-center flex-wrap ps-3 pe-3" style="height: 2rem;">

                                          {{ cuota.last_pay|date:"F d, Y" }} - {{ cuota.last_time_pay|date:"h:i a" }}
                                          
                                          </span>
                                    </div>
                                    {% endif %}
                              </td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table> 
            <div class="d-flex flex-wrap align-content-center w-100 justify-content-end  position-sticky bottom-0 rounded-0 bg-white bg-opacity-50 blur rounded-5" style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
                  <div class="justify-content-start     pe-5  bottom-0 d-flex rounded-0" 
                  style="background-color: #ffffff00; border-top: 0px rgb(207, 207, 207) solid; ">


                  <div class="m-0 p-0 ms-1 me-1 " style=" margin-top: 2px !important; font-size: 12px;">
                        <label for="paymentMethod" class="form-label">Modo de pago</label>
                        <select class="border-0 rounded-4  p-2" style="font-weight: bold;" id="paymentMethod">
                              <option class="text-white" value="normal">Saldar Cuota</option>
                              <option class="text-white" value="abonar">Abonar al capital</option>
                              <option class="text-white" value="acuerdo">Acuerdo de pago</option>
                              <option class="text-white" value="intereses">Abonar Intereses</option>
                        </select>
                  </div>
                         <!-- <span class="grey-span"><strong>Capital $</strong>{{ credit.amount|intcomma }}.00</span> -->
                  <script>
function handlePaymentMethodChange() {
      var input_s = document.querySelector('.input-personalizado')
            let btnAplicar_pago = document.querySelector('.aplicar-pago') 
            const paymentSelect = document.getElementById("paymentMethod");
            const selectedValue = paymentSelect.value;

            

                  if (selectedValue === "abonar") {
                        btnAplicar_pago.classList.add('d-none')
                        input_s.classList.remove('d-none')


                        input_s.addEventListener("input", function (e) {
                        let value = e.target.value;

                        // Elimina todo lo que no sea dígito
                        value = value.replace(/[^0-9]/g, "");

                        // Formatea el número con comas como separadores de miles
                        const formattedValue = new Intl.NumberFormat().format(value);

                        // Muestra el valor formateado
                        e.target.value = formattedValue;
                        document.querySelector('#total-a-apagar').innerHTML = 'DOP$'+ formattedValue + '.00'

                        let value_replace = value.replace(/\D/g, '');
            
                        // Convierte el valor a número y lo compara con el máximo
                        let max = parseInt(this.getAttribute('max'));
                        console.log(max);
            
                        if (parseInt(value_replace) > max) {
                              // Si el valor es mayor al máximo, ajusta el valor al máximo permitido

                            
                        }



                  });


                  
                  }
                  if (selectedValue === "normal") {
                        btnAplicar_pago.classList.remove('d-none')
                        input_s.classList.add('d-none')
                  }
  }
      // Escucha el evento de entrada en el campo


  // Escucha el evento de cambio en el select
  document.getElementById("paymentMethod")
    .addEventListener("change", handlePaymentMethodChange);
                  </script>
                  <div class="di-cn">
                       <span class="grey-span">  <strong> Tasa</strong> 
                              {% if credit.tasa == 0 %}
                                    15%
                              {% else %}
                                    {{ credit.tasa }}%
                              {% endif %}
                              </span>
                  </div>
                  {% comment %} <div class="di-cn">
                        <span class="grey-span" > <strong>Capital mas intereses</strong>
                              {% if cc == 1 %}
                              $00.00
                              {% else %}
                              ${{ cc|intcomma }}.00
                              {% endif %}
                        </span>
                  </div> {% endcomment %}
                  <div class="di-cn">
                         <span class="grey-span"> <strong>Pagado $</strong>{{ cp|intcomma }}.00</span>
                  </div>
                  <div class="di-cn">
                         <span class="grey-span">
                              <strong>Saldar con $</strong>{% if cc == 1 %}00.00
                              {% else %}{{ cc|intcomma }}.00
                              {% endif %}
                        </span>
                  </div>
                  <div class="di-cn">
                       <span class="grey-span">  <strong>Pagos</strong>  {{ p_cuotas }} / {{c_cuotas}} </span>
                  </div>
            
                  <span class="align-content-center"> 

                        
                        <strong class="ms-3" style="color: #5b5b5b ; font-size: 12px;"> </strong> 
                        <span id="total-a-apagar" class="me-4" style="font-size: 16px; font-weight: bold;">$0.00</span>
                  </span>
                  <button onclick="AplicarPagoCuota()" class="border-0 mb-1 me-1  position-relative aplicar-pago  text-white rounded-5"  disabled="true" style="background-color: var(--bg-enfasis); font-weight: bold; ">
                       Aplicar  pago  
                       <span id="select-cuota" class="position-absolute top-0 end-0 text-white rounded-circle d-flex flex-wrap align-content-center justify-content-center text-black p-2" 
                       style="font-size: 12px; height: 20px; width: 20px; background-color: rgb(43, 138, 255);">0</span>
                  </button>

                  <input type="text" name="" placeholder=""  class="border-0 d-none text-center  text-black-50 input-personalizado" maxlength="{{cc}}" max="{{cc}}" style="height: 2.3rem; border-radius: 1.8rem; outline: none;
                  background-color: var(--bg-secundary); width: 7rem;">
            </div>
            </div>
             </div>
  
            {% endif %}
      </div>
      
      
      {% if cuotas == none %}
      <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <button class="bg-white z-n1 mt-5" style="border-radius: 2rem;"> 
                  Ver      
            </button>
      </form>
      {% endif %}
      
      
      <div class=" position-sticky bottom-0 w-100 start-0  text-white text-center ">

            <div id="historial" class="position-absolute top-50 start-50 translate-middle bg-white p-3 d-none" style="z-index: 1050;">
                  <button class="btn btn-danger" onclick="closeDiv('historial')">Cerrar</button>
                  <p>Contenido del Historial</p>
            </div>

            <div id="factura" class="position-absolute top-50 start-50 translate-middle bg-white p-3 d-none" style="z-index: 1050;">
                  <button class="btn btn-danger" onclick="closeDiv('factura')">Cerrar</button>
                  <p>Contenido de Generar Factura</p>
            </div>

            <div id="voucher" class="position-absolute top-50 start-50 translate-middle bg-white p-3 d-none" style="z-index: 1050;">
                  <button class="btn btn-danger" onclick="closeDiv('voucher')">Cerrar</button>
                  <p>Contenido del Voucher</p>
            </div>

            <script>
            function toggleDiv(divId) {
                  const divs = ['historial', 'factura', 'voucher'];
                  divs.forEach(id => {
                        if (id === divId) {
                              document.getElementById(id).classList.toggle('d-none');
                        } else {
                              document.getElementById(id).classList.add('d-none');
                        }
                  });
            }

            function closeDiv(divId) {
                        document.getElementById(divId).classList.add('d-none');
                  }
            </script>
      </div>
      {% else %}
      <div class="d-flex flex-wrap justify-content-center align-content-center h-100 w-100">
            <div class="alert alert-warning rounded-5 p-2" role="alert">
                  
            </div>
            <span class="w-100">
                  <div class="warning vh-100 d-flex justify-content-center align-content-center flex-wrap w-100">
                        <h6 class="p-2 w-100 text-center pt-0 pb-0">
                              Ha ocurrido un error. Por favor, inténtelo de nuevo más tarde.
                        </h6>
                        <p class="text-black-50  w-100 d-flex justify-content-center text-center" 
                              style="font-size: 12px; border-radius: 2rem; ">
                              Actualmente no existen creditos, o vuelve a buscar y seleccionar el credito, este mensaje aparecera siempre que se halla eliminado o no encontrado el credito  <a class=" bg-black  bg-opacity-10 ms-2 justify-content-center text-primary 
                              " href="{% url "customer:list-customer" %}" style="max-width: 4rem;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill text-primary me-1" style="margin-top: 3px;" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                  </svg>
                                  Atras
                              </a>
                        </p>
                     
                     
                  </div>
            </span>
      </div>  
{% endif %}

</section>
<input type="number" value="{{cc}}" class="d-none input-ip">
<input type="text" id="{{cuotas.id}}" class="d-none inp-id">
<input type="text" id="cuotas_credit{{credit.id}}" class="d-none input-credit">
<style>
      .selected
      {
            background-color: #e6f6ff !important;
            color: #052233 !important;
      }
</style>
<script>

      function AplicarPagoCuota() {
            let total = 0;
            let selectedCount = 0;
            let list_ids = [];
            document.querySelectorAll('.cuota-left').forEach(cuota => {
                  if (cuota.classList.contains('selected')) {
                        total += parseInt(document.getElementById('ct-p'+cuota.id).value);
                        selectedCount++;

                        let ent = parseInt(cuota.id);
                        list_ids.push(ent);
                  }
            });
            console.log(list_ids)
            list_ids.join(',')
            $.ajax({
                  url: '/aplicar-pago-cuota',
                  data: {
                        list_ids: JSON.stringify(list_ids),
                  },
                  success: function(r) {
                        window.location.reload();
                  },
            })



      }


      function GetCuota(id) {
            let total = 0;
            let list_ids = [];
            let selectedCount = 0;
            document.getElementById(id).classList.toggle('selected');
            document.querySelectorAll('.cuota-left').forEach(cuota => {
                  if (cuota.classList.contains('selected')) {
                        total += parseInt(document.getElementById('ct-p'+cuota.id).value);
                        selectedCount++;
                        list_ids.push(cuota.id);
                  }
            });


            document.getElementById('select-cuota').innerText = selectedCount;
         
            document.getElementById('total-a-apagar').innerText = '$' + total.toLocaleString() + '.00';

            

            console.log(total);
            if (total > 0) {

                  document.querySelector('.aplicar-pago').disabled = false


            } else {
                  document.querySelector('.aplicar-pago').disabled = true

            }
            


      }


document.addEventListener('keydown', function(event) {
      if (event.key === 'Escape') {
            const facturaElement = document.getElementById('factura');
            if (!facturaElement.classList.contains('d-none')) {
                        GenerarFactura();
            }
      }
});

function GenerarFactura() {
      document.getElementById('factura').classList.toggle('d-none' );
}
const today = new Date();
const formattedDate = today.toLocaleDateString('es-ES', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric'
});
document.getElementById('day_date').innerText = formattedDate;




let input_credit = document.querySelector(".input-credit");
if (input_credit) {
      document.getElementById(input_credit.id).classList.add( 'flip-up', 'borde-color') ;   
      
}









function AplicarPago(ID){

            let input = document.getElementById('ct-p'+ID).value

  
      $.ajax({
            url:  '/aplicar-pago',
            data: {
                  id: ID,
                  input:   input.replace(/,/g, ''),
            },
            success: (D) => { 
                  if (document.getElementById(D.id)) {
                        document.getElementById(D.id).classList.add('d-none');
                  }
                  if (document.getElementById('check' + D.id)) {
                        document.getElementById('check' + D.id).classList.remove('d-none');
                  }  location.reload();
            } 
      })
}


document.querySelectorAll('.inputs').forEach(input => {
      input.addEventListener('input', function(e) {

            
            let btnID = this.id.replace(/\D/g, '');
            // Remueve todo lo que no sea dígito
            let value = this.value.replace(/\D/g, '');
            
            // Convierte el valor a número y lo compara con el máximo
            let max = parseInt(this.getAttribute('max'));
            console.log(max);
 
            if (parseInt(value) > max) {
                  // Si el valor es mayor al máximo, ajusta el valor al máximo permitido
                  // value = max.toString();
            }

            // Añade comas en los lugares correctos
            this.value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            // Cambia el borde si el valor es igual al máximo
            if (parseInt(value) === max) {
                  this.style.border = '2px solid green';
            } else {
                  this.style.border = ''; // Restablece el estilo original si no es igual al máximo
                  this.style.border = '1px solid #efefef';
            }

            // Evita letras y otros caracteres no numéricos
            if (/\D/.test(e.data)) {
                  this.value = this.value.replace(e.data, '');
            }

            // Muestra el botón si hay un valor en el input
            if (value) {
                  document.getElementById(btnID).disabled = false;
                  document.getElementById(btnID).classList.add('btn-es-on');
                  
                  
            document.getElementById(btnID).textContent = 'Abonar';
            if (parseInt(value) > max) {
                  this.style.border = '2px solid green';
            } 
            else if (parseInt(value) == max) {
                  let ab = max
                   document.getElementById(btnID).textContent = 'Saldar cuota $' + ab.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '.00';  
                  
            }
            
            
            if (parseInt(value) > max){
                  let ab = parseInt(value)  - max
                  document.getElementById(btnID).textContent = 'Saldar y abonar $' + ab.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');  
                  if (parseInt(value) >= parseInt(document.querySelector('.input-ip').value)) {
                        this.value = parseInt(document.querySelector('.input-ip').value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        document.getElementById(btnID).textContent = 'Saldar  $' + this.value + '.00';
                  } 
             }


            } else {
                  document.getElementById(btnID).disabled = true;
                  document.getElementById(btnID).textContent = 'N/A';
                  document.getElementById(btnID).classList.remove('btn-es-on');
            }  });
});

document.querySelectorAll('.inputs').forEach((input, index) => {
      if (index > 0) {
            input.disabled = true;  
            input.classList.add('input-of');
            input.setAttribute('placeholder', 'N/A');
            


            
      }
});

function OpenCloseBtnCredit(btn_id) {
      const div = document.getElementById('div-credit' + btn_id);
      if (div.classList.contains('d-none')) {
            div.classList.remove('d-none');
            div.classList.add('d-block');
      } else if (div.classList.contains('d-block')) {
            // document.getElementById('div-list-customer').classList.add('   ')
            div.classList.remove('d-block');
            div.classList.add('d-none');
      }
}

function sumar(n) {
      var inputNumero = document.getElementById("cuotas"+n);
      var valorActual = parseInt(inputNumero.value);
      inputNumero.value = valorActual + 1;
      let numero_input = document.getElementById("monto"+n)
      let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      SuperCalAuto(capital, document.querySelector("#cuotas"+n).value, 
      0.15, 
      "result-cuota"+n,
      n
      )
};

function restar(n) {
      var inputNumero = document.getElementById("cuotas"+n);
      var valorActual = parseInt(inputNumero.value);
      let numero_input = document.getElementById("monto"+n)
      if(valorActual > 0) {
            inputNumero.value = valorActual - 1;
      }

      let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      SuperCalAuto(capital, document.querySelector("#cuotas"+n).value, 
      0.15, 
      "result-cuota"+n,
      n
      )
}

function CreateCreditAjax2(id){
      const url = '/create-credit-ajax/customer/';
      OpenCloseBtnCredit(id)
      let monto = document.getElementById('monto'+id).value
      let monto_cls = monto.replace(/,/g, ''); // Elimina las comas existentes
      let mt_monto = parseInt(monto_cls)
      let cuotas = document.getElementById('cuotas'+id).value
      let cuotas_cls = cuotas.replace(/,/g, ''); // Elimina las comas existentes
      let mt_cuotas = parseInt(cuotas_cls)
      let monto_pagar = document.getElementById('monto_pagar'+id).value
      let monto_pagar_cls = monto_pagar.replace(/,/g, ''); // Elimina las comas existentes
      let mt_monto_pagar = parseInt(monto_pagar_cls)

      $.ajax({
            url: url,
            data: {
            customer_id: id,
            monto: mt_monto,
            cuotas: mt_cuotas,
            dia: document.getElementById('dia'+id).value.split('-')[2] ,
            monto_pagar: mt_monto_pagar,

            }, success: function(r) {
                  location.reload();
            },
      })
}

let SuperCalAuto = (capital, plazo, tasa, result, id_mont)=> {
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            }); }
      let totales = capital + totalIntereses
      // const numero = parseFloat(count_input.value);
            
      document.querySelector('#'+result).innerHTML = 'Cuotas mensuales de: $' + Cuotas.toLocaleString(undefined,
                              {maximumFractionDigits: 0}) + '.00';

      let precio_cuota = document.getElementById("monto_pagar"+id_mont)
      precio_cuota.value = Cuotas.toFixed(2)

      let mont = document.getElementById("monto"+id_mont)
      if(mont.value != ''){
            let numero = mont.value.replace(/,/g, ''); // Elimina las comas existentes
            if (!isNaN(numero) && numero.trim() !== '') {
                mont.value = parseFloat(numero).toLocaleString();
            } else {
                mont.value = mont.value.replace(/[^\d.]/g, ''); 
                // Elimina cualquier carácter no numérico excepto el punto decimal
            }
      }

}

const inputs = document.querySelectorAll('.monto-input');
// Añade un evento de enfoque a cada uno
inputs.forEach(input => {
      input.addEventListener('focus', function() {
            id_input_select = this.id
            let si = document.querySelector("#"+id_input_select)
            si.addEventListener('input', function() {
            let lkj = this.id
            let delt = lkj.replace(/\D/g, '');
            let numero_input = document.getElementById(this.id)
            let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
            let capital = parseInt(numero)
            SuperCalAuto(capital, document.querySelector("#cuotas"+delt).value, 
            0.15, 
            "result-cuota"+delt,
            delt
            )
            });
      });
});


function CalcularMora(id){
      $.ajax({
            url: '/calcular-mora',
            data: {
                  id: id,
            },
            success: function(r) {
                  {% comment %} location.reload(); {% endcomment %}
            },
      })
}

</script>
{% endblock  %}