 {% include "base/base.html" %}
{% block content %}
{% load static %}
<!-- 
      Si
-->
<style>
      #id_name_r1, #id_name_r2 {
            margin: 0 !important;
      }
      @media (max-width: 730px){
            .form-add-c .form-floating   {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center !important;
                  background-color: #f5faff70 !important;
                  /* background-color: #a1d0ff !important; */

                  /* min-width: 100% !important; */
            }
            .form-add-c .form-floating    {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  margin: 0 0.3rem;
            }
            .form-select {
                  width: 100% !important;
                  
            }

            
.form-check  .form-check-input {

      max-width: 60px !important;
}
      .form-floating  input {
                  width: 100% !important;
            }
      }

.section p 
{
      font-size: 13px !important;
}
</style>
<section  class="position-relative   container-fluid  p-0 mb-5 ">
            <form  method="post" class="form-add-c m-0" enctype='multipart/form-data'>
                  {% csrf_token %}
                        <div class="sL d-flex flex-wrap align-content-center" id="sL1">
                              {% include "components/data-person.html" %}
                              <div class='w-100 justify-content-center d-flex'>
                                    <button class="scroll-btn" onclick="scrollToNext()">Siguiente</button>
                              </div>
                        </div>
                            <div class="sL" id="sL2">
                              <button onclick='scrollToLast()'>Atras</button>
                        
                                <button class="scroll-btn" onclick="scrollToNext()">Siguiente</button>
                            </div>
                            <div class="sL" id="sL3">
                              <button onclick='scrollToLast()'>Atras</button>
                        
                                <button class="scroll-btn" onclick="scrollToNext()">Inicio</button>
                            </div>
                            <div class="sL" >
                              <button onclick='scrollToLast()'>Atras</button>
                              4
                                <button class="scroll-btn" onclick="scrollToNext()">Inicio</button>
                            </div>
                            <div class="sL" >
                              5
                              <button onclick='scrollToLast()'>Atras</button>
                        
                                <button class="scroll-btn" onclick="scrollToNext()">Inicio</button>
                            </div>

      
                        {% include "components/cedula.html" %}

                  {% include "components/info-laboral.html" %}
                        
                  {% include "components/referens.html" %}

                        {% include "components/options.html" %}

                        {% include "components/monto-fines.html" %}

                        {% include "components/location.html" %}

                        {% include "components/send.html" %}
            </form>
            <div class="w-100 mt-5 mb-5">
                  <hr class="container text-white mt-3 mb-2">
            </div>
      </section>

{% include "components/style.html" %}
{% include "components/scripts.html" %}
{% endblock  %} 


 

<style>
      body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100%;
        }
        
        .sL {
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            transition: transform 1s cubic-bezier(0.1, 0.0, 0.2, 1.0)
        }
        
        #sL1 {
            background-color: lightcoral !important;
        }
        
        #sL2 {
            background-color: lightseagreen !important;
        }
        
        #sL3 {
            background-color: lightblue !important;
        }
        
        .scroll-btn {
            margin-bottom: 20px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        
</style>

<script>
      let n = 2
      const sections = document.querySelectorAll('.sL');
      const sections_max = sections.length ;
      function scrollToNext() {
            if(n <= sections_max ) {
                  sections.forEach((section, index) => {
                      if (index + 1 === n) {
                          section.style.transform = `translateY(${-(index) * 100}vh)`;
                      } else if (index + 1 < n) {
                          section.style.transform = `translateY(-100vh)`;
                          
                        } else {
                              section.style.transform = `translateY(0vh)`;
                        }
                  });
                  n += 1

                  console.log(n)
            }
            }

function scrollToLast() {
      if (n > 1) {
            sections.forEach((section, index) => {
                  if (index + 1 === n - 1) {
                  section.style.transform = `translateY(${-(index) * 100}vh)`;
                  } else if (index + 1 < n - 1) {
                  section.style.transform = `translateY(-100vh)`;
                  } else {
                  section.style.transform = `translateY(0vh)`;
                  }
            });
            if(n > 2){
                  n -= 1;
            }
      
            console.log(n);
      }
}


        
</script>