{% include "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<div class="w-100  container  justify-content-center  d-flex justify-content-between"
      style="min-height: 10rem; padding-top: 4rem;">
      <span class="span-animation mt-5 pt-5" style="min-width: 2rem; min-height: 1rem; background-color: rgba(255, 133, 133, 0.473);">s</span>
      <span class="span-animation" style="min-width: 2rem; height:1rem; background-color: rgba(222, 137, 255, 0.438);">s</span>
      <span class="span-animation" style="min-width: 1rem; height:1.3rem; background-color: rgba(128, 179, 255, 0.404);">s</span>
      <span class="span-animation" style="min-width: 10rem; height:1.3rem; background-color: rgba(128, 255, 244, 0.445);">s</span>
      <span class="span-animation mt-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(255, 128, 177, 0.404);">s</span>
      <span class="span-animation mb-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(153, 255, 128, 0.349);">s</span>
</div>


<section class="container-fluid d-flex flex-wrap justify-content-center h-100 w-100 position-fixed top-0 blur bg-white bg-opacity-75">

      
      <div class="" style="border-radius: 1.3rem; height: max-content; min-width: 300px; max-width: 450px;">
            <div class="p-4 d-flex  flex-wrap   w-100">
                  <div class="d-flex justify-content-center w-100">
                        <div class="d-flex  flex-wrap  w-100 justify-content-center">
                              <strong style="  font-family: Quicksand, sans-serif;
                              color: black;
                              font-optical-sizing: auto;">              
                              <img src="{{setting.Icon.url}}" width="30" alt="">
                              GRUPO FYCAS 
                        </strong>
                        </div>
                  </div>
            </div> 
      <h4 class="p-0 m-0 text-center mb-2" style="font-family: Quicksand, sans-serif;
      color: black;
      font-optical-sizing: auto">
            Cliente Firmado
      </h4>
      
      <div class="card p-3"  style="border-radius: 1.3rem; background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); ">
            <span><strong>Nombre:</strong> {{credit.customer.name}} {{credit.customer.last_name}} </span>
            <span><strong>Cedula:</strong> {{credit.customer.dni}}  </span>
            <span><strong>No.Cuenta:</strong>{{credit.no_account}}</span>
            <span><strong>Monto:</strong> RD${{credit.amount|intcomma}}.00</span>
            <span><strong>Cuotas:</strong> 
                  {{credit.price_feed}} a RD${{credit.amount_feed|intcomma}} los dias {% if credit.mode_pay == True %}
                  (15) - (30)
                  {% else %}
                  ({{credit.day_pay}})
                  {% endif %}
            </span>
            <span><strong>Fecha:</strong>
                   {{credit.day_number}} / <span class="text-capitalize">{{credit.mont}}</span> / {{credit.year_number}}  
            </span>
      </div>
      <a style="font-family: Quicksand, sans-serif;
      color: black;
      font-optical-sizing: auto;" class="text-primary" href="{% url "customer:update-customer" credit.customer.id %}">                   
                        
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
            </svg>

            Mas sobre el cliente 
      </a>
      </div>
</section>

{% endblock  %}