{% extends "base/base.html" %}
{% block content %}

<!-- 
      <div class='d-flex  justify-content-end bg-white opacity-50 position-fixed top-0 p-2 end-0'
            style="z-index: 10;">
            <div class="bg-white opacity-75  d-flex  ps-3 p-1" 
                  style="border-radius: 2rem; width: 19.9rem; 
                  height: 3rem; border: 1px solid rgba(170, 170, 170, 0.398);" >
                  <input type="text" placeholder="Filtrar deudor"  class=" border-0 bg-transparent " style="font-size: 14px; width: 18rem;">
                  <button class="send bg-primary  d-flex justify-content-center align-content-center flex-wrap rounded-circle border-0 text-white p-1" 
                  style="height: 2rem; width: 2rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                              </svg>
                  </button>
            </div>
      </div> -->

      <div class=" w-100 pt-4 h-100 bg-white bg-opacity-50 " 
            style="height: max-content;">
           <section class="w-100 d-flex flex-wrap">
            {% for c in c %}
            <div class='card mt-1 p-2 m-1 bg-white  ' 
                  style='border-radius: 1.5rem;  width: 100%; max-width: 315px;
                  height: 10rem; border: 1px solid rgba(170, 170, 170, 0.281);'>
                  <div class="form-check">
                       <strong>    
                              <img src="/Customer/static/bg-4.jpg" alt=""  
                              style="width: 40px; height: 40px; border: 4px solid rgba(255, 225, 225, 0.631);"
                              class="rounded-circle me-1">
                              {{ c.name }} {{ c.last_name }} </strong> <br>
                        <span class='text-capitalize text-black-50' style='font-size:12px;'> {{ c.company }} - {{ c.day_created|date:"F/d/Y" }} </span> <br>
                        <div class='mt-2'>
                              <span style='font-size:12px;' class='text-black-50'>
                                    El estado del deudor indica que esta en modo
                              </span>
                        </div>
                        {% if c.debit_follow %}
                        <input onclick='TurnDebitCustomerFollow(this.value)' class="form-check-input" type="checkbox" value="{{c.id}}" checked id="s{{ c.id }}">
                        <label class="text-primary form-check-label ms-1" for="s{{ c.id }}">
                              Siguiendo
                        </label>
                        {% else %}
                        <input onclick='TurnDebitCustomerFollow(this.value)'  class="form-check-input" type="checkbox" value="{{c.id}}" id="s{{ c.id }}">
                        <label  class="form-check-label ms-1" for="s{{ c.id }}">
                             <span class="text-black-50"> Seguir</span>
                              <br>
                        </label>
                        {% endif %} 
                  </div>

            </div>
      {% endfor %}
           </section>
      </div>


<script>
      function TurnDebitCustomer(id) {
            $.ajax({
                  url: '/turn-debit/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }

      function TurnDebitCustomerFollow(id) {
            $.ajax({
                  url: '/turn-debit-follow/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
function TurnDebitCustomerActive(id) {
            $.ajax({
                  url: '/turn-debit-active/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
</script>
{% endblock %}
