{% include "base/base.html" %}
{% block content %}

<section class='container-fluid d-flex flex-wrap  justify-content-center' style='z-index: 100;'>
      <div class='w-100'>
            Listado de clientes <br>
            Los clientes que están marcados, son los clientes que actualmente tienen un pago atrasado <br>
            <p class='text-black-50' style='font-size: 12px;'>
                  1) Clientes en seguimientos, son los que no hicieron caso a las alertas del sistemas, estos se le asignarán al departamento de "Seguimiento" <br>
                  2) Clientes visitar, serán agregados a las listas de los mensajeros
            </p>
      </div>

      <div class='w-100 d-flex justify-content-center'>
            <h5>
                  Límite de entrega
            </h5>
            <p>
                  Al llegar la fecha de vencimiento se generará un reporte de los clientes que han pagado, que será enviado al correo 
                  <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                              <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                        </svg>  
                        grupofycas@gmail.com
                  </a> 
            </p>
      </div>

      <div class='d-flex flex-wrap justify-content-center'>
            <div class="form-floating mb-3" style='width: 320px;'>
                  <input type="date" class="form-control" id="floatingInput" placeholder="">
                  <label for="floatingInput">Fecha en la que vence</label>
            </div>
            <div class="form-floating">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Todos</option>
                        <option value="1">Al día</option>
                        <option value="2">Atrasados</option>
                        {% comment %} <option value="3">Three</option> {% endcomment %}
                  </select>
                  <label for="floatingSelect">Filtrar como </label>
            </div>

            {% comment %} <button style='height: max-content;'>
                  Agregar deudor
            </button> {% endcomment %}
      </div>

      {% for c in c %}
            <div class='card mt-1 p-2 m-1' style='border-radius: 1.5rem; width: 320px;'>
                  <div class="form-check">
                        {{ c.name }} {{ c.last_name }} <br>
                        <span class='text-capitalize text-black-50' style='font-size:12px;'> {{ c.company }} - {{ c.day_created|date:"F/d/Y" }}</span> <br>
                        
                        <div class='mt-2'>
                              <span style='font-size:12px;' class='text-black-50'>
                                    El estado del deudor indica que esta en modo
                              </span>
                        </div>
                        {% if c.debit_follow %}
                        <input onclick='TurnDebitCustomerFollow(this.value)' class="form-check-input" type="checkbox" value="{{c.id}}" checked id="s{{ c.id }}">
                        <label class="text-primary form-check-label ms-1" for="s{{ c.id }}">
                              Siguiendo
                        </label>
                        {% else %}
                        <input onclick='TurnDebitCustomerFollow(this.value)'  class="form-check-input" type="checkbox" value="{{c.id}}" id="s{{ c.id }}">
                        <label  class="form-check-label ms-1" for="s{{ c.id }}">
                              Seguir <br>
                        </label>
                        {% endif %} 
                  </div>

                  <div class="form-check">
                        {% if c.debit_visit %}
                        <input class="form-check-input" type="checkbox" value="" checked id="l{{ c.id }}">
                        <label onclick='TurnDebitCustomer(this.id)' id='{{ c.id }}' class="text-primary form-check-label ms-1" for="l{{ c.id }}">
                              Visitando
                        </label>
                        {% else %}
                        <input onclick='TurnDebitCustomer(this.value)' class="form-check-input" type="checkbox" value="" id="l{{ c.id }}">
                        <label  id='{{ c.id }}' class="form-check-label ms-1" for="l{{ c.id }}">
                              Visitar
                        </label>
                        {% endif %}  
                        <br>
                        <div class='mt-2'>
                              <span style='font-size:12px;' class='text-black-50'>
                                    Si el esta activo el deudor tiene mas de un pago atrasado
                              </span>
                        </div>
                        <div class=" w-100 m-0 p-0  form-check form-switch">
                              {% if c.debit == True %}
                              <input onclick='TurnDebitCustomerActive(this.value)' value='{{c.id}}' class="form-check-input" type="checkbox" role="switch" id="q{{c.id}}" checked>
                              <label class=" text-primary ms-1 form-check-label" for="q{{c.id}}" >
                                    Activo      
                              </label>
                              {% else %}
                              <input class="form-check-input" type="checkbox" value='{{c.id}}' role="switch" id="q{{c.id}}" onclick='TurnDebitCustomerActive(this.value)'>
                              <label  class="  ms-1 form-check-label" for="q{{c.id}}">
                                    Activo      
                              </label>
                              {% endif %}
                        </div>
                  </div>

                  <div class='mt-2 p-1'>
                        <div class="form-floating">
                              <select style='width: 285px !important;' class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected>...</option>
                                    <option value="1">Xavier</option>
                                    <option value="1">Grabiel</option>
                                    <option value="1">Dawlin</option>
                                    <option value="2">Wanda</option>
                                    {% comment %} <option value="3">Three</option> {% endcomment %}
                              </select>
                              <label for="floatingSelect">Asignar a: </label>
                        </div>
                  </div>
            </div>
      {% endfor %}
</section>

<script>
      function TurnDebitCustomer(id) {
            $.ajax({
                  url: '/turn-debit/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }

      function TurnDebitCustomerFollow(id) {
            $.ajax({
                  url: '/turn-debit-follow/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
function TurnDebitCustomerActive(id) {
            $.ajax({
                  url: '/turn-debit-active/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
</script>
{% endblock %}
