{% load static %}
{% load humanize %}

<style>
      a 
      {
            color: grey;
      }
</style>

                  {% for credit in credit %}
                  <div class='bg-white p-2 m-1 text-black-50 bg-opacity-50' 
                  style=" width: 100%; max-width: 27rem;
                  font-size: 14px;
                  border-radius: 1rem; box-shadow: var(--shadow-one);">
                  <div>
                        <strong  class="">
                              {% if credit.is_active == True %}
                              <span style='color: red;'>
                                  <span class="text-black">Estado:</span> Activo 
                              </span>
                              {% else %}
                                    Saldado
                              {% endif %}
                        </strong>
                        <hr>
                  </div>

                  <div class="mt-2">
                        {% if credit.is_active == True %}

                        <a href="{% url "customer:update-credit" credit.id %}">
                        <span class="black">Nombre: </span>
                              {{credit.name}}
                        </a>
                        {% else %}
                        <span class="black">Nombre y Apellidos:</span>
                        {{credit.name}}
                        {% endif %}

                  </div>
                  <div>
                        <span class="black">Cedula:</span>
                              {{credit.dni}}
                  </div>
            <div>
                  <span class="black">Cuenta:</span>
                        {{credit.no_account}}
            </div>
            <div>
                  <span class="black">Monto:</span>
                     RD${{credit.amount|intcomma}}.00
            </div>
            <div>
                  <span class="black">Cuotas:</span>
                  ({{credit.price_feed}}) a RD${{credit.amount_feed|intcomma}} los dias {% if credit.mode_pay == True %}
                  (15) - (30)
                  {% else %}
                  ({{credit.day_pay}})
                  {% endif %}
            </div>
            <div>
                  <hr>
            </div>

            <div class='d-flex   justify-content-end'>
                  <a  target="_blank" href="{% url "customer:card-customer" credit.customer.id credit.id %}">
                        <button>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                              </svg> Contrato
                        </button>
                  </a>
                  <a target="_blank" href="{% url "customer:notary-customer" credit.customer.id  credit.id %}">
                        <button>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                              </svg> Pagare Notarial
                        </button>
            </div>
      </div>
</a>
{% endfor %}
