{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<style>

      .dni span
      {
            font-size: 12px !important;
            color: rgb(155, 155, 155) !important;
      }
      
      a
      {
            color: #383838 !important;
      }

      .img-js
      {
            border-radius: 1.2rem;
      }
      .img-border
      {
            /* border: #e4e4e4 1px solid; */
            margin-bottom: 1px;

      }
      .referencias:hover{
            height: auto !important;
            transition: 0.10ms !important;
      }
      .address:hover{
            height: auto !important;
      }
      .info-laboral:hover{
            height: auto !important;
      }
      .datos span
      {
            color: #494949;
            font-weight: normal !important;
            font-size: 16px;
            font-weight: 400;
            font-family: Quicksand, sans-serif;
            font-optical-sizing: auto;
      }
      .datos strong
      {
            color: #383838;
            font-family: Quicksand, sans-serif;
            color: black;
            font-optical-sizing: auto;
      }
      #searching-config {
            padding: 0 !important;
            outline: none;
            border: 0px rgba(185, 185, 185, 0.849) solid !important;
            background-color: rgba(252, 252, 252, 0.589);
            z-index: 2;
            margin-left: 1px !important;
            box-shadow: #e6e6e6 1px 2px 4px 1px;
            border-radius: 1.7rem !important;
            /* max-height: 2.2rem !important; */
      }
      #searching-config:hover{
            /* border: 0px rgb(185, 185, 185) solid !important; */

      }

.container_list button
{
      background-color: rgba(255, 255, 255, 0) !important;
      padding:  5px 10px !important;
      border-radius: 1rem !important;
      color: rgb(88, 88, 88) !important;
      width: 100% !important;
      text-align: start;
      border: 1px solid transparent !important;
      font-family: Quicksand, sans-serif;
      font-size: 14px;
}
.container_list button:hover
{
      background-color: rgba(255, 255, 255, 0) !important;
      color: var(--bg-enfasis)!important;
      box-shadow: none !important;
      border: 1px solid var(--bg-enfasis) !important;


}
@keyframes rotarColores {
  0% {
    background-image: linear-gradient(
      to right,
      rgb(255, 133, 133) 0%,
      rgb(221, 137, 255) 50%,
      rgb(128, 179, 255) 100%
    );
  }
  50% {
    background-image: linear-gradient(
      to right,
      rgb(128, 179, 255) 0%,
      rgb(255, 133, 133) 30%,
      rgb(221, 137, 255) 30%
    );
  }

  100% {
    background-image: linear-gradient(
      to right,
      rgb(128, 179, 255) 0%,
      rgb(255, 133, 133) 50%,
      rgb(221, 137, 255) 90%
    );
  }
}

.three-body {
      --uib-size: 20px;
      --uib-speed: 0.8s;
      --uib-color: #af9bff;
      position: relative;
      display: inline-block;
      height: var(--uib-size);
      width: var(--uib-size);
      animation: spin78236 calc(var(--uib-speed) * 1.5) infinite linear;
}

.three-body__dot {
      position: absolute;
      height: 100%;
      width: 35%;
}

.three-body__dot:after {
      content: '';
      position: absolute;
      height: 0%;
      width: 100%;
      padding-bottom: 100%;
      background-color: var(--uib-color);
      border-radius: 50%;
}

.three-body__dot:nth-child(1) {
      bottom: 5%;
      left: 0;
      transform: rotate(60deg);
      transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
      bottom: 0;
      left: 0;
      animation: wobble1 var(--uib-speed) infinite ease-in-out;
      animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
      bottom: 5%;
      right: 0;
      transform: rotate(-60deg);
      transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
      bottom: 0;
      left: 0;
      animation: wobble1 var(--uib-speed) infinite
      calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
      bottom: -5%;
      left: 0;
      transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
      top: 0;
      left: 0;
      animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}
#div-list-customer button {
      border-color: rgb(49, 49, 49);
      color: rgb(49, 49, 49);
      font-family: Quicksand, sans-serif;
      font-weight: bold;

}

@media (min-width: 900px) 
{
      .list-group-item 
      {
            max-width: 530px !important;
      }
}
btn-sliders-nav
{

}
.btn-cliente
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-cliente img 
{
      display: none;
}
.btn-cliente span
{

}
</style>




<div id="div-list-customer"></div>
<section  class="mb-3 pb-3 " >
            <div id="sec-listado" data-aos="fade-up"  class="w-100 d-flex  overflow-auto align-content-start   flex-wrap justify-content-center" 
                  style=" z-index: 100; height: 100%; transition: 1s;"> 
            </div>  
            <div data-aos="fade-in" style="transition: 0.7s;" class="w-100 mb-5 pb-3 d-flex justify-content-start align-content-start   flex-wrap  vh-100 overflow-scroll">
                  {% include "customer/list-customer-2.html" %} 
            </div>
</section>


<form action="" method="post" class="d-none">
      {% csrf_token %}
      <input type="number" name="send-data" id="input-send-data">
      <button id="btn-send-data" type="submit">Send</button>
</form>

<script>


let id_input_select = 0
document.addEventListener('DOMContentLoaded', (event) => {
// Selecciona todos los elementos de entrada
const inputs = document.querySelectorAll('.monto-input');
// Añade un evento de enfoque a cada uno
inputs.forEach(input => {
      input.addEventListener('focus', function() {
            id_input_select = this.id
            let si = document.querySelector("#"+id_input_select)
            si.addEventListener('input', function() {
            let lkj = this.id
            let delt = lkj.replace(/\D/g, '');
            let numero_input = document.getElementById(this.id)
            let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
            let capital = parseInt(numero)
            SuperCalAuto(capital, document.querySelector("#cuotas"+delt).value, 
            0.15, 
            "result-cuota"+delt,
            delt
            )
            });
      });
});
      
function TurnCustomerFalse(id){
      const url = 'verify-false/customer/';
      $.ajax({
            url: url,
            data: {
            customer_id: id
            }

      })
}

function CustomerVerifyNo(id){
      document.getElementById('aprovate-no').classList.remove('d-none')
      document.getElementById('aprovate-no').classList.add('d-block')
      setTimeout(function() {
                  document.getElementById('aprovate-no').classList.remove('d-block')
                  document.getElementById('aprovate-no').classList.add('d-none')
      }, 3000);
      const url = 'verify-no/customer/';
      $.ajax({
            url: url,
            data: {
                  customer_id: id
            }
      })
}










function CreateCreditAjax(id){
      const url = 'create-credit-ajax/customer/';
      OpenCloseBtnCredit(id)
      let monto = document.getElementById('monto'+id).value
      let monto_cls = monto.replace(/,/g, ''); // Elimina las comas existentes
      let mt_monto = parseInt(monto_cls)
      let cuotas = document.getElementById('cuotas'+id).value
      let cuotas_cls = cuotas.replace(/,/g, ''); // Elimina las comas existentes
      let mt_cuotas = parseInt(cuotas_cls)
      let monto_pagar = document.getElementById('monto_pagar'+id).value
      let monto_pagar_cls = monto_pagar.replace(/,/g, ''); // Elimina las comas existentes
      let mt_monto_pagar = parseInt(monto_pagar_cls)

      $.ajax({
            url: url,
            data: {
            customer_id: id,
            monto: mt_monto,
            cuotas: mt_cuotas,
            dia: document.getElementById('dia'+id).value.split('-')[2] ,
            monto_pagar: mt_monto_pagar,

            }, success: function(r) {
            let m = document.getElementById('monto-spa'+id)
            document.getElementById('requiere'+id).innerHTML = ''
            document.getElementById('requiere'+id).innerHTML = 'Aprobado'
            m.innerHTML = ''
            m.innerHTML = r.monto_requerido + '.00'
            },
      })
}


function sumar(n) {
      var inputNumero = document.getElementById("cuotas"+n);
      var valorActual = parseInt(inputNumero.value);
      inputNumero.value = valorActual + 1;
      let numero_input = document.getElementById("monto"+n)
      let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      SuperCalAuto(capital, document.querySelector("#cuotas"+n).value, 
      0.15, 
      "result-cuota"+n,
      n
      )
};

function restar(n) {
      var inputNumero = document.getElementById("cuotas"+n);
      var valorActual = parseInt(inputNumero.value);
      let numero_input = document.getElementById("monto"+n)
      if(valorActual > 0) {
            inputNumero.value = valorActual - 1;
      }

      let numero = numero_input.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      SuperCalAuto(capital, document.querySelector("#cuotas"+n).value, 
      0.15, 
      "result-cuota"+n,
      n
      )
}


function NotifyCation() {
      let div = document.getElementById('div-notifycations');
      // Con cada clic, alternamos la propiedad de display del div
      if (div.style.display === 'none') {
            div.style.display = 'block';
      } else {
            div.style.display = 'none';
      }
}


function OpenCloseBtnCredit(btn_id) {
      const div = document.getElementById('div-credit' + btn_id);
      if (div.classList.contains('d-none')) {
            div.classList.remove('d-none');
            div.classList.add('d-block');
      } else if (div.classList.contains('d-block')) {
            document.getElementById('div-list-customer').classList.add('flip-down ')
            div.classList.remove('d-block');
            div.classList.add('d-none');
      }
}

  
function BoxSearch() {   
      var box_search = document.querySelector('.div-menu-1')
      if (box_search.classList.contains('d-none')) {
            box_search.classList.add('d-flex')
            box_search.classList.remove('d-none')
      } else  {
            box_search.classList.add('d-none')
            box_search.classList.remove('d-flex')
      }
  }

  let SuperCalAuto = (capital, plazo, tasa, result, id_mont)=> {
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            }); }
      let totales = capital + totalIntereses
      // const numero = parseFloat(count_input.value);
            
      document.querySelector('#'+result).innerHTML = 'Cuotas mensuales de: $' + Cuotas.toLocaleString(undefined,
                              {maximumFractionDigits: 0}) + '.00';

      let precio_cuota = document.getElementById("monto_pagar"+id_mont)
      precio_cuota.value = Cuotas.toFixed(2)

      let mont = document.getElementById("monto"+id_mont)
      if(mont.value != ''){
            let numero = mont.value.replace(/,/g, ''); // Elimina las comas existentes
            if (!isNaN(numero) && numero.trim() !== '') {
                mont.value = parseFloat(numero).toLocaleString();
            } else {
                mont.value = mont.value.replace(/[^\d.]/g, ''); 
                // Elimina cualquier carácter no numérico excepto el punto decimal
            }
      }

}

// function OpenCloseBtn(btn_id) {
//       const div = document.getElementById('div-more' + btn_id);
//       if (div.classList.contains('d-none')) {
//           div.classList.remove('d-none');
//           div.classList.add('d-block');
//             BoxSearch()
//       //     document.getElementById('div-list-customer').classList.remove('blur')
//       } else if (div.classList.contains('d-block')) {
//             BoxSearch()
//             // document.getElementById('div-list-customer').classList.add('blur')
//           div.classList.remove('d-block');
//           div.classList.add('d-none');
//       }
//   }

//   function DisableCustomer(id){
//             const url = 'disable-customer/';
//             $.ajax({
//                 url: url,
//                 data: {
//                   customer_id: id
//                 },
//             })
//             document.getElementById('client'+id).classList.add('d-none')
//             BoxSearch()
//       }





document.addEventListener('keydown', function(event) {
    // Verifica si las teclas "Shift", "Command" o "Control", y "B" están siendo presionadas
    if ((event.metaKey || event.ctrlKey) && event.shiftKey && event.key === 'b') {
        // Obtén el elemento con el id 'search-p'
        let searchElement = document.getElementById('search-p');
        // Verifica si el elemento existe
        if (searchElement) {
            // Enfoca el elemento
            searchElement.focus();
        } else {
            console.log("Elemento no encontrado");
        }
    }
});




</script>
{% endblock  %}