{% include "base/base.html" %}
{% block content %}

<section class='container-fluid d-flex flex-wrap  justify-content-center' style='z-index: 100;'>
      <div class='w-100'>
            Listado de clientes <br>
            Los clientes que están marcados, son los clientes que actualmente tienen un pago atrasado <br>
            <p class='text-black-50' style='font-size: 12px;'>
                  1) Clientes en seguimientos, son los que no hicieron caso a las alertas del sistemas, estos se le asignarán al departamento de "Seguimiento" <br>
                  2) Clientes visitar, serán agregados a las listas de los mensajeros
            </p>
      </div>



      <div class='d-flex flex-wrap justify-content-center'>
            <div class="form-floating mb-3" style='width: 320px;'>
                  <input type="date" class="form-control" id="floatingInput" placeholder="">
                  <label for="floatingInput">Fecha en la que vence</label>
            </div>
            <div class="form-floating">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Todos</option>
                        <option value="1">Al día</option>
                        <option value="2">Atrasados</option>
                        {% comment %} <option value="3">Three</option> {% endcomment %}
                  </select>
                  <label for="floatingSelect">Filtrar como </label>
            </div>

            {% comment %} <button style='height: max-content;'>
                  Agregar deudor
            </button> {% endcomment %}
      </div>

      {% for c in c %}
            <div class='card mt-1 p-2 m-1' style='border-radius: 1.5rem;  width: 100%; max-width: 420px;'>
                  <div class="form-check">
                        {{ c.name }} {{ c.last_name }} <br>
                        <span class='text-capitalize text-black-50' style='font-size:12px;'> {{ c.company }} - {{ c.day_created|date:"F/d/Y" }}</span> <br>
                        
                        <div class='mt-2'>
                              <span style='font-size:12px;' class='text-black-50'>
                                    El estado del deudor indica que esta en modo
                              </span>
                        </div>
                        {% if c.debit_follow %}
                        <input onclick='TurnDebitCustomerFollow(this.value)' class="form-check-input" type="checkbox" value="{{c.id}}" checked id="s{{ c.id }}">
                        <label class="text-primary form-check-label ms-1" for="s{{ c.id }}">
                              Siguiendo
                        </label>
                        {% else %}
                        <input onclick='TurnDebitCustomerFollow(this.value)'  class="form-check-input" type="checkbox" value="{{c.id}}" id="s{{ c.id }}">
                        <label  class="form-check-label ms-1" for="s{{ c.id }}">
                              Seguir <br>
                        </label>
                        {% endif %} 
                  </div>

                  <div class="form-check">
                        {% if c.debit_visit %}
                        <input class="form-check-input" type="checkbox" value="" checked id="l{{ c.id }}">
                        <label onclick='TurnDebitCustomer(this.id)' id='{{ c.id }}' class="text-primary form-check-label ms-1" for="l{{ c.id }}">
                              Visitando
                        </label>
                        {% else %}
                        <input onclick='TurnDebitCustomer(this.value)' class="form-check-input" type="checkbox" value="" id="l{{ c.id }}">
                        <label  id='{{ c.id }}' class="form-check-label ms-1" for="l{{ c.id }}">
                              Visitar
                        </label>
                        {% endif %}  
                        <br>
                        <div class='mt-2'>
                              <span style='font-size:12px;' class='text-black-50'>
                                    Si el esta activo el deudor tiene mas de un pago atrasado
                              </span>
                        </div>
                        <div class=" w-100 m-0 p-0  form-check form-switch">
                              {% if c.debit == True %}
                              <input onclick='TurnDebitCustomerActive(this.value)' value='{{c.id}}' class="form-check-input" type="checkbox" role="switch" id="q{{c.id}}" checked>
                              <label class=" text-primary ms-1 form-check-label" for="q{{c.id}}" >
                                    Activo      
                              </label>
                              {% else %}
                              <input class="form-check-input" type="checkbox" value='{{c.id}}' role="switch" id="q{{c.id}}" onclick='TurnDebitCustomerActive(this.value)'>
                              <label  class="  ms-1 form-check-label" for="q{{c.id}}">
                                    Activo      
                              </label>
                              {% endif %}
                        </div>
                  </div>

                  <div class='mt-2 p-1'>
                        <div class="form-floating">
                              <select style='width: 285px !important;' class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected>...</option>
                                    <option value="1">Xavier</option>
                                    <option value="1">Grabiel</option>
                                    <option value="1">Dawlin</option>
                                    <option value="2">Wanda</option>
                                    {% comment %} <option value="3">Three</option> {% endcomment %}
                              </select>
                              <label for="floatingSelect">Asignar a: </label>
                        </div>
                  </div>
            </div>
      {% endfor %}
</section>

<script>
      function TurnDebitCustomer(id) {
            $.ajax({
                  url: '/turn-debit/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }

      function TurnDebitCustomerFollow(id) {
            $.ajax({
                  url: '/turn-debit-follow/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
function TurnDebitCustomerActive(id) {
            $.ajax({
                  url: '/turn-debit-active/customer/',
                  data: {
                        customer_id: id
                  }
            })
      }
</script>
{% endblock %}
