{% include "base/base.html" %}
{% block content %}
{% load static %}

<style>
      .contdiv 
      {
            background-color: rgb(250, 249, 230);
      }
      .img-js
      {
            border-radius: 1.5rem;
      }
      .img-border
      {
            /* border: #e4e4e4 1px solid; */
            margin-bottom: 2px;
      }
      .referencias:hover{
            height: auto !important;
            transition: 0.10ms !important;
      }
      .address:hover{
            height: auto !important;
      }
      .info-laboral:hover{
            height: auto !important;
      }
      .datos span
      {
            color: #383838;
            font-weight: normal !important;
            font-size: 13px;
            font-weight: 400;
      }
      .datos strong
      {
            color: #383838;
            font-family: "Righteous", sans-serif;
            font-size: 13px;
            font-weight: 400;
      }
      #searching-config {
            padding: 0 !important;
            outline: none;
            border: 0px rgb(233, 233, 233) solid !important;
            background-color: rgb(250, 249, 230);
            border-bottom: 1px !important;
            z-index: 2;
      }
      #searching-config:hover{
      }
      .zoom
      {
            width: 10rem !important;
            border: 1px rgb(233, 233, 233) solid !important;
      }
      .contDiv
      {
            border-radius: 1.5rem;
            margin-bottom: 4px;
            padding: 1px;
            font-size: 14px;
            width: auto !important;

      }
      @keyframes rotarColores {
  0% {
    background-image: linear-gradient(
      to right,
      rgb(255, 133, 133) 0%,
      rgb(221, 137, 255) 50%,
      rgb(128, 179, 255) 100%
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      rgb(128, 179, 255) 0%,
      rgb(255, 133, 133) 50%,
      rgb(221, 137, 255) 100%
    );
  }
}

.contDiv {
  width: 40rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 133, 133) 0%,
    rgb(221, 137, 255) 50%,
    rgb(128, 179, 255) 100%
  );
  animation: rotarColores 1s infinite linear;
}




</style>

<section  class="section p-2  d-flex flex-wrap  justify-content-evenly  overflow-hidden overflow-scroll" style="margin-top: 15rem">

      <div class="d-flex p-2  flex-wrap blur bg-white bg-opacity-75  justify-content-end position-fixed w-100 pe-4" style="z-index: 4; top: 0;" >

            <div class="d-flex w-100 mb-2 align-content-center flex-wrap">
                  <h3 class="p-0 m-0" style="font-family: Quicksand, sans-serif;">
                        <i class="fi fi-brands-whatsapp"></i> Clientes
                  </h3>
                  <p class="text-black-50 w-100  " style="font-size: 12px; font-family: Quicksand, sans-serif;">
                        Permite encontrar fácilmente los datos de contacto de cualquier cliente.
                  </p>
            </div>

                  <div class="d-flex  flex-wrap w-100 justify-content-end">
                        <strong style="  font-family: Quicksand, sans-serif;
                        color: var(--color-one);
                        font-optical-sizing: auto;">                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-diamond-half m-0 p-0" viewBox="0 0 16 16">
                         <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.5.5 0 0 1-.35.145z"/>
                         </svg>
                        GRUPO FYCAS</strong>
                  </div>
            <label for="searching-config" id="label-config"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi text-black-50 d-none bi-search mt-4 me-2 pt-1  " viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg></label>
      <div class="d-flex w-100 mt-3 justify-content-end align-content-center flex-wrap">

            <input type="text"  style="font-size: 14px; min-height: 2.5rem; max-height: 2.5rem; width: 14rem;" class="form-search text-center  p-3 ps-5  m-0 mb-2 "  id="searching-config" placeholder=" Buscar ( Alt + b ) ">
            <a href="{% url "customer:add-customer" %}" class="d-flex align-content-center" >
                  <button class="border-0 text-white " style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
                  max-height: 2.5rem !important;
                  border-radius: 1.5rem;">                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                              <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                            </svg> Agregar 
                  </button>
            </a>
          </div>
      </div>
      
    <div>

      <div id="config-list" >
      </div>

      <ul id="list-customer" class="list-group m-1  list-group-flush ">
            {% for c in customer %}
                  <li class="list-group-item bg-white  bg-opacity-75   mb-3 p-1 h-auto" style=" border-radius:1.5rem;  max-width: 20.2rem;  ">
                        <div class="d-flex  p-2" style="font-size: 14px !important;  ">
                              <div class="d-flex flex-wrap ">
                                    <div class="w-100">
                                          <a href="{% url "customer:detail-customer" c.id %}">                                          
                                                {% if c.img1.url == "/media/img-default/img.png" %}
                                                <img src="{{c.img1}}" style="width: 90px; max-height: 90px;   border-radius: 12px; margin-right: 0.3rem;" alt="Imagen ccon Problemas" class="img overflow-visible rounded-circle object-fit-cover ">
                                              {% else %}
                                              <img src="{{c.img1}}" style="width: 90px; max-height: 90px;   border-radius: 12px; " alt="Imagen ccon Problemas" class="img rounded-circle object-fit-cover img-border">
                                              {% endif %}
                                          </a>
                                          <hr class='m-0 p-0'>
                                    </div>
                                          <!-- <img src="{{c.img2}}" style="width: 230px; height: 150px; border-radius: 12px; margin-right: 0.3rem;" alt="Imagen con" class="img object-fit-cover"> -->
                                    <div class="d-flex align-content-center flex-wrap datos" >
                                          <span class="w-100 text-black" 
                                          style="font-size: 14px;
                                          color: #383838;
                                          font-family: Righteous, sans-serif;
                                          font-size: 13px;
                                          font-weight: 400; " >
                                                <!-- <a href="{% url "customer:update-customer" c.id %}" class="d-flex "> -->

                                    

                                               <strong class="d-none">Nombre:</strong> 
                                               <span> {{ c.name}}
                                                {{c.last_name}}
                                                <!-- </a> -->
                                                </span> 
                                         </span> 
                                         <span class="w-100">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                              </svg> +1 {{c.number}}
                                         </span>
                                         <span class="w-100">
                                                <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                                                    </svg></strong> {{c.dni}} 
                                         </span>
                                         <span class="w-100 address overflow-hidden d-flex" style="height: 1.2rem ">
                                          <strong class="">                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                              </svg> <span class=" "></span></strong> <a class="" target="_blank" style=" text-transform: capitalize;" href="https://www.google.com.do/maps/search/{{c.address}}">
                                           {{c.address}}</a>
                                          </span>
                                          <span class="w-100 info-laboral overflow-hidden" style="height: 1rem;">
                                                <strong>Informacion Laborar:</strong> {{c.work_information}}
                                         </span>
                                          <span class="w-100 referencias overflow-hidden" style="height: 1rem;" >
                                                <strong>
                                                      Referencias:
                                                </strong>
                                                {{c.name_r1}} ({{c.number_r1}}) - {{c.name_r2}} ({{c.number_r2}})
                                          </span>
                                    </div>
                              </div>
                              <div class="d-flex justify-content-end align-content-center flex-wrap w-50 d-none">
                                    <div style="width: 25rem;">
                                          <a href="{% url "customer:detail-customer" c.id %}">
                                                <button class='border-0'>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                          </svg>
                                                          Perfil 
                                                </button>
                                          </a>
                                          <a href="{% url "customer:update-customer" c.id %}">
                                                <button class='border-0'>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16">
                                                            <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04"/>
                                                          </svg> Editar
                                                </button>
                                          </a>

                                    
                                    </div>
                              </div>
                       </div>
                        <div class="d-flex justify-content-end">

                        </div>
    </div>
                  </li>
            {% endfor %}
          </ul>
</section>
<script>
      let searching_config = document.getElementById('searching-config');
      let config_list = document.getElementById('config-list')
      let config_data;

    document.addEventListener('keydown', function(event) {
  if (event.altKey && event.key === 'b') {
      searching_config.focus();
      }
      });

    window.addEventListener("DOMContentLoaded", function() {
        ConfigData()
        function ConfigData() {
            const url = 'searching/customer';
            $.ajax({
                url: url,
                success: function(data){
                    config_data = data
                    const searching_config = document.getElementById('searching-config');
                    searching_config.addEventListener('input', (event) => {
                    const input_value = event.target.value;
                    const filtered_data = data.filter((config) => {
                        return config.name.toLowerCase().includes(input_value.toLowerCase());
                    });
                    config_list.innerHTML = ''
                    for (const c  of filtered_data) {
                        const div = document.createElement('div');
                        div.classList.add("contdiv", )
                        const divCont = document.createElement('div');
                        divCont.classList.add('contDiv',  )
                        div.classList.add("divCon", "p-4", 'card')
                              let divI = document.createElement("div")
                              let img = document.createElement("img")
                                    img.classList.add("img", "img-js")
                                    img.src = c.img
                                    divI.appendChild(img)
                              let divL = document.createElement("div")
                              let stronL = document.createElement("strong")
                                    stronL.textContent = "Nombre: "
                              let spanL = document.createElement("span")
                              spanL.classList.add("capitalize")
                                    spanL.textContent = c.name
                              divL.appendChild(stronL)
                              divL.appendChild(spanL)

                              let divN = document.createElement("div")
                                    let stronN = document.createElement("strong")
                                          stronN.textContent = "Cedula: "
                                    let spanN = document.createElement("span")
                                          spanN.textContent = c.dni
                              divN.appendChild(stronN)
                              divN.appendChild(spanN)

                              let divA = document.createElement("div")
                                    let stronA = document.createElement("strong")
                                          stronA.textContent = "Informacion Laboral: "
                                    let spanA = document.createElement("span")
                                          spanA.textContent = c.inf
                              divA.appendChild(stronA)
                              divA.appendChild(spanA)

                              let divR = document.createElement("div")
                                    let stronR = document.createElement("strong")
                                          stronR.textContent = "Recide en: "
                                    let spanR = document.createElement("a")
                                          spanR.href = "https://www.google.com.do/maps/search/" + c.recide
                                          spanR.target = '_blank';
                                          spanR.textContent = c.recide
                              divR.appendChild(stronR)
                              divR.appendChild(spanR)

                              
                              let divK = document.createElement("div")
                                    let stronK = document.createElement("strong")
                                          stronK.textContent = "Referencias: "
                                    let spanK = document.createElement("span")
                                          spanK.textContent = c.refers
                              divK.appendChild(stronK)
                              divK.appendChild(spanK)


                        div.appendChild(divI);
                        div.appendChild(divL);
                        div.appendChild(divN);
                        div.appendChild(divR);
                        div.appendChild(divA);
                        div.appendChild(divK);


                        divCont.appendChild(div)
                        config_list.appendChild(divCont);
                    }
                    if (searching_config.value.trim() === "") {
                        config_list.innerHTML = ''
                        config_list.style.display = 'none'
                        document.getElementById("list-customer").style.display = "block"
                        
                    }
                    else {
                        config_list.style.display = 'block'
                        document.getElementById("list-customer").style.display = "none"
                        
                    }
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error en la solicitud AJAX:', status, error);
                }
            });
        }
    });
</script>
</script>
{% endblock  %}