{% include "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<style>
      a 
      {
            color:black;
      }
</style>
<div class="p-3 d-flex  ">
      <div class="w-50 d-flex flex-wrap align-content-center  flex-wrap">
            <h3 class="p-0 m-0">
                  Lista de Creditos de {{c.name}} {{c.last_name}} 
            </h3>
            <p class="text-black-50 w-100">
                  Permite a las entidades financieras realizar un seguimiento de los créditos otorgados, incluyendo el saldo pendiente, la fecha de vencimiento y el estado de los pagos.
            </p>
      </div>
      <div class="d-flex justify-content-end w-50">
            <img src="{% static "icons/fycas.jpg" %}" weight="300" alt="" srcset="">
      </div>
</div>
<div class="p-3 m-2 d-flex align-content-center ">
<a href="{% url "customer:list-customer" %}"
            class="d-flex align-content-center flex-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-left-circle p-0  m-0 " viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg> 
          <span class="ms-1">Atras</span>
      </a>
</div>
<section class='p-3 section m-2'>
      {% for credit in credit %}
      <a href="{% url "customer:update-credit" credit.id %}">
            <div class='bg-white p-2 text-black-50 bg-opacity-50' style="width: 20rem;
            border-radius: 1rem; box-shadow: var(--shadow-one);">
                  <strong>
                        Prestamo Activo 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi text-danger bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                        </svg>
                  </strong>
                  <div class="mt-2">
                    <span class="black">Nombre y Apellidos:</span>
                        {{credit.name}}
                  </div>
                  <div>
                        <span class="black">No. Cuenta:</span>
                              {{credit.no_account}}
                  </div>
                  <div>
                        <span class="black">Monto:</span>
                           RD${{credit.amount|intcomma}}.00
                  </div>
                  <div>
                        <span class="black">Cuotas:</span>
                        ({{credit.price_feed}}) a RD${{credit.amount_feed|intcomma}} los dias {% if credit.mode_pay == True %}
                        (15) - (30)
                        {% else %}
                        ({{credit.day_pay}})
                        {% endif %}
                  </div>
                  <div>
                        <a href="{% url "customer:card-customer" credit.customer.id %}">
                              <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                    </svg> Contrato
                              </button>
                        </a>
                        <a href="{% url "customer:notary-customer" credit.customer.id %}">
                              <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                                          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                                    </svg> Pagare Notarial
                              </button>
                        </a>
                  </div>
            </div>
      </a>
      {% endfor %}
</section>
{% endblock  %}