{% include "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<div class="w-100  container  justify-content-center  d-flex justify-content-between"
      style="min-height: 10rem; padding-top: 4rem;">
      <span class="span-animation mt-5 pt-5" style="min-width: 2rem; min-height: 1rem; background-color: rgba(255, 133, 133, 0.473);">s</span>
      <span class="span-animation" style="min-width: 2rem; height:1rem; background-color: rgba(222, 137, 255, 0.438);">s</span>
      <span class="span-animation" style="min-width: 1rem; height:1.3rem; background-color: rgba(128, 179, 255, 0.404);">s</span>
      <span class="span-animation" style="min-width: 10rem; height:1.3rem; background-color: rgba(128, 255, 244, 0.445);">s</span>
      <span class="span-animation mt-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(255, 128, 177, 0.404);">s</span>
      <span class="span-animation mb-2" style="min-width: 4rem; height:1.3rem; background-color: rgba(153, 255, 128, 0.349);">s</span>
</div>


<section class="  d-flex flex-wrap justify-content-center h-100 w-100 position-fixed top-0 blur bg-white bg-opacity-50">

      
      <div class="text-white ms-2 me-2" style="border-radius: 1.3rem; height: max-content; width: 100%; max-width: 550px;">
            <div class="p-4 d-flex  flex-wrap   w-100">
                  <div class="d-flex justify-content-center w-100">
                        <div class="d-flex  flex-wrap  w-100 justify-content-center">
                              <strong style="  font-family: Quicksand, sans-serif;
                              color: black;
                              font-optical-sizing: auto;">              
                              <img src="{{setting.Icon.url}}" width="30" alt="">
                              GRUPO FYCAS 
                        </strong>
                        </div>
                  </div>
            </div> 

      
      <div class=" p-3 ps-4 pe-4 d-block border-1 mt-4 "  style=" border: 1px solid rgb(233, 233, 233); border-radius: 2rem;
      font-family: Quicksand, sans-serif;
      color: black;
      box-shadow: var(--shadow-one);
      font-optical-sizing: auto;
      background-color: rgb(252, 252, 252);">
                  <h4 class="p-0 m-0 text-center mb-4 " 
                  style="font-family: Quicksand, sans-serif;
                   color: black;
                   font-optical-sizing: auto">
                       Solicitud Rechazada
                  </h4>

                  <div>
                        <p class="text-black-50">
                              Lamentamos informarle que su solicitud de préstamo en <strong>Grupo Fycas</strong> no ha sido aprobada en este momento, sin embargo puede volver a intentarlo en un <strong>plazo de 3 meses</strong>.
                        </p>
                  </div>
            <div class="w-100 d-flex">
                  <hr>
            </div>
      </div>

      </div>
</section>

{% endblock  %}