{% extends "base/base.html" %}
{% block content %}
{% load static %}
<style>
  .contabilidad div
  {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-family: Quicksand, sans-serif;

  }
  .contabilidad div h6
  {
    font-size: 12px;
    color: gray;
    padding: 0px;
    font-weight: bold;
  }
 .i, .r
  {
    /* background-color: antiquewhite; */
    width: 50%;
    display: flex;
    padding: 0px 9px;
    color: gray;
  }
  .r  
  {
    justify-content: end;
  }

  .il, .r 
  {
    font-size: 14px;
  }
  .img1
  {
    border-radius: 50%;
  }
  .img1:hover
  {
    scale: 2;
  }

  
</style>
<div class="position-sticky d-flex justify-content-end blur top-0 mt-2 w-100 p-2" style="z-index: 10;">
  <div class="d-flex " style=" width: 300px; border-radius: 2rem; border: rgba(227, 227, 227, 0.667) 1px solid; ">
        <img src="{% static "icons/search.png" %}" class="mt-2 "
        style="margin-left: 1.2rem; margin-right: 0.3rem;"  width='20' height="20" alt="">
        <input type="text"  style="font-size: 12px;  height: 2.5rem;     
        border-radius: 0.3rem !important;
              border-top-right-radius: 2rem !important;
              border-bottom-right-radius: 2rem !important;
           " class="form-search  border-0 w-100 bg-transparent m-0 me-1  "  
        placeholder=" Buscar cliente (alt + b)">
      </div>
      <div class=" d-flex justify-content-end">
          <button class="bg-transparent border-0" style="width: 1rem;">
              <img src="{% static "icons/list.png" %}" width='20' alt=""> 
              <span>
              </span>
        </button>
        <button class="bg-transparent border-0">
          <img src="{% static "icons/app.png" %}" width='20' alt="">
          <span>
          </span>
        </button>
      </div>
</div>
<section class='mt-2 d-flex flex-wrap
'>
 {% if p %}
    {% for pe in p %} 
      <div class="card p-2 m-1" style="width: 320px; border-radius: 1.5rem; border: rgb(227, 227, 227) 1px solid;">
            <div class="d-flex   me-2" style="line-height: 10px;">
              <div class="" style="margin-top: 1px;">
                  <img src="{{pe.img1}}" width="30" height="30"  class=" me-1 object-fit-cover img1" style="border: 1px;" alt="">
              </div>
              <div>
                  <h6 style="font-size: 10px;" class="text-black-50 p-0 m-0">
                    {{pe.dni}}
                  </h6>
                  <span >
                    <h6 style="font-size: 13px !important;">
                      {{pe.name}} {{pe.last_name}}
                    </h6>
                  </span>
              </div>
          </div>
          <div class="mt-2">
            {% include 'components/cuotas-diname.html'%}
          </div>
          <section class='contabilidad' style="line-height: 17px;">
              <div class="ps-2 d-flex flex-wrap mt-1 ">
                <div>
                  <span class='i il'>Ultimo Pago </span>
                  <span class='r'>2/3/2024</span>
                </div>
                <div>
                  <span class='i il'>Proximo Pago </span>
                  <span class='r'>30/3/2024</span>
                </div>
                  <div class="mt-3">
                    <span class='i p-0'> <h6>Capital </h6></span>
                    <span class='r'>$24.,3000.00  </span>
                  </div>
                  <div>
                    <span class='i il'>Pagado </span>
                    <span class='r'>$00</span>
                  </div>
                  <div>
                    <span class='i  il'>Pendiente </span>
                    <span class='r '>$24.,3000.00</span>
                  </div>
              </div>
            
            
            
            
              <div class="accordion accordion-flus" id="accordionFlushExample">
                <div class="accordion-item d-flex justify-content-end p-0 flex-wrap border-0">

                  <div id="flush-collapseOne" class="accordion-collapse p-0 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body d-flex flex-wrap p-0 mt-3 ps-2">
                            <div class=""> 
                              <span class='i  p-0'><h6>Intereses (15%)</h6></span>
                              <span class='r '>$24.,3000.00</span>
                            </div>
                            <div>
                              <span class='i il'>Pagado </span>
                              <span class='r'>$00</span>
                            </div>
                            <div>
                              <span class='i text-danger  il'>Pendiente </span>
                              <span class='r text-danger '>$24.,3000.00</span>
                            </div>
                            <div class="mt-3">
                              <span class='i p-0'><h6>Moras</h6></span>
                              <span class='r'>$24.,3000.00</span>
                            </div>
                            <div>
                              <span class='i il'>Pagado </span>
                              <span class='r'>$00</span>
                            </div>
                            <div>
                              <span class='i  text-danger il'>Pendiente </span>
                              <span class='r  text-danger'>$24.,3000.00</span>
                            </div>
                            <div class="mt-3">
                              <span class='i  p-0'><h6>Totales</h6></span>
                              <span class='r '>$24.,3000.00</span>
                            </div>
                            <div>
                              <span class='i il'>Cuotas</span>
                              <span class='r'>5/9</span>
                            </div>
                            <div>
                              <span class='i il'>Fechas</span>
                              <span class='r'>22/2/2024</span>
                            </div>
                    </div>
                  </div>
                  <h2 class="accordion-header d-flex flex-wrap align-content-center" id="flush-headingOne">
                    <!-- <button class='text-white border-0' style='background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); 
                    height: 2.4rem;
                    border-radius: 1.5rem;'>
                      Estandar
                  </button>
                    <button class='text-white border-0' style='background-image: linear-gradient(120deg, #72a8ff 0%, #acc7ff 100%); border-radius: 1.5rem; height: 2.4rem;'>
                      Garantia
                  </button> -->
                  <button class="accordion-button collapsed border-1 mt-2 p-2" type="button" 
                 style="border-radius: 2rem;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                 
                  </button>

                </h2>
                </div>
              </div>
          </section>


      </div>
   {% endfor %}
  {% endif %} 
</section>
{% endblock %}