{% extends "base/base.html" %}
{% block content %}
<style>
        .btn-ubicaciones
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-ubicaciones img 
{
      display: none;
}
      .text-black-50 
      {
            font-size: 14px;
      }

      #map
       {
            transition: 0.2s !important;
            height: 100%;
            width: 100%;
        }

      .gm-style-mtc 
      {
            display: none !important;
      }

      .gm-control-active, .gm-svpc , .gmnoprint
       {
            display: none !important;
      }

      .btn-number2 
      {
            display: none !important;
      }

      .divCon 
      {
            width: 330px;

            margin: 1px !important;
      }

      #btn-notificacion 
      {
            display: none !important;      
      }
      .location-span 
      {
            font-size: 12px;
      }
      .btn_sm
      {
            display: none !important;
      }
</style>
<style>
      @keyframes flip-down {
    0% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

/* Clase que aplicará la animación */
.flip-down {
    animation: flip-down 0.5s ease-out forwards;
    transform-origin: bottom; /* Punto de rotación */
    opacity: 0; /* Oculto por defecto */
}
.gm-ui-hover-effect, .gm-style-iw-ch
{
      display: none !important; 
}
.gm-style-iw-c 
{
      padding: 0 !important;
}
.gm-style-iw-d
{
      text-align: center !important;
      width: max-content; background-color: rgb(246, 255, 240) !important;
      height: 1rem; padding: 0.1rem 0.5rem !important;
      font-size: 10px; font-weight: bold;
}
</style>


<section  style="height: 100%; transition: 1s ease-in-out !important;" class='  rounded-5 overflow-scrol'>
      <div id="map" class="bg-white bg-opacity-10 rounded-5"> </div>
      <div class="">

            <span class="text-black-50 ms-5" style="font-size: 12px;">
                  Es posible que las geolocalizaciones no sean precisas
            </span>
  
      </div>
</section>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0zXbpHi9ADsWBWN5Vwx-rtwZyM9NmvHQ&callback=initMap">
</script>
  
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script> -->
<script>
// Función para inicializar el mapa
function initMap() {
      // Coordenadas para centrar el mapa (por ejemplo, New York)
      var location = { lat: 18.5101986, lng: -69.814869 };
      // Crear el mapa en el div con id 'map'
      var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12, // Nivel de zoom
            center: location, // Ubicación central
            mapTypeId: 'roadmap' // Tipo de mapa sencillo que muestra las calles
      });
      // Marcador en la ubicación central
      var marker = new google.maps.Marker({
            position: location,
            map: map
      });

      // Coordenadas de varias ubicaciones
      var locations = [
            { lat: 18.47186, lng: -69.891418, title: 'Banco Central de la RD' },
            { lat: 18.572861, lng: -69.985619, title: 'Base Aérea' },
            { lat:  18.5101986, lng: -69.814869, title: 'Oficina Fycas' }
      ];

      // Añadir marcadores y labels para cada ubicación
      locations.forEach(function(location) {
            var marker = new google.maps.Marker({
                  position: { lat: location.lat, lng: location.lng },
                  map: map,
                  title: location.title
            });

            var infowindow = new google.maps.InfoWindow({
                  content: location.title,
                  disableAutoPan: true // Deshabilitar el botón de cerrar
            });

            infowindow.open(map, marker); // Mostrar el label siempre

            marker.addListener('click', function() {
                  infowindow.open(map, marker);
            });
      });
}


</script>





{% endblock  %}
