{% extends "base/base2.html" %}
{% block content %}
      <style>
            .text-black-50 
            {
                  font-size: 14px;
            }
      </style>
      <section style="height: 100vh; " class='d-flex justify-content-center flex-wrap p-3 '>
            <!-- <button id='disble-btn' onclick='agregarDNone()'>Quitar</button>˝ -->
            <div class='w-100'>
                  <h5 class='m-0'>Listado de clientes</h5>
                  <span class='text-black-50' >
                   <strong>( 4/Marzo/2024 )</strong> - <strong>( 22/Agosto/2024 )</strong>
                  </span>
        
            </div>
            {% for c in customer %}
            <div class=' m-2 mt-2' style='line-height: 16px; width: 20rem;' >
            <hr>
                       <span style='font-size: 12px;'> ({{forloop.counter}}) </span> <strong class='text-uppercase'>  {{c.name}} {{c.last_name}} </strong>  
                        <span class='text-black-50 '> ({{c.number}}) </span> <br>
                        <span class='text-black-50 '>
                              {{c.calle_numero}},  {{c.municipio}}, {{c.sector}}, {{c.ciudad}}
                        </span> <br>
                        <span class="text-black-50">
                              {{ c.day_created|date:"F/d/Y" }}
                        </span>
                  </div>
            {% endfor %}
      </section>
      <script>
            function agregarDNone() {
                  // Seleccionar todos los elementos con la clase 'sec-btn'
                  let botonesSec = document.querySelectorAll('.nav-2');
              
                  // Agregar la clase 'd-none' a cada elemento seleccionado
                  botonesSec.forEach(function(boton) {
                      boton.classList.add('d-none');
                  });
              
                  // Seleccionar el elemento con el ID 'disble-btn'
                  let botonDisable = document.getElementById('disble-btn');
                  botonDisable.classList.add('d-none');
              

         
              }
      </script>
{% endblock  %}