/vn/
/FyCas/env
/FyCas/vn
/FyCas/db.sqlite3
FyCas/db.sqlite3
*.pyc
FyCas/Customer/migrations/__pycache__/0018_alter_credit_customer.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0022_alter_customer_lat_alter_customer_lon.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0021_customer_lat_customer_lon.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0020_credit_amount_feed.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0017_alter_credit_is_active.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0016_credit_is_active.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0015_remove_credit_number_credit_dni_credit_price_feed_and_more.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0014_alter_customer_dni.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0013_alter_customer_dni.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0012_alter_customer_number_r1_alter_customer_number_r2.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0011_alter_customer_name_r1_alter_customer_name_r2.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0010_customer_name_r1_customer_name_r2_customer_number_r1_and_more.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0009_credit.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0008_alter_customer_email.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0007_alter_customer_amount.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0006_alter_customer_dni.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0005_alter_customer_amount.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0004_customer_img1_customer_img2_customer_no_account_and_more.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0003_customer_amount.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0002_customer_dni.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/0001_initial.cpython-312.pyc
FyCas/Customer/migrations/__pycache__/__init__.cpython-312.pyc
FyCas/Customer/__pycache__/views.cpython-312.pyc
FyCas/Customer/__pycache__/views_ajax.cpython-312.pyc
FyCas/Customer/__pycache__/urls.cpython-312.pyc
FyCas/Customer/__pycache__/models.cpython-312.pyc
FyCas/Customer/__pycache__/mixing.cpython-312.pyc
FyCas/Customer/__pycache__/forms.cpython-312.pyc
FyCas/Customer/__pycache__/apps.cpython-312.pyc
FyCas/Customer/__pycache__/admin.cpython-312.pyc
FyCas/Customer/__pycache__/__init__.cpython-312.pyc
