{% extends "base/base.html" %}
{% block content %}
{% load static %}




<style>
    .btn-dashboard
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-dashboard img 
{
      display: none;
}
.btn-dashboard span
{

}
          .text-danger
      {
            color: #ff7171 !important;
           

}

.text-primary
{
    color: #3c81ff !important;
}
.bg-danger
{
        background-color: #ff7171 !important;
        color: white !important;
}
.ganancias
{
    background-color: #ffffff !important;
}


      .chart-container {

    border-radius: 2rem;
}
.text-black-50
{
    font-size: 12px;
    color: #ff8b8b;
}

/* .table-estadistic {
    background-color: transparent !important;
} */
canvas {
    /* background-color: #ffbebe */
    
    
}
.bor
{
    border: 0px solid rgb(237, 237, 237);

}
.blue-lis
{
    background-color: #ffffff;
}


</style>



    

    
    <main class="vh-100 overflow-scroll pb-5">
    
        <div  class="container mt-5" data-aos="fade-in" style="transition: 1s;">
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-primary mb-3 rounded-4">
                        <div class="card-body">
                            <h5 class="card-title text-white" style="font-weight: bold;">Total Prestado</h5>
                            <p class="card-text">$500,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-success mb-3 rounded-4">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">Clientes</h5>
                            <p class="card-text text-black">200</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-white mb-3 rounded-4">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">Creditos aprobado</h5>
                            <p class="card-text text-black">30</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white ganancias mb-3 rounded-4">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">Ganancias</h5>
                            <p class="card-text text-black">$130</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-4">
                <div class="col-md-8">
                    <div class="card rounded-4">
                        <div class="card-body">
                            <h5 class="card-title">Grafico de inversion</h5>
                            <canvas id="loansChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-4">
                        <div class="card-body ">
                            <h5 class="card-title" style="font-weight: bold;">Temas a mejoras</h5>
                            <ul class="list-group">
                                <li class="list-group-item text-black-50" style="font-size: 14px;">Lograr que los clientes paguen</li>
                                <li class="list-group-item text-black-50" style="font-size: 14px;"> Aumentar las formas de Ingresos </li>
                                <li class="list-group-item text-black-50" style="font-size: 14px;"> Implementar estrategias</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
    
      <div  class="container marketing d-flex mt-5  justify-content-center flex-wrap">
    
        <!-- Three columns of text below the carousel -->
        <!-- /.row -->
        <section>
            <div class="row text-center mt-3 mb-5">
                <div class="col-lg-4 " data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.2s; " >
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-graph-up-arrow text-black" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                      </svg>
                  <h2 class="text-black">Ingresos</h2>

                  <p style="text-align: justify;"> <strong class="text-danger"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars text-danger" viewBox="0 0 16 16">
                    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                  </svg> Sugiero</strong> ofrecer nuevos productos como microcréditos, seguros, fondos de inversión o cuentas de ahorro con rendimientos atractivos.</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.3s; " >
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
                        <path d="M0 5a5 5 0 0 0 4.027 4.905 6.5 6.5 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05q-.001-.07.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.5 3.5 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98q-.004.07-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5m16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0m-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674z"/>
                      </svg>
          
                  <h2>Balance en caja</h2>
                  <p style="text-align: justify;"> <strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                  </svg> Se requiere</strong> una reestructuración de deudas con opciones de reestructuración a los clientes con dificultades para pagar. </p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.4s; " >
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle text-black" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
          
                  <h2 class="text-black">Clientes</h2>
                   <p style="text-align: justify;">   <strong class=" text-black "> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars text-black" viewBox="0 0 16 16">
                    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                  </svg> Tenemos que lograr </strong> una segmentación de clientes morosos!, asi dividir  los clientes en grupos según su nivel de morosidad y asigna recursos específicos por grupo</p>

                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
        </section>
    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette "  style="transition: 1s ease-out ;">
          <div class="col-md-7">
            <h2 class="featurette-heading">¡Equipo de Grupo Fycas! <span class="text-muted">Este año ha sido un reto</span></h2>
            <p class="lead">Recuerden que cada esfuerzo cuenta, que cada llamada, cada gestión y cada solución creativa nos acerca más a nuestras metas.</p>
          </div>
          <div class="col-md-5">
            <img src="https://www.getyooz.com/hubfs/inteligencia%20artificial%20en%20finanzas.jpg" alt="" width="400" height="400" class="rounded-4 object-fit-cover">
          
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sigamos dando lo mejor <span class="text-muted">mantengamos una actitud positiva</span></h2>
            <p class="lead">Nuestro éxito no solo se mide en números, sino en el impacto que generamos y en el trabajo en equipo. </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="https://www.getyooz.com/hubfs/inteligencia%20artificial%20en%20finanzas.jpg" alt="" width="400" height="400" class="rounded-4 object-fit-cover">
          
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Sabemos que los clientes que no cumplen con sus pagos representan un desafío <span class="text-muted">pero también una oportunidad para mostrar nuestra capacidad de adaptación y estrategia.</span></h2>
            <p class="lead">Cada interacción con estos clientes puede marcar la diferencia y, con nuestra empatía y habilidad, podemos ayudarles a ponerse al día y a mantener su confianza en nosotros.</p>
          </div>
          <div class="col-md-5">
            <img src="https://www.getyooz.com/hubfs/inteligencia%20artificial%20en%20finanzas.jpg" alt="" width="400" height="400" class="rounded-4 object-fit-cover">
          
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div><!-- /.container -->
      
    <style>
        .bg-primary 
        {
            background-color: #427bff !important;
        }
        .bg-success 
        {
            background-color: #ffffff !important;
        }
        .bg-warning
        {
            background-color: #e9e9e9 !important;
        }
    </style>


</main>
    
    
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('loansChart').getContext('2d');
    var loansChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',],
            datasets: [{
                label: 'Inversones',
                data: [100000, 150000, 200000, 250000, 300000, 350000, 400000],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock  %}