{% include "base/base.html" %}
{% block content %}
{% load static %}
<style>
      .grafico {
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        height: 300px; /* Altura del gráfico */
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      }
      .barra {
        width: 18%; /* Ancho de cada barra */
        border-radius: 5px;
        text-align: center;
        transition: all 0.3s ease;
      }
      .barra:hover {
        opacity: 0.8;
      }
      .etiqueta {
        margin-top: 5px;
        font-size: 14px;
      }
      /* Colores individuales para cada barra */
      .lunes { background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); height: 60%; } /* Ejemplo de 60% para lunes */
      .martes {background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); height: 80%; } /* Ejemplo de 80% para martes */
      .miercoles { background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); height: 75%; } /* Ejemplo de 75% para miércoles */
      .jueves { background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); height: 50%; } /* Ejemplo de 50% para jueves */
      .viernes { background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);; height: 30%; } /* Ejemplo de 90% para viernes */
      .lunes, .martes, .miercoles, .jueves, .viernes
      {
      padding: 8px;
      border-radius: 1rem;
      margin-left: 6px;
      }
      .grafico-rosquilla {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-image: conic-gradient(
            #ff6384 0% 20%, /* Lunes */
            #36a2eb 20% 40%, /* Martes */
            #fffc56 40% 60%, /* Miércoles */
            #4bc0c0 60% 80%, /* Jueves */
            #9966ff 80% 100% /* Viernes */
      
            );
      position: relative;
  }
  .centro {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    top: 50px;
    left: 50px;
  }

  .circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff; /* Color de fondo del circle */
}

.circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid red;
  border-radius: 50%;
  border-color: red rgb(255, 199, 199) red transparent; /* Tres lados rojos, uno transparente */
  transform: rotate(-45deg); /* Ajusta este valor para cambiar el ángulo del borde */
}



    </style>
<div class="container mt-2">
      <strong style="                                         
       font-family: Righteous, sans-serif;
      ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
          </svg>
            Dashboard  {{s}}
      </strong>
      <div class=" " 
      style="font-family: Righteous, sans-serif;" >
      <div class="d-none w-100 justify-content-center align-content-center flex-wrap">
      <strong class="p-0 m-0 mt-2" 
      style="
      font-size: 21px;
      margin: 0;
      padding: 0.5rem 1rem;
      background: linear-gradient(to right, rgb(255, 133, 133), rgb(221, 137, 255), rgb(128, 179, 255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;">
            Grupo Fycas
      </strong>
            <!-- <img src="{% static "icons/up.png" %}"  width="30" alt="" srcset=""> -->
      </div>



      <section style="" class="p-1  w-100 position-relative">

            
            <div class="grafico mb-4 mt-5 w-100" style="border-radius: 1rem;">
      
                  <div class="barra lunes d-flex justify-content-center align-content-center flex-wrap">
                    <div class="etiqueta">
                        Vencidos <br>
                        %60
                  </div>
                  </div>
                  <div class="barra martes d-flex justify-content-center align-content-center flex-wrap">
                    <div class="etiqueta">
                        En Proceso <br>
                        %80
                  </div>
                  </div>
                  <div class="barra miercoles d-flex justify-content-center align-content-center flex-wrap">
                    <div class="etiqueta">Saldados <br>
                        %5
                  </div>
                  </div>
                  <div class="barra jueves d-flex justify-content-center align-content-center flex-wrap">
                    <div class="etiqueta">Activos <br>
                        %80
                  </div>
                  </div>
                  <div class="barra viernes d-flex justify-content-center align-content-center flex-wrap">
                    <div class="etiqueta">No Activos <br>
                        %20 
                  </div>
                  </div>
                </div>

      </section>

      <div class="">
            <div class="circle"></div>
          </div>

      <div class="position-fixed bottom-0 d-flex d-none">
            <a href="{% url "customer:list-customer" %}">
                  <button style="border-radius: 1rem;" class="shadow-none border-0 d-flex justify-content-center flex-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                            </svg>
                        <span class="w-100">Cliente</span>
                  </button>
            </a>

            <a href="{% url "maps:maps-customer" %}">

                  <button style="border-radius: 1rem;" onclick="DataCredit()" class="border-0 shadow-none d-flex justify-content-center flex-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" style="" width="23" height="23" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
                              <path d="M6 12v-2h3v2z"/>
                              <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3z"/>
                        </svg>                 
                        <span class="w-100">DataCredito</span>
                  </button>
            </a>
      </div>
</div>

<script src="
https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
"></script>
<script>

      let DataCredit = () => {

            // Crear una nueva instancia de XMLHttpRequest
            var xhr = new XMLHttpRequest();
            
            // Configurar la petición GET a la URL deseada
            xhr.open('GET', 'maps/customer', true);
            
            // Definir la función que manejará la respuesta
            xhr.onload = function() {
                  // Verificar si la petición fue exitosa
                  if (xhr.status >= 200 && xhr.status < 300) {
    // Procesar la respuesta
    console.log('Respuesta recibida:');
} else {
      // Manejar errores
      console.error('La petición ha fallado:', );
}
};

// Enviar la petición
xhr.send();

}
</script>
{% endblock  %}