<style>
      .blur-virginia
      {
            -webkit-backdrop-filter: blur(60px) !important;
            backdrop-filter: blur(60px) !important;
            background-color: rgba(199, 192, 192, 0.279);
            /* background-color: rgba(41, 41, 41, 0.45); */
      }
      .colors
       {
            width: 80px;
            height: 80px;
            /* background-color: rebeccapurple; */
           
       }
</style>
<div class="h-100">
      <div class="w-100 position-absolute bottom-0 ">
            <div class="colors uno" style="background-color: #ffd588; margin-left: 19rem;"></div>
            <div class="colors dos" style=" margin-left: 2rem !important;     background-color: rgb(243, 85, 85);"></div>
            <div class="colors tres" style=" margin-left: 17rem;  margin-top: 2rem;    background-color: rgb(178, 89, 230);"></div>
      </div>
      <div class="position-fixed h-100 w-100 top-0  blur-virginia  ">
            <div class="position-fixed w-100 d-flex justify-content-center mb-3 bottom-0   ">
                  {% include "design-virginia/Menu-V/box-menu.html" %}
            </div>
      </div>
</div>