<style>
       .calculador
      {
            /* background-color: #5A5868; */
            width: 161px;
            height: 49px;
            max-height: 49px;
            border-radius: 26px;
            margin: 0 5px;
            display: flex;
            background-color: #c2c2c23b;
            display: flex;
            justify-content: center;
            align-content: center;
      }
      .calculador svg
      {
            color: #5A5868;
            width: 30px !important;
            height: 30px !important;
            margin-top: 8px;
      }
      .calculador input 
      {
            width:90px;
            background-color: transparent;
            border: none;
            font-size: 17px !important;

      }
      .btn 
      {
            background-color: #c2c2c25c;
            border-radius: 26px;
            width: 42px;
            height: 42px;
            display: flex; flex-wrap: wrap; align-content: center;
            justify-content: center;
            color: #5A5868 !important;
            border: 0;
            padding: 0;
      }

</style>
<div class="calculador-v d-flex flex-wrap">
      <div class="d-flex justify-content-center w-100">
            <div class="calculador">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                        <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                      </svg>
                  <input type="number" name="" id="plazo" style="outline: none !important;">
            </div>
            <div class="calculador">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                      </svg>
                  <input type="text" id="numero"min="-1"  style="outline: none !important;">
            </div>
      </div>

      <div class="w-100 p-2">
            <div>
                  Cuotas Mensuales: <strong id="resultado">$00,000,00</strong>
            </div>
            <div>
                  Interes (15%): <strong id="resultado2"> $00,000,00</strong>
            </div>
            <div>
                  Total: <strong id="resultado3"> $00,000,00</strong>
            </div>
      </div>

      <div id="close-calculador" class="w-100 d-flex mt-3 position-relative">
            <label class="btn" onclick="OpenCalculador()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                      </svg> 
            </label>
          <span class="mt-2 ms-2" onclick="OpenCalculador()">  Atras</span> 
          <label class="position-absolute end-0 mt-2 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
          </label>
      </div>
</div>