<style>
       .calculador
      {
            /* background-color: #5A5868; */
            width: 161px;
            height: 49px;
            border-radius: 26px;
            margin: 0 5px;
            display: flex;
            background-color: #c2c2c25c;
            display: flex;
            justify-content: center;
            align-content: center;
      }
      .calculador svg
      {
            color: #5A5868;
            width: 30px !important;
            height: 30px !important;
            margin-top: 8px;
      }
      .calculador input 
      {
            width:90px;
            background-color: transparent;
            border: none;
            font-size: 17px !important;

      }
      .btn 
      {
            background-color: #c2c2c25c;
            border-radius: 26px;
            width: 42px;
            height: 42px;
            display: flex; flex-wrap: wrap; align-content: center;
            justify-content: center;
            color: #5A5868 !important;
            border: 0;
            padding: 0;
      }

</style>
<div class="calculador-v d-flex flex-wrap">
      <div class="d-flex justify-content-center">
            <div class="calculador">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-123" viewBox="0 0 16 16">
                        <path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75z"/>
                      </svg>
                  <input type="number" name="" id="plazo">
            </div>
            <div class="calculador">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                      </svg>
                  <input type="text" id="numero"min="-1" >
            </div>
      </div>

      <div class="w-100 p-2">
            <div>
                  Cuotas Mensuales: <strong id="resultado"></strong>
            </div>
            <div>
                  Interes (15%): <strong id="resultado2"> </strong>
            </div>
            <div>
                  Total: <strong id="resultado3"></strong>
            </div>
      </div>

      <div class="w-100 d-flex mt-3 position-relative">
            <label class="btn" onclick="OpenCalculador()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                      </svg> 
            </label>
          <span class="mt-2 ms-2" onclick="OpenCalculador()">  Atras</span> 
          <label class="position-absolute end-0 mt-2 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
          </label>
      </div>
</div>