{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<style>
      .btn-configuraciones
      {
            background-color: #eeeeee !important;
      }
</style>

 


{% load static %}
<!-- 
      Si
-->
<style>
      .text-danger
      {
            color: #ff7171 !important;
           
      }
      input
      {
         
      }
      #id_name_r1, #id_name_r2 {
            margin: 0 !important;
      }

      @media (max-width: 930px){
            .sL {
                  justify-content: center;
            }
            .sL .d-flex   {
                  width: 100% !important;
                  
            }
     
      }
      .form-floating 
      {
            margin: 0.1rem;
            height: 51px !important;
            padding: 0 !important;
      }
      .form-control 
      {
            border-radius: 21px !important;
      }

.sL {
            background-color: #6b6b6b00 !important;
           
            width: 100%;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:first baseline;
            position: relative;
            transition: transform 1s cubic-bezier(0.1, 0.0, 0.2, 1.0)
            
        }



.scroll-btn, .btn-black {
       
            width: 130px;
            height: 42px;
            font-size: 14px;
            cursor: pointer;
           background-color: #719CFF;
           flex-wrap: wrap; 
           justify-content: center;
            align-content: center;
            text-align: center;
            color: white;
            border-radius: 24px;
      }
.scroll-btn .bi-arrow-right-circle-fill 
{
            width: 27px;
            height: 27px;
}
            
label {
      -webkit-user-select: none !important; /* Safari */
      -moz-user-select: none !important;    /* Firefox */
      -ms-user-select: none !important;     /* IE10+/Edge */
      user-select: none !important;    
}
.div-menu-1 
{
      display: none !important;
}

.img-glouds 
{
      height: 14rem;
      border-radius: 2.7rem !important;
      background-color: #f6f6f694 !important;
      border: #EBEBEB solid 1px !important;
}

@media (min-width: 600px)
{
      .img-glouds  
      {
            height: 16rem;
            
 
      }
      .sec-sl 
      {
          
            width: 80% !important;
            height: 95%;
            align-content: center;
            margin-top: 0 !important;
      }
}

</style>
<section  class="position-relative  container-fluid   bg-white overflow-hidden   p-1 mb-5 ">
 
                        <div class="sL  align-content-center justify-content-center  position-relative" >
                              <img src="{% static "svg/more.svg" %}" width='26' style='max-width:26px; ' alt="" class="position-absolute top-0 end-0 m-2" onclick="BtnMoreSession()">
                              <div id="btn-more-session" class="position-absolute top-0  d-none  end-0 vh-100 vw-100  bg-white d-flex flex-wrap align-content-center justify-content-center bg-opacity-10 p-3" style="        -webkit-backdrop-filter: blur(40px) !important;
      backdrop-filter: blur(40px) !important;border-radius: 2rem; z-index: 13;" >
                                    <section class="position-relative ">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill text-danger position-absolute top-0 end-0" viewBox="0 0 16 16" onclick="BtnMoreSession()">
                                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                              </svg>
                                          <div style="width: 340px; height:  max-content; border-radius: 2.5rem;" class=" m-1 card mb-4 p-3 bg-transparent">
                                                <form class="login-fast bg-transparent " method="post" enctype='multipart/form-data'> 
                                                      {% csrf_token %}
                                                      <div class="text-center mb-3">
                                                            <strong style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;">Iniciar Session</strong>
                                                      </div>
                                                      <div class="mb-2 mt-3">
                                                            <!-- <label for="cedula-fast" class="form-label"> 
                                                            Cedula </label> -->
                                                            {% if request.user.is_authenticated %}
                                                            <input type="text" class="form-control" id="cedula-fast" name="cedula-fast" value="{{request.user.username}}" disabled aria-describedby="cedula-fastHelp" style="   font-size: 14px !important;
                                                            color: rgb(136, 136, 136);
                                                            height: 3rem !important;
                                                            border-radius: 1rem !important;">
                                                            {% else %}
                                                            <input type="text" class="form-control" id="cedula-fast" name="cedula-fast" placeholder="402-000000-0" aria-describedby="cedula-fastHelp" style="   font-size: 14px !important;
                                                            color: rgb(136, 136, 136);
                                                            height: 3rem !important;
                                                            border-radius: 1rem !important;">
                                                            {% endif %}
                                                      </div>
                                                      <script>
                                                            function DNI_FAST(value) {
                                                                  // Elimina todos los caracteres no numéricos
                                                                  var number_dni = value.replace(/\D/g, '');
                                                                  // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
                                                                  var dni_ = number_dni.replace(/(\d{3})(\d{7})(\d{1})/, '$1-$2-$3');
                                                                  return dni_;
                                                                }
                                                                // Agrega un evento al campo de entrada
                                                                    document.getElementById('cedula-fast').addEventListener('input', function(e) {
                                                                  let dni = document.getElementById('cedula-fast')
                                                                  dni.value = dni.value.slice(0, 13);
                                                                  e.target.value = DNI_FAST(e.target.value);
                                                                });
                                                      </script>
                                                      <div class="mb-3">
                                                            <!-- <label for="numero-fast" class="form-label">Numero</label> -->
                                                            {% if request.user.is_authenticated %}
                                                            <input type="text" class="form-control" id="numero-fast" 
                                                            name="numero-fast"
                                                            placeholder="809-870-7852" disabled value="8**-***-****" style="font-size: 14px !important;
                                                            color: rgb(136, 136, 136);
                                                            height: 3rem !important;
                                                            border-radius: 1rem !important;">
                                                                {% else %}
                                                                <input type="text" class="form-control" id="numero-fast" 
                                                                name="numero-fast"
                                                                placeholder="809-870-7852" style="font-size: 14px !important;
                                                                color: rgb(136, 136, 136);
                                                                height: 3rem !important;
                                                                border-radius: 1rem !important;">
                                                                {% endif %}
                                                      </div>
                                                      <script>
                                                            function NumbersFomat(value) {
                                                                  // Elimina todos los caracteres no numéricos
                                                                  var number = value.replace(/\D/g, '');
                                                                  // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
                                                                  var N = number.replace(/(\d{3})(\d{3})(\d{1})/, '$1-$2-$3');
                                                                  return N;
                                                                }
                                                        
                                                                document.getElementById('numero-fast').addEventListener('input', function(e) {
                                                                          let n = document.getElementById('numero-fast')
                                                                          n.value = n.value.slice(0, 12);
                                                                          e.target.value = NumbersFomat(e.target.value);
                                                                });
                                                              
                                                      </script>
                                                      <div>
                                                            <p class="text-center text-black-50" style="font-size: 12px;">Si no has creado una cuenta, puedes cerrar esta ventana y continuar con el formulario.</p>
                                                      </div>
                                                     <div class="w-100 d-flex justify-content-center flex-wrap">
                                                      
                                                      <div class='w-100 justify-content-center  mt-2 d-flex'>



                                                            {% if request.user.is_authenticated %}
                                                            <a href="{% url "customer:dashboard" %}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                                                                  <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8m5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707z"/>
                                                                </svg>
                                                            Dashboard 
                                                            </a>
                                                            {% else %}
                                                            <button class="scroll-btn" style="width: 11rem;" >Entrar</button>
                                                            {% endif %}
                                                         
                                                      </div>
                                                     </div>
                                                </form>
                                          </div>
                                    </section>
                              </div>
                              <div class="d-flex justify-content-center  ">
                                    <img src="{% static "icons/doc(28).png" %}" class="" width='254' height="280" alt="">
                              </div>
                              <form  method="post" class="form-add-c m-0 " enctype='multipart/form-data'>
                                    {% csrf_token %}
                            <div class="dn text-center p-3 " style='max-width: 700px;'>
                                    <h1 style="text-align: center;" >
                                          ¡Grupo FyCas acaba de expandir sus limites!
                                    </h1>
                                    <div id="carouselExample" class="carousel mt-4 slide">
                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <p class="text-black-50">
                                                      Accesibilidad Total, Solicita tu préstamo desde la comodidad de tu hogar o desde cualquier otro lugar con acceso a internet.
                                                </p>                                            </div>
                                            <div class="carousel-item">
                                                <p class="text-black-50">
                                                      Montos Flexibles Ofrecemos préstamos de cualquier monto que se ajusten a tus necesidades.
                                                </p>                                            </div>
                                            <div class="carousel-item">
                                                <p class="text-black-50">
                                                      Rápida Aprobación Completa tu solicitud en minutos y recibe la aprobación en tan solo 24 horas.
                                                </p>                                            </div>
                                          </div>
                             
                                        </div>
                                   
                                        <div class='w-100 justify-content-center  mt-3 d-flex'>
                                          <label class="scroll-btn" style="width: 11rem;" onclick="scrollToNext()">Continuar</label>
                                          </div>
                           
                            </div>
                          
                        </div>

                              <div class="sL blur  justify-content-center overflow-scroll " id="sL1">
                                    {% include "components/data-person.html" %}
                              </div>

                              <div class="sL blur vh-100 overflow-scroll   pt-5" id="sL2">
                                  {% include "components/cedula.html" %}
                              </div>

                            <div class="sL blur pb-5 vh-100  overflow-scroll  pt-5" >
                                    {% include "components/recide.html" %}
                              </div>

                            <div class="sL blur pb-5 vh-100 overflow-scroll   pt-5 " id="sL3">
                                    {% include "components/info-laboral.html" %}
                            </div>

                            <div class="sL blur vh-100 overflow-scrollp pt-5  " >
                                    {% include "components/referens.html" %}
                            </div>

                              <div class="sL blur vh-100 overflow-scroll  pt-5 " >
                                    {% include "components/options.html" %}
                            </div>

                              <div class="sL blur vh-100 overflow-scroll  pt-5" >
                                    {% include "components/monto-fines.html" %}
                              </div>



                <div class="sL  blur w-100 vh-100  overflow-scroll  " >
                  
                         <section class="mt-5 w-100 sec-sl d-flex flex-wrap justify-content-center">
                                          <div class="w-100 d-flex img-glouds align-content-center m-1 " 
                                          style='background-color: #F6F6F6; max-width: 30rem; 
                                          border-radius: 35px;'>
                                          <div class="img-data d-flex flex-wrap align-content-center">
                                                <img src="{% static "icons/doc(24).png" %}"
                                                      width='164' height='154' alt="">
                                          </div>
                                          <div class='d-flex flex-wrap align-content-center'>
                                                <h6>
                                                      Terminos y Condicones
                                                </h6>
                                                <p class="text-black-50 mt-4">
                                                      Usted nos otorgará permiso para utilizar la información y los datos proporcionados.
                                                </p>
                                          </div>
                                    </div>
                                    <section class=" d-flex flex-wrap align-content-center w-100 " style="max-width: 30rem;">
                                          <div class="w-100 d-flex justify-content-center mt-5">
                                                <label class="bg-transparent scroll-btn text-black " style="width: 100px;" onclick='scrollToLast()'>Atras</label>
                                                <button class="scroll-btn" style="width: 12rem;">
                                                      Aceptar y enviar
                                                </button>   
                                          </div>    
                                    </section>
                        </section>
            
                  </div>
      
      

            </form>
            <div class="w-100 mt-5 mb-5">
                  <hr class="container text-white mt-3 mb-2">
            </div>
      </section>


 



<script>
      let n = 2
      const sections = document.querySelectorAll('.sL');
      const sections_max = sections.length ;
      function scrollToNext() {
            if(n <= sections_max ) {
                  sections.forEach((section, index) => {
                      if (index + 1 === n) {
                          section.style.transform = `translateY(${-(index) * 100}vh)`;
                      } else if (index + 1 < n) {
                          section.style.transform = `translateY(-100vh)`;
                          
                        } else {
                              section.style.transform = `translateY(0vh)`;
                        }
                  });
                  n += 1

                  console.log(n)
            }
            }

function scrollToLast() {
      if (n > 1) {
            sections.forEach((section, index) => {
                  if (index + 1 === n - 1) {
                  section.style.transform = `translateY(${-(index) * 100}vh)`;
                  } else if (index + 1 < n - 1) {
                  section.style.transform = `translateY(-100vh)`;
                  } else {
                  section.style.transform = `translateY(0vh)`;
                  }
            });
            if(n > 2){
                  n -= 1;
            }
      
            console.log(n);
      }
}


        
</script>
<script>


      function cambiarFormatoFecha() {
          const inputFecha = document.getElementById('id_date');
          const inputFechaNewText = document.getElementById('id_date_text');
          const fechaSeleccionada = new Date(inputFecha.value);
          const dia = fechaSeleccionada.getDate().toString().padStart(2, '0');
          const mes = (fechaSeleccionada.getMonth() + 1).toString().padStart(2, '0');
          const anio = fechaSeleccionada.getFullYear();
          const fechaFormateada = `${dia}/${mes}/${anio}`;
          inputFechaNewText.value = fechaFormateada;
          
      }

      // Evento para llamar a la función cuando se cambia la fecha
      document.getElementById('id_date').addEventListener('change', cambiarFormatoFecha);

    function verificarUbicacionActiva() {
          if ("geolocation" in navigator) {
              navigator.permissions.query({ name: 'geolocation' }).then((result) => {
                  if (result.state === 'granted') {

//                        console.log("La ubicación está activa.");
                  } else if (result.state === 'prompt') {
                //console.log("La página está solicitando permiso para acceder a la ubicación.");
                  } else {
                    //  console.log("La ubicación está desactivada.");

                  }
              });
          } else {
            //  console.log("El navegador no soporta la geolocalización.");
          }
      }
      
      // Agregar el listener para cada evento en la página
      ["click", "mousemove", "keydown", "touchstart"].forEach(event => {
          document.addEventListener(event, verificarUbicacionActiva);
      });



      

  
      
        // Obtener el input y la div de la imagen
        let input = document.getElementById("id_img1");
        let img = document.getElementById("img-views1");
        // Añadir un evento onchange al input para procesar la imagen seleccionada
        input.onchange = function(e) {
          // Obtener el archivo de la imagen
          var file = e.target.files[0];
          // Crear un objeto FileReader para leer el contenido del archivo
          var reader = new FileReader();
          reader.onload = function(e) {
            // Obtener el resultado de la lectura como una URL de datos
            var url = e.target.result;
            // Crear un elemento img para mostrar la imagen
            img.classList.add('img-view1');
            img.src = url;
            img.style.width = "50px";
            img.style.height = "50px";
            img.style.borderRadius = "1.5rem";
            img.style.display = "block"
          };
          reader.readAsDataURL(file);
        };
      
        // Obtener el input y la div de la imagen
        let input2 = document.getElementById("id_img2");
        let img2 = document.getElementById("img-views2");
        // Añadir un evento onchange al input2 para procesar la imagen seleccionada
        input2.onchange = function(e) {
          // Obtener el archivo de la imagen
          var file = e.target.files[0];
          // Crear un objeto FileReader para leer el contenido del archivo
          var reader = new FileReader();
          reader.onload = function(e) {
            // Obtener el resultado de la lectura como una URL de datos
            var url = e.target.result;
            // Crear un elemento img2 para mostrar la imagen
            img2.classList.add('img2-view2');
            img2.src = url;
            img2.style.width = "50px";
            img2.style.height = "50px";
            img2.style.borderRadius = "1.5rem";
            img2.style.display = "block"
            console.log(img2.src)
          };
          reader.readAsDataURL(file);
        };
      
      //   Capture Code Geolcalitation
      
      let CaptureLocation = ()=> {
            Acept()
            document.getElementById("div-acept").style.display = 'none';
            navigator.geolocation.getCurrentPosition((position) => {
                  if(document.getElementById("id_lat").value){
                  }
                  else{
                        document.getElementById("id_lat").value = position.coords.latitude;
                        document.getElementById("id_lon").value = position.coords.longitude;
                        console.log(document.getElementById("id_lon").value)
                        console.log(document.getElementById("id_lat").value)
                  }
            });
      }
      
      let Acept = () =>{
            
            let acept = document.getElementById("acep")
                  if (acept.style.display === "none") {
                        document.getElementById("btn-add").style.display = 'none'
                        document.getElementById("acep-yes").style.display = 'none';
                        document.getElementById("div-acept").style.display = 'block';
                        acept.style.display = "block";
                  } else {
                        document.getElementById("acep-yes").style.display = 'block';
                        document.getElementById("btn-add").style.display = 'flex'
                        acept.style.display = "none";
                  }
                  
      }
      var List = [""]
      // Add DNI

   
        
      document.getElementById('id_phone').addEventListener('input', function(e) {
                  let n = document.getElementById('id_phone')
                  e.target.value = NumbersFomat(e.target.value);
      });
      
   
      

   
      
          document.getElementById('id_salario_m').addEventListener('input', function(e) {
                  let n = document.getElementById('id_salario_m')
                  n.value = n.value.slice(0, 29);
      e.target.value = NumbersFomatSalari(e.target.value);
                  
        });
      
</script>
<script>
      // Función que simula el clic en el elemento con id "next"
function clickOnNext() {
    var nextButton = document.getElementById('next');
    if (nextButton) {
        nextButton.click();
    }
}

// Llamamos a la función clickOnNext cada 5 segundos
setInterval(clickOnNext, 5000); // 5000 milisegundos = 5 segundos

function clickOnNextN() {
    var nextButtonN = document.getElementById('nex-n');
    if (nextButtonN) {
        nextButtonN.click();
    }
}

// Llamamos a la función clickOnNext cada 5 segundos
setInterval(clickOnNextN, 5000); // 5000 milisegundos = 5 segundos

function BtnMoreSession() {
      var btnMoreSession = document.querySelector('#btn-more-session');
      if (btnMoreSession) {
            btnMoreSession.classList.toggle('d-none');
      }
}
</script>

      



{% endblock %}