{% load static %}
<style>
.btn-filter button
{
      min-width: max-content;
      border-radius: 2rem !important;
      /* border: 1px rgb(225, 225, 225) solid !important; */
      font-size: 13px;
      height: 2.3rem;
      color: rgb(52, 52, 52) ; 
      font-family: Quicksand, sans-serif !important; 
      font-weight: normal !important;
      background-color: rgba(255, 255, 255, 0.663);    
        -webkit-backdrop-filter: blur(90px) !important;
      backdrop-filter: blur(90px) !important;
}
strong
{
      font-size: 12px;
      color: gray;
}
#n-1123 
{
      color: black;
}
</style>
<div class="btn-filter  d-flex overflow-scroll w-100  " >

      {% if customer %}
      <div  class="div-menu-1  d-flex flex-wrap  bg-white bg-opacity-50     justify-content-center" > 
            <div class="w-100">
                  <strong class=" d-none">
                        ...
                  </strong>
            </div>
          <div class="d-flex blur" style="border-radius: 2rem;border: rgba(227, 227, 227, 0.202) 1px solid; ">
            <img src="{% static "icons/search.png" %}" class="mt-2 "
            style="margin-left: 1.2rem; margin-right: 0.3rem;"  width='20' height="20" alt="">
            <input type="text"  style="font-size: 12px;  height: 2.5rem;     
            border-radius: 0.3rem !important;
                  border-top-right-radius: 2rem !important;
                  border-bottom-right-radius: 2rem !important;
               " class="form-search  border-0 w-100 bg-transparent m-0 me-1 searching-config "  
            placeholder=" Buscar cliente (alt + b)">
          </div>

      </div>
      <!-- <div></div> -->
      {% endif %}

      <button class="border-1 p-2" style=" border: 1px rgb(225, 225, 225) solid !important;">
            <form action="" method="post" class='w-100 border-0  d-flex justify-content-end flex-wrap'>
                  {% csrf_token %}
                  <div class="d-flex  justify-content-center ms-1" >
                  <label for="n-1123">Filtrar: </label> 
                        {% if count_customer  == None %}    
                              <input id="n-1123" type="number" class='m-0 pb-2 border-0 form-control bg-transparent ' 
                              style='height: 1.6rem; width: 5rem; background-color: rgb(240, 240, 240);' value='10' name='20-customer' >
                              {% else %}
                              <input id="n-1123" type="number" class='m-0 pb-2 border-0 form-control bg-transparent ' 
                              style='height: 1.6rem; width: 5rem; background-color: rgb(240, 240, 240);' value='{{count_customer}}' name='20-customer' >
                        {% endif %}
                  </div>
                  <!-- <button class='p-0 border-0 me-2' style="border: none !important; background-color: transparent !important;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter  text-primary border-0 bg-transparent" viewBox="0 0 16 16">
                              <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                            </svg>
                  </button> -->
                  </form>
      </button>
      <form action="" class="me-1" method="post">
            {% csrf_token %}
                  <input type="number" id='noti' name='noti' value='' class='d-none'>
                  <script>
                        document.getElementById('btn-notifycation').addEventListener('click', function(){
                              document.getElementById('noti').value = 1;
                        });
                  </script>
      <button class="border-0"  style='width: 5rem;'>
            <img  src="{% static "icons/notify.png" %}" width='24' alt="">
            <span>
                  ({{new_customer}})
                  
            </span>
      </button>

      </form>



      <!-- <button>
            Saldar Deudas
      </button>
      <button>
            Hijos
      </button>
      <button>
            Familiar en FyCas
      </button>
      <button>
            Recomendado
      </button>
      <button>
            Vehículo
      </button>
      <button>
            Tierra
      </button>
      <button>
            No Aprobados
      </button>
      <button>
            Santo Domingo Norte
      </button>
      <button>
            Santo Domingo Oeste
      </button>
      <button>
            Santo Domingo Este
      </button> -->
</div>