{% load static %}
<style>
      .btn-nav 
      {
            width: 17rem;
            display: flex;
            flex-wrap: wrap;    
            /* border: rgb(228, 228, 228) 1px solid; */
            border-radius: 2rem;
      }
      .btn-nav button, a
      {
            width: 100%;
            height: auto;
            display: flex; 
            justify-content: start;
            align-content: center;
            border-radius: 1.8rem;
            border: rgb(244, 244, 244) 1px solid;
            color: rgb(94, 94, 94);
            margin-top: 0.1rem;
            font-weight:400 !important;
            font-size: 12px !important;
            background-color: rgba(255, 255, 255, 0.749);
      }
      a 
      {
            border: 0 !important;
            background-color: transparent;
      }
      .btn-nav span
      {
            margin-top: 0.2rem;
      }
      .btn-nav button img
      {
            margin-right: 0.5rem;
      } 
       .btn-nav button:hover  
      {
            /* margin-top: 0.2rem; */
            scale: 1.1;

      } 
      .btn-nav strong
      {
            width: 100%;
            font-size: 12px;
            color: gray;
      }
      @media (min-width: 750px){
            .nav-2 
            {
                  display: block !important;
            }
            .nav-1
      {
            display: none !important;
      }
      }



</style>
<div class='btn-nav p-3 m-1 pb-2 bg-white bg-opacity-50' >
      <div class="w-100 d-flex justify-content-center mb-1 mt-1">
            <img src="{% static "icons/doc(46).png" %}" width='44' alt="">
            <h6 class="p-0 m-0 mt-2" 
            style="font-size: 21px; margin: 0; padding: 0.5rem 1rem;
           ">
                  Grupo Fycas
            </h6>      
      </div>
      <div class="mt-2 w-100">
            <strong >
                  Opciiones Clientes
            </strong>
      </div>
      <a href="{% url "customer:add-customer" %}">
            <button>
                  <img src="{% static "svg/add-user.svg" %}" width='24' alt="">
                  <span>
                        Agregar 
                  </span>
            </button>
      </a>
      <a href="{% url "customer:list-customer" %}">
            <button>
                  <img src="{% static "svg/user.svg" %}" width='24' alt="">
                  <span>
                        Listado 
                  </span>
            </button>
      </a>
      <a href="{% url "customer:select-customer" %}">
            <button>
                  <img src="{% static "svg/list.svg" %}" width='24' alt="">
                  <span>
                        Seguimiento 
                  </span>
            </button>
      </a>
      <div class="mt-2 w-100">
            <strong >
                  Herramientas
            </strong>
      </div>
      <button onclick="Cal()">
            <img src="{% static "svg/calculator.svg" %}" width='24' alt="">
            <span>
                  Calculara
            </span>
      </button>
      <button>
            <img src="{% static "svg/calendar.svg" %}" width='24' alt="">
            <span>
                  Calendario
            </span>
      </button>
      <button>
            <img src="{% static "svg/map.svg" %}" width='24' alt="">
            <span>
                  Localizaciones
            </span>
      </button>
      <button>
            <img src="{% static "svg/document.svg" %}" width='24' alt="">
            <span>
                  Exes y PDF  
            </span>
      </button>
      <div class="mt-2 w-100">
            <strong >
                  Sistema
            </strong>
      </div>
      <button>
            <img src="{% static "svg/config.svg" %}" width='24' alt="">
            <span>
                  Configuraciones
            </span>
      </button>
      <form action="" class="w-100 me-1" method="post">
            {% csrf_token %}
                  <input type="number" id='noti' name='noti' value='' class='d-none'>
                  <script>
                        document.getElementById('btn-notifycation').addEventListener('click', function(){
                              document.getElementById('noti').value = 1;
                        });
                  </script>
      <button  >
            <img  src="{% static "icons/notify.png" %}" width='24' alt="">
            <span>
                  ({{new_customer}})
                  Notificaciones 
            </span>
      </button>

      </form>
      <div class="mt-2 w-100 d-none">
            <strong >
                  Cuadro de busqueda
            </strong>
      </div>
</div>
<div  class="w-100 div-menu-1 d-flex mt-2  position-sticky bottom-0  justify-content-center">
      <input type="text"  style="font-size: 14px;  min-height: 2.5rem;  border: rgb(244, 244, 244) 1px solid;
      max-height: 2.9rem;  box-shadow: 1px 2px 7px 1px rgb(240, 240, 240);" class="form-search bg-danger  text-center w-100  m-0 mb-1 ms-3 me-3  bg-white  searching-config "  
      placeholder=" Buscar cliente (alt + b)">
</div>
<!-- <input type="text"  style="font-size: 14px;  min-width: 200px; min-height: 2.5rem;margin-top: 5px !important;   max-height: 2.5rem; " class="form-search bg-danger  text-center w-100  m-0 mb-1  bg-white bg-opacity-75 "  id="searching-config" 
placeholder=" Buscando Clientes "> -->
