{% load static %}

<div class="w-100 img-glouds d-flex align-content-center m-1 " 
      style='background-color: #F6F6F6; max-width: 30rem; 
      border-radius: 35px;'>
      <div class="img-data d-flex flex-wrap align-content-center">
            <img src="{% static "icons/doc(33).png" %}"
                  width='164' height='164' alt="">
      </div>
      <div class='d-flex flex-wrap align-content-center'>
            <h6>
                  Foto de Cedula
            </h6>
            <p class="text-black-50 mt-4">
                  Procura una superficie plana, una
                  buena iluminacion y calidad de la
                  imagen
            </p>
      </div>
</div>
<section class=" d-flex flex-wrap align-content-center w-100 justify-content-center " style="max-width: 30rem;">



      <div class="div-label d-flex text-center mt-4 flex-wrap justify-content-center position-relative aling-content-center  " style="width: 320px; height: 160px;"> 
           <span class="d-none">
            {{form.img1}}
           </span>
            <img src=""   id="img-views1" style="display: none;" class="w-100  img h-100 object-fit-cover position-absolute top-0">
            <label style="z-index: 1;" for="id_img1"  class="img-label position-absolute w-100 h-100 d-flex top-0 mt-0 bg-opacity-10 bg-white justify-content-center align-content-center flex-wrap">
                  <span class="bg-white  blur text-black d-flex align-content-center flex-wrap justify-content-center rounded-circle bg-opacity-50" style="width: 40px; height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                            </svg>
                  </span>
            </label>
      </div>
      <div class="w-100 text-center">
            <p class="text-black-50">
                  Pulse sobre el circulo
            </p>
      </div>



      <div class="d-flex justify-content-end align-content-center mt-2 w-100 flex-wrap">    
            <label class="bg-transparent scroll-btn text-black " style="width: 100px;" onclick='scrollToLast()'>Atras</label>
            <label class="scroll-btn" onclick="scrollToNext()">Siguiente 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                      </svg>
            </label>
      </div>

</section>


      


      
