{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<style>

@keyframes rotate-stars {
      0% {
            transform: rotate(0deg);
            animation-timing-function: ease;

      }

      100% {
            transform: rotate(360deg);
            animation-timing-function: ease;

      }
}

.bi-stars {
      animation: rotate-stars 4s infinite;
}

      
      .btn-configuraciones
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-configuraciones img 
{
      display: none;
}

      #cardDeck .card
      {
            max-width: 800px;
            margin: 0 auto;
      }
      #cardDeck .card-header
      {
            /* background-color: rgb(202, 230, 255); */
      }

      .form-check-label 
      {
            font-size: 12px; margin-left: 8px; color: gray;
      } 
      .form-check-input
      {
            border-radius: 50% !important;

      }
      .div-conf .card {
            border-radius: 1rem; background-color: rgb(255, 255, 255) !important; 
            border: 0px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); padding: 0.1rem;

      }

      .card-header 
      {
            background-color: rgb(255, 255, 255) !important; border-radius: 1rem !important; border-bottom-left-radius: 1px !important ; font-weight: 600;
            border-bottom-right-radius: 1px !important ; border: none;

            /* margin-bottom: 2px; */
      }
      .div-conf .card:hover{
            transition: 1S !important;
          transform: scale(1.05);
      }
      .card-body p{
            font-size: 13px !important; padding: 0 !important; margin: 0 !important;
            display: none;
      }
      .card-body .form-check 
      {
            width: max-content;
            padding: 0 !important;
      }
      @keyframes flip-options-down {
    0% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

/* Clase que aplicará la animación */
.flip-options-down {
    animation: flip-options-down 0.5s ease-in-out forwards;
    transform-origin: top; /* Punto de rotación */
    opacity: 0; /* Oculto por defecto */
}


.profile-photo div:hover {
      background-color: rgba(0, 0, 0, 0.647); 
      color: rgba(255, 255, 255, 0.611) !important;
      -webkit-backdrop-filter: blur(4px) !important;
      backdrop-filter: blur(4px) !important;
      cursor: pointer; transition: 0.1 !important;
}



input[type="checkbox"]:checked {
      background-color: var(--bg-enfasis) !important;
      border: none !important;
}


</style>



<section class="w-100  h-100 div-conf  top-0 start-0  d-flex overflow-scroll  p-0"
      style="z-index: 0;">


      <div class="profile-header w-100" >
            <div class="cover-photo d-flex" style=" height: 150px;
            background-repeat: no-repeat; background-size: cover; background-position: center;
            filter: brightness(0.9) ;
            background-image: url({{company.Icon.url}});
            /* background-color: var(--bg-enfasis);   */
            border-radius: 1.9rem;
            border-bottom-left-radius: 2rem;">
            <div class="profile-info  d-flex w-100">
                  <div style="width: 100%; height: 100%;" class=" position-relative">
                        <div class="profile-photo  position-sticky position-relative bg-white d-flex justify-content-center flex-wrap align-content-center start-0  p-1  " style="margin-top: 5rem; width: 100px; height: 100px; border-radius: 50%; overflow: visible; transition: 0.1s !important;  border: 0px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); padding: 0.1rem;">
                              {% if company.Icon.url %}
                              <img src="{{company.Icon.url}}" alt="Profile Photo" style="width: 90%; height: 90%; object-fit: cover; "  id="img-profile" class='rounded-circle'>
                              <div class='z-3 end-0 change-img w-100 text-center pt-2   d-flex rounded-circle justify-content-center align-content-center flex-wrap'  style="width: 100%; height: 100%;  font-size: 14px;
                              font-weight: 700;position: absolute; top: 0; left: 0rem;
                              color: transparent;">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill m-0  me-1 p-0" style="transition: 0s !important; margin-top: 3px !important;" viewBox="0 0 16 16">
                                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"/>
                                  </svg> Imagen
                              </div>
                              {% endif %}
                        </div>
                  </div>
            </div>
      </div>
      <div class="profile-name position-relative " style="margin-top: 5px; margin-left: 7rem;">
            <h5 style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size: 16px; ">
                  <!-- {{company.name}} -->
            </h5>


      </div>

      
      {% if configurations %}
      <div class=" mt-5 w-100  pt-4  w-100 d-flex justify-content-center flex-wrap " data-aos="fade-in" 
            style=''>

            {% for config in configurations %}
                  <div class="card m-2  overflow-hidden overflow-scroll" data-aos="fade-right" 
                        style="transition: 0.5s; width: 22rem; height: 10rem; border-radius: 1.5rem;">
                        <div class="card-header">  
                              {{config.svg|safe}}
                              {{config.name}}
                        </div>
                        {% if config.options_configuration.all %}
                              <div class="card-body">
                                    {% for option in config.options_configuration.all %}
                                          <div class="form-check">

                                                {% if option.is_checked != None %}
                                                      <input class="form-check-input" type="checkbox"
                                                      id="form-check{{option.id}}"
                                                          {% if option.is_checked %} checked {% endif %}>

                                                      <label class="form-check-label" for="form-check{{option.id}}"> 
                                                            {{option.name}}
                                                      </label>
                                                       {% else %}
                                                       <label class="form-check-label" for="form-check{{option.id}}"> 
                                                             {{option.name}}
                                                      </label>
                                                      <span style='font-size: 12px;' class='text-black-50'> {{ option.select_option }} % </span>
                                                {% endif %}
                                           
                                          </div>
                                    {% endfor %}
                              </div>
                        {% endif %}
                  </div>
            {% endfor %}            

      </div>
      {% endif %}
</section>

<script>



      document.querySelectorAll('input[type="checkbox"]').forEach(input => {
            input.addEventListener('mouseover', () => {
                 
                  const label = input.nextElementSibling.innerText;
                  const modal = document.createElement('div');
                  modal.className = 'alert alert-warning', 'rounded-4';
                  modal.classList.add('flip-options-down', 'rounded-4');
                  modal.style.position = 'fixed';
                  modal.style.top = '30px';
                  modal.style.left = '40%';
                  modal.style.transform = 'translateX(-50%)';
                  modal.style.zIndex = '1050';
                  modal.innerText =  label + ' (No disponible en este usuario)';
                  document.body.appendChild(modal);


                  // input.classList.add('d-none')

                  setTimeout(() => {
                        modal.remove();
                        input.classList.remove('d-none')
                  }, 4000);
            });

            input.addEventListener('mouseout', () => {
                    const modal = document.querySelector('.alert.alert-warning');
                    if (modal) {
                              modal.remove();

                    }
            });

      });

document.querySelector('.change-img').addEventListener('click', () => {
    const inputFile = document.createElement('input');
    inputFile.type = 'file';
    inputFile.accept = 'image/*';
    inputFile.style.display = 'none';

    inputFile.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {

       

            const colorThief = new ColorThief();
            const imgElement = document.createElement('img');
            imgElement.src = URL.createObjectURL(file);
            imgElement.onload = () => {

                  const bg_enfasisInput = document.createElement('input');
            bg_enfasisInput.type = 'text';
            bg_enfasisInput.name = 'bg_enfasis';
            const dominantColor = colorThief.getColor(imgElement);


                
            bg_enfasisInput.value = `#${dominantColor.map(c => c.toString(16).padStart(2, '0')).join('')}`;
                


                const formData = new FormData();
                
                console.log(bg_enfasisInput.value, 'Siuu');
                formData.append('image', file);
                formData.append('bg_enfasis', bg_enfasisInput.value); 
                
                // Aquí usamos el valor en lugar del elemento.



                $.ajax({
                    url: '/upload-image-url', // Asegúrate de que esta URL sea correcta
                    type: 'POST',
                    data: formData,
                    processData: false, // No procesar los datos
                    contentType: false, // No establecer el encabezado Content-Type
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // Token CSRF si usas Django
                    success: function(response) {
                        console.log('Imagen subida:', response);
                            window.location.reload();
                        // Actualiza la imagen de perfil con la URL devuelta
                        document.getElementById('img-profile').src = response.image_url;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error al subir la imagen:', error);
                    }
                });

            };

        }
    });

    document.body.appendChild(inputFile);
    inputFile.click();
});

</script>

{% endblock %}