{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<style>
              .btn-configuraciones
{
      background-color: var(--bg-enfasis) !important;
      color: white !important;
      width: max-content !important;
      
}
.btn-configuraciones img 
{
      display: none;
}

      #cardDeck .card
      {
            max-width: 800px;
            margin: 0 auto;
      }
      #cardDeck .card-header
      {
            /* background-color: rgb(202, 230, 255); */
      }

      .form-check-label 
      {
            font-size: 12px; margin-left: 8px; color: gray;
      } 
      .form-check-input
      {
            border-radius: 50% !important;

      }
      .div-conf .card {
            border-radius: 1rem; background-color: rgb(255, 255, 255) !important; 
            border: 0px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); padding: 0.1rem;

      }

      .card-header 
      {
            background-color: rgb(246, 246, 246) !important; border-radius: 1rem !important; border-bottom-left-radius: 0 !important ;
            border-bottom-right-radius: 0 !important ; border: none; 
            margin-bottom: 4px;
      }
      .div-conf .card:hover{
          transform: scale(1.02);
      }
</style>

<section class="w-100  h-100 div-conf  top-0 start-0  d-flex overflow-scroll  p-3"
      style="z-index: 0;">


      <div class="profile-header ">
            <div class="cover-photo d-flex" style="background-image: url('https://img.freepik.com/fotos-premium/fondo-azul-claro-solido_1332213-30789.jpg'); height: 200px; background-size: cover; background-position: center;">
            <div class="profile-info  d-flex w-100">
                  <div style="width: 100%; height: 100%;" class="p-3 bg-black bg-opacity-10 position-relative">
                        <div class="profile-photo position-sticky blur p-1" style="margin-top: 8rem; width: 100px; height: 100px; border-radius: 50%; overflow: visible; ">
                              {% if setting.Icon.url %}
                              <img src="{{setting.Icon.url}}" alt="Profile Photo" style="width: 100%; height: 100%; object-fit: cover; " class='rounded-circle'>
                              {% endif %}
                        </div>
                  </div>
            </div>
      </div>
      <div class="profile-name " style="margin-top: 0em; margin-left: 8rem;">
            <h2 style="font-family: Chillax; font-weight: 500;">Grupo Fycas</h2>
      </div>
      


      <div class="container mt-4 pt-5  ">
            <div class="row">
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Configuraciones</div>
                              <div class="card-body">
                                    <p>Administrar aplicación.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="configOption1">
                                          <label class="form-check-label" for="configOption1">
                                                Activar modo oscuro
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="configOption2">
                                          <label class="form-check-label" for="configOption2">
                                                Activar notificaciones
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="configOption3">
                                          <label class="form-check-label" for="configOption3"> 
                                                Activar notificaciones de voz
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Clientes</div>
                              <div class="card-body">
                                    <p>Gestiona la información de los clientes.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="clientesOption1">
                                          <label class="form-check-label" for="clientesOption1"> Enviar recordatorio  via mensaje </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="clientesOption2">
                                          <label class="form-check-label" for="clientesOption2"> Enviar facturas automáticamente via correo </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="clientesOption3">
                                          <label class="form-check-label" for="clientesOption3"> Enviar ofertas via mensaje</label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Calculadora de intereses</div>
                              <div class="card-body">
                                    <p>Realiza cálculos financieros facil.</p>
                                    <div class="d-flex">
                                          <span style="font-size: 14px;"> Tasa por defecto </span>%
                                          <input type="text" width="100" value="15" 
                                                class="rounded-4 border-0 ms-3 w-25 p-1 mt-1 bg-transparent" style="outline: none; height: 1rem;">
                                    </div> 
                                    <div class="form-check">
                                          <input class="form-check-input" checked type="checkbox" id="calculadoraOption2">
                                          <label class="form-check-label" for="calculadoraOption2">
                                                Mostrar en el panel lateral

                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="calculadoraOption3">
                                          <label class="form-check-label" for="calculadoraOption3">
                                                Activar mediante Shift + command (Alt) +  C      
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Mapas</div>
                              <div class="card-body">
                                    <p>Visualiza ubicaciones y rutas en los mapas.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" checked type="checkbox" id="mapasOption1">
                                          <label class="form-check-label" for="mapasOption1">
                                                Mostrar ubicaciones en el mapa
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="mapasOption2">
                                          <label class="form-check-label" for="mapasOption2">
                                                Mostrar rutas en el mapa al selecionar
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="mapasOption3">
                                          <label class="form-check-label" for="mapasOption3">
                                                Mostrar buscardor en map      
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Créditos</div>
                              <div class="card-body">
                                    <p>Administra los créditos y préstamos.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="creditosOption1">
                                          <label class="form-check-label" for="creditosOption1">
                                                Eliminar al finalizar 
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" checked type="checkbox" id="creditosOption2">
                                          <label class="form-check-label" for="creditosOption2">
                                                Notificar vencimiento
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="creditosOption3">
                                          <label class="form-check-label" for="creditosOption3">
                                                Negar créditos a clientes con deudas
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Mensajería</div>
                              <div class="card-body">
                                    <p>Envía y recibe mensajes.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="mensajeriaOption1">
                                          <label class="form-check-label" for="mensajeriaOption1">
                                                Mostrar en linea
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="mensajeriaOption2">
                                          <label class="form-check-label" for="mensajeriaOption2">
                                                Permitir llamadas
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="mensajeriaOption3">
                                          <label class="form-check-label" for="mensajeriaOption3">
                                                Mostrar en ventana flotante
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                        <div class="card">
                              <div class="card-header">Inversiones</div>
                              <div class="card-body">
                                    <p>Gestiona las inversiones y portafolios.</p>
                                    <div class="form-check">
                                          <input class="form-check-input" checked type="checkbox" id="inversionesOption1">
                                          <label class="form-check-label" for="inversionesOption1">
                                                Nofificar al generar credito
                                          </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" checked type="checkbox" id="inversionesOption2">
                                          <label class="form-check-label" for="inversionesOption2">
                                                Usuario puede tener acceso a inversiones
                                          </label>
                                    </div>
                   
                              </div>
                        </div>
                  </div>
                  
            </div>
      </div></div>

</section>

<script>
      document.querySelectorAll('input[type="checkbox"]').forEach(input => {
            input.addEventListener('mouseover', () => {
                 
                  const label = input.nextElementSibling.innerText;
                  const modal = document.createElement('div');
                  modal.className = 'alert alert-warning';
                  modal.style.position = 'fixed';
                  modal.style.top = '20px';
                  modal.style.left = '50%';
                  modal.style.transform = 'translateX(-50%)';
                  modal.style.zIndex = '1050';
                  modal.innerText =  label + ' (No disponible en este usuario)';
                  document.body.appendChild(modal);


                  // input.classList.add('d-none')

                  setTimeout(() => {
                        modal.remove();
                        input.classList.remove('d-none')
                  }, 4000);
            });

            input.addEventListener('mouseout', () => {
                    const modal = document.querySelector('.alert.alert-warning');
                    if (modal) {
                              modal.remove();

                    }
            });

      });
</script>

{% endblock %}