{% load static %}

<div>
      <img src="{% static "icons/doc(44).png" %}" class="" width='214' alt="">
</div>
<strong class="p-0 m-0  mt-5 w-100 ms-2">
      Informacion Laboral
</strong>
<section class="w-100 d-flex flex-wrap  ">
                  <div class="w-100">
                        <p class="text-black-50 m-0 ms-2 mb-2">
                              Lugar de Trabajo, Cargo o (Funcion), Ingresos Mensuales y Numero de Contacto de la Empresa.
                        </p>
                  </div>
                  <!-- <div class="form-floating mb-3 " >
                        {{form.empresa_trabaja}}
                        <label for="id_work_information">Empresa donde  Trabaja</label>
                  </div> -->
                  <div class="form-floating mb-3 " >
                        {{form.empresa_trabaja}}
                        <label for="id_work_information">
                              Empresa donde  Trabaja</label>
                  </div>
                  <div class="form-floating mb-3 " >
                        {{form.cargo}}
                        <label for="id_work_information">Cargo o (Funcion)</label>
                  </div>
                  <div class="form-floating mb-3  " >
                        {{form.salario_m}}
                        <label for="id_work_information">Ingresos Mensuales</label>
                  </div>
                  <div class="form-floating mb-3 " >
                        {{form.phone}}
                        <label for="id_work_information"> Numero de Contacto de la Empresa</label>
                  </div>

</section>