{% load static %}

<section class="mt-5 w-100 sec-sl d-flex flex-wrap justify-content-center">
      <div class="w-100 d-flex img-glouds align-content-center m-1 " 
      style='background-color: #F6F6F6; max-width: 30rem; 
      border-radius: 35px;'>
      <div class="img-data d-flex flex-wrap align-content-center justify-content-center">
            <img src="{% static "icons/doc(44).png" %}"
                  width='134' height='124' alt="">
      </div>
      <div class='d-flex flex-wrap align-content-center'>
            <h6>
                  Informacion Laboral
            </h6>
            <p class="text-black-50 mt-4">
                  Lugar de Trabajo, Cargo o (Funcion), Ingresos Mensuales y Numero de Contacto de la Empresa.
            </p>
      </div>
</div>
<section class=" d-flex flex-wrap align-content-center w-100 " style="max-width: 30rem;">
      <div class="d-flex w-100 mt-4">
            <div class="form-floating mb-2 w-50 " >
                  {{form.empresa_trabaja}}
                  <label for="id_work_information">
                        Empresa donde  Trabaja</label>
            </div>
            <div class="form-floating mb-2 w-50 " >
                  {{form.cargo}}
                  <label for="id_work_information">Cargo o (Funcion)</label>
            </div>
      </div>
      <div class="d-flex w-100">
            <div class="form-floating mb-2  w-50 " >
                  {{form.salario_m}}
                  <label for="id_work_information">Ingresos Mensuales</label>
            </div>
            <div class="form-floating mb-2  w-50" >
                  {{form.phone}}
                  <label for="id_work_information"> Contacto de la Empresa</label>
            </div>
      </div>
      <div class="d-flex justify-content-end align-content-center mt-5 w-100 flex-wrap">    
            <label class="bg-transparent scroll-btn text-black " style="width: 100px;" onclick='scrollToLast()'>Atras</label>
            <label class="scroll-btn" onclick="scrollToNext()">Siguiente 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                      </svg>
            </label>
      </div>

</section>
</section>

<script>

function NumbersFomat(value) {
          // Elimina todos los caracteres no numéricos
          var number = value.replace(/\D/g, '');
          // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
          var N = number.replace(/(\d{3})(\d{3})(\d{1})/, '$1-$2-$3');
          return N;
        }

document.getElementById('id_phone').addEventListener('input', function(e) {
                  let n = document.getElementById('id_phone')
                  n.value = n.value.slice(0, 12);
                  e.target.value = NumbersFomat(e.target.value);
                  
        });

        document.getElementById('id_salario_m').addEventListener('input', function(e) {
                  let n = document.getElementById('id_salario_m')
                  n.value = n.value.slice(0, 29);
                  e.target.value = NumbersFomatSalari(e.target.value);
                  
        });
      
</script>


      


      
