   {% load humanize %}
    {% for credit in c.credit.all %}
    
    <div class='bg-white p-2 mb-5 m-1 text-black-50 bg-opacity-50' 
    style=" width: 100%; max-width: 27rem;
    font-size: 14px;
    border-radius: 1rem; box-shadow: var(--shadow-one);">
    <div>
          <strong  class="">
                {% if credit.is_active == True %}
                <span style='color: red;'>
                    <span class="text-black"></span> Activo 
                </span>
                {% else %}
                      Saldado
                {% endif %}
          </strong>
          <hr>
    </div>

    <div class="mt-2">
          {% if credit.is_active == True %}

          <a href="{% url "customer:update-credit" credit.id %}">
          <span class="black">Nombre: </span>
                {{credit.name}}
          </a>
          {% else %}
          <span class="black">Nombre y Apellidos:</span>
          {{credit.name}}
          {% endif %}

    </div>
    <div>
          <span class="black">Cedula:</span>
                {{credit.dni}}
    </div>
<div>
    <span class="black">Cuenta:</span>
          {{credit.no_account}}
</div>
<div>
    <span class="black">Monto:</span>
       RD${{credit.amount|intcomma}}.00
</div>
<div>
    <span class="black">Cuotas:</span>
    {{credit.price_feed}} a RD${{credit.amount_feed|intcomma}} los dias {% if credit.mode_pay == True %}
    (15) - (30)
    {% else %}
    ({{credit.day_pay}})
    {% endif %}
</div>
<div>
    <hr>
</div>

<div class='w-100'>

</div>
<style>
      .btn-share-con button
      {
            max-height: 3rem;
            border-radius: 2rem !important;
            text-align: center !important;
      }
</style>
<div class='d-flex btn-share-con w-100  justify-content-center mt-2'>
      <a  class='w-auto m-0˝' href="https://api.whatsapp.com/send?phone=+18092998306&text=Cliente: *({{credit.customer.name}} {{credit.customer.last_name}})*, 
      firmado el *{{fecha_actual}}*; detalles  en -> https://grupofycas.online/detail-credit/customer/{{credit.id}}" >
      <button>
            Compartir
      </button>
            </a>
    <a  target="_blank" class='m-0 w-auto' href="{% url "customer:card-customer" credit.customer.id credit.id %}">
          <button>
               Contrato
          </button>
    </a>
    <a target="_blank"  class='m-0 w-auto' href="{% url "customer:notary-customer" credit.customer.id  credit.id %}">
          <button>
           Notarial
          </button>
      </a>
</div>
</div>

{% endfor %}