   {% load humanize %}
   <style>
      .credit-sp div
      {
            color: black !important;
      }
      .credit-sp  strong 
      {
            font-size: 12px !important;
      }
   </style>
    {% for credit in c.credit.all %}
    
    <div class='bg-white credit-sp p-3 mt-2 card  text-black-50 bg-opacity-50' 
    style=" width: 100%; 
    font-size: 14px;
    border-radius: 1rem; height: max-content ; box-shadow: #eeeeee 1px 2px 6px 1px; border: 1px solid #eeeeee !important;">


    <div class="mt-2">
          {% if credit.is_active == True %}

          <a class="" href="{% url "customer:update-credit" credit.id %}">
          <span class="black"></span>
              <strong>Nombre:   </strong>  {{credit.name}}
          </a>
          {% else %}
          <span class=""></span>
          <strong>Nombre:  </strong> {{credit.name}}
          {% endif %}

    </div>
    <div>
          <span class=""></span>
          <strong>Cedula: </strong>         {{credit.dni}}
    </div>
<div>
    <span class=""></span>
    <strong>No. Cuenta: </strong>   {{credit.no_account}}
</div>
<div>
    <span class=""></span>
    <strong>Monto: </strong> ${{credit.amount|intcomma}}.00
</div>
<div>
    <span class=""></span>
    <strong>Cuotas: </strong>
    {{credit.price_feed}} a ${{credit.amount_feed|intcomma}} los dias {% if credit.mode_pay == True %}
    (15) - (30)
    {% else %}
    ({{credit.day_pay}})
    {% endif %}
</div>
<div>
    {% comment %} <hr> {% endcomment %}
</div>

<div class='w-100'>

</div>
<style>
      .btn-share-con button
      {
            max-height: 3rem;
            border-radius: 2rem !important;
            text-align: center !important;
            background-color:  white !important;
            color: rgb(48, 48, 48) !important;
            font-size: 12px !important;
            border: rgba(227, 227, 227, 0.905) 1px solid !important;
            width: 100%;
      }
</style>
{% comment %} <span class="d-flex w-100">
      <h6 class="text-black-50 m-0 p-0 pb-1"  > 
            Acciones de credito    
      </h6>
</span> {% endcomment %}
<div class='d-flex btn-share-con w-100  justify-content-center mt-2'>
      <a  class='w-auto m-0' href="https://api.whatsapp.com/send?phone=+18092998306&text=*({{credit.customer.name}} {{credit.customer.last_name}})*, 
      Firmado el *{{fecha_actual}}*; Detalles -> https://grupofycas.online/detail-credit/customer/{{credit.id}}" >
      <button >
            Compartir
      </button>
            </a>
    <a  target="_blank" class='m-0 w-auto' href="{% url "customer:card-customer" credit.customer.id credit.id %}">
          <button>
               Contrato
          </button>
    </a>
    <a target="_blank"  class='m-0 w-auto' href="{% url "customer:notary-customer" credit.customer.id  credit.id %}">
          <button>
           Notarial
          </button>
      </a>
</div>
</div>

{% endfor %}