<section  id='section-location' class="w-100  d-flex flex-wrap">
      <div class='w-100'>
            <h6 class="p-0 m-0  mt-5 w-100 ms-2">
                  Ubicacion 
            </h6>
            <p class="text-black-50 m-0 ms-2">
                  Esto se hace para combatir bots; los bots son programas informáticos que imitan el comportamiento humano para realizar tareas automatizadas.
            </p>
      </div>
      <label id="getLocationBtn" class='btn border-0 btn-primary mt-3' style='border-radius:2rem; width: 8rem;
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            Obtener </label>

   <div class="w-100">
      <p id="locationStatus" class="text-danger"></p>
      <span id="location-dened" class="d-none ">
            <h6 class="p-0 m-0  mt-5 w-100 ms-2">
                  ¿Como activo la ubicacion?
            </h6>
            <div  class='d-flex   justify-content-around w-100 flex-wrap'>
                  <img src="{{img1.Icon.url}}" 
                  style='border-radius: 1.5rem;' class='m-1' alt="" width='320'  srcset="">
                  <img src="{{img2.Icon.url}}" 
                  style='border-radius: 1.5rem;' class='m-1' alt="" width='320'  srcset="">
                  <img src="{{img3.Icon.url}}" 
                  style='border-radius: 1.5rem;' class='m-1' alt="" width='320'  srcset="">
            </div>
      </span>
   </div>
  
</section>