{% load static %}

<div class="mt-3">
      <img src="{% static "icons/doc(40).png" %}" class="" width='264'  alt="">
</div>
<strong class="p-0 m-0  mt-5 w-100 ms-2">
      Monto que solicita y fines
</strong>
<p class="text-black-50 m-0 ms-2 w-100 text-start">
     Monto que solicita y fines de la solicitud
</p>
<section class="w-100 d-flex nam">
      <div class="form-floating">
            <select id="mont-si" name="form-select-monto"  class="form-select w-50"  aria-label="Default select example" style="border-radius: 2rem !important; border-top: 0 !important; border-left: 0 !important;   font-family: Quicksand, sans-serif !important;">
                  <option value="RD$10,000.00" selected>RD$10,000.00</option>
                  <option value="RD$15,000.00">RD$15,000.00</option>
                  <option value="RD$20,000.00">RD$20,000.00</option>
                  <option value="RD$25,000.00">RD$25,000.00</option>
                  <option value="RD$30,000.00">RD$30,000.00</option>
                  <option value="RD$35,000.00">RD$35,000.00</option>
                  <option value="RD$45,000.00">RD$45,000.00</option>
                  <option value="RD$50,000.00">RD$50,000.00</option>
                  <option value="RD$60,000.00">RD$60,000.00</option>
                  <option value="RD$65,000.00">RD$65,000.00</option>
                  <option value="RD$70,000.00">RD$70,000.00</option>
                  <option value="RD$75,000.00">RD$75,000.00</option>
                  <option value="RD$85,000.00">RD$85,000.00</option>
                  <option value="RD$90,000.00">RD$90,000.00</option>
                  <option value="RD$95,000.00">RD$95,000.00</option>
                  <option value="RD$100,000.00">RD$100,000.00</option>
                  <option value="RD$200,000.00">RD$200,000.00</option>
                  <option value="RD$300,000.00">RD$300,000.00</option>
                  <option value="RD$500,000.00">RD$500,000.00</option>
                  <option value="RD$1,000,000.00">RD$1000,000.00</option>
                  <option value="RD$2,000,000.00">RD$2,000,000.00</option>
                  <option value="RD$3,000,000.00">RD$3,000,000.00</option>
                  <option value="RD$5,000,000.00">RD$5,000,000.00</option>

                </select>
                <label for="mont-si">Monto deseado</label>
      
      </div>
      <div class="form-floating">
            <select id="form-sk" name="form-select" class="form-select w-50"  aria-label="Default select example" style="border-radius: 2rem !important; border-top: 0 !important; border-left: 0 !important;   font-family: Quicksand, sans-serif !important;
      ">
                  <option value="Gastos Personales" selected>Gastos Personales</option>
                  <option value="Saldar deudas">Saldar deudas</option>
                  <option value="Compra inmobilaria">Compra inmobilaria</option>
                  <option value="Inversion para un negocio">Inversion para un negocio</option>
                  <option value="Asuntos de salud">Asuntos de salud</option>
                  <option value="Educación">Educación</option>
                  <option value="Renovación del hogar">Renovación del hogar</option>
                  <option value="Vacaciones">Vacaciones</option>
                  <option value="Compra de vehículo">Compra de vehículo</option>
                  <option value="Ahorro para la jubilación">Ahorro para la jubilación</option>
                  <option value="Fondo de emergencia">Fondo de emergencia</option>
                </select>
                <label for="form-sk">Fines de la adquisicion</label>
      </div>
</section>