{% load static %}

<div class="w-100 d-flex img-glouds align-content-center m-1 " 
      style='background-color: #F6F6F6; max-width: 30rem; 
      border-radius: 35px;'>
      <div class="img-data d-flex flex-wrap align-content-center">
            <img src="{% static "icons/doc(40).png" %}"
                  width='154'  alt="">
      </div>
      <div class='d-flex flex-wrap align-content-center'>
            <h6>
                  Monto que solicita y fines 
            </h6>
            <p class="text-black-50 mt-4">
                  Monto que solicita y fines de la solicitud
            </p>
      </div>
</div>
<section class=" d-flex flex-wrap align-content-center w-100 " style="max-width: 30rem;">
     
      <section class="w-100 d-flex mt-4">
            <div class="form-floating">
                  <select id="mont-si" name="form-select-monto"  class="form-select "  aria-label="Default select example" style="border-radius: 2rem !important; border-top: 0 !important; border-left: 0 !important; min-width: 160px !important;    max-width: 60px;  font-family: Quicksand, sans-serif !important;">
                        <option value="RD$10,000.00" selected>RD$10,000.00</option>
                        <option value="RD$15,000.00">RD$15,000.00</option>
                        <option value="RD$20,000.00">RD$20,000.00</option>
                        <option value="RD$25,000.00">RD$25,000.00</option>
                        <option value="RD$30,000.00">RD$30,000.00</option>
                        <option value="RD$35,000.00">RD$35,000.00</option>
                        <option value="RD$45,000.00">RD$45,000.00</option>
                        <option value="RD$50,000.00">RD$50,000.00</option>
                        <option value="RD$60,000.00">RD$60,000.00</option>
                        <option value="RD$65,000.00">RD$65,000.00</option>
                        <option value="RD$70,000.00">RD$70,000.00</option>
                        <option value="RD$75,000.00">RD$75,000.00</option>
                        <option value="RD$85,000.00">RD$85,000.00</option>
                        <option value="RD$90,000.00">RD$90,000.00</option>
                        <option value="RD$95,000.00">RD$95,000.00</option>
                        <option value="RD$100,000.00">RD$100,000.00</option>
                        <option value="RD$200,000.00">RD$200,000.00</option>
                        <option value="RD$300,000.00">RD$300,000.00</option>
                        <option value="RD$500,000.00">RD$500,000.00</option>
                        <option value="RD$1,000,000.00">RD$1000,000.00</option>
                        <option value="RD$2,000,000.00">RD$2,000,000.00</option>
                        <option value="RD$3,000,000.00">RD$3,000,000.00</option>
                        <option value="RD$5,000,000.00">RD$5,000,000.00</option>
                      </select>
                      <label for="mont-si">Monto deseado</label>
            
            </div>
            <div class="form-floating" style="min-width: 60px !important;">
                  <select id="form-sk" name="form-select" class="form-select "  aria-label="Default select example" style="border-radius: 2rem !important; border-top: 0 !important; border-left: 0 !important;   max-width: 160px; font-family: Quicksand, sans-serif !important;
            ">
                        <option value="Gastos Personales" selected>Gastos Personales</option>
                        <option value="Saldar deudas">Saldar deudas</option>
                        <option value="Compra inmobilaria">Compra inmobilaria</option>
                        <option value="Inversion para un negocio">Inversion para un negocio</option>
                        <option value="Asuntos de salud">Asuntos de salud</option>
                        <option value="Educación">Educación</option>
                        <option value="Renovación del hogar">Renovación del hogar</option>
                        <option value="Vacaciones">Vacaciones</option>
                        <option value="Compra de vehículo">Compra de vehículo</option>
                        <option value="Ahorro para la jubilación">Ahorro para la jubilación</option>
                        <option value="Fondo de emergencia">Fondo de emergencia</option>
                      </select>
                      <label for="form-sk">Fines de la adquisicion</label>
            </div>
      </section>


      <div class="d-flex justify-content-end align-content-center mt-3 w-100 ">    
            <label class="bg-transparent scroll-btn text-black " style="width: 100px;" onclick='scrollToLast()'>Atras</label>
            <label class="scroll-btn" onclick="scrollToNext()">Siguiente 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                      </svg>
            </label>
      </div>

</section>
