{% load static %}

<div>
      <img src="{% static "icons/recdiden.png" %}" class="" width='264' alt="">
</div>
<div class="form-floating mb-3 ">
      {{form.calle_numero}}
      <label for="id_address">Calle/Numero</label>
</div>
<div class="form-floating mb-3 ">
      {{form.sector}}
      <label for="id_address">Sector</label>
</div>
<div class="form-floating mb-3 ">
      {{form.ciudad}}
      <label for="id_address">Ciudad</label>
</div>
<div class="form-floating mb-3 ">
      {{form.municipio}}
      <label for="id_address">Municipio</label>
</div>

<script>
            document.getElementById("id_ciudad").disabled = true       
</script>