{% load static %}

<div class="w-100 d-flex img-glouds align-content-center m-1 " 
      style='background-color: #F6F6F6; max-width: 30rem; 
      border-radius: 35px;'>
      <div class="img-data d-flex flex-wrap align-content-center">
            <img src="{% static "icons/doc(43).png" %}"
                  width='164' height='194' alt="">
      </div>
      <div class='d-flex flex-wrap align-content-center'>
            <h6>
                Referencias Personales
            </h6>
            <p class="text-black-50 mt-4">
               Proporcione dos referencias personales, comuniquelos antes de proporcionarlos.
            </p>
      </div>
</div>
<section class=" d-flex flex-wrap align-content-center w-100 " style="max-width: 30rem;">
      <div class="w-100 mt-4">
            <p class="text-black-50 m-0 ms-2">
                  Debe proporcionar una referencia que recida con usted o trabaje en la misma ciudad.
            </p>
      </div>
      <div class="w-100 d-flex ">
            <div class="form-floating mb-2 w-50  " >
                  {{form.name_r1}}
                  <label for="id_work_information">Nombre 
                  </label>
            </div>
            <div class="form-floating mb-2 w-50  " >
                  {{form.number_r1}}
                  <label for="id_work_information">Numero 
                  </label>
            </div>
      </div>

      <div class="w-100">
            <p class="text-black-50 m-0 ms-2 mt-2">
                  Debe colocar como segunda referencia a un familiar o amigo cercano.
            </p>
      </div>
      {{form.lat}} {{form.lon}}
      <div class="w-100 d-flex ">
            <div class="form-floating m-0 mb-2 w-50  " >
                  {{form.name_r2}}
                  <label for="id_work_information">Nombre familiar o amigo 
                  </label>
            </div>
            <div class="form-floating mb-2 w-50 " >
                  {{form.number_r2}}
                  <label for="id_number_r2">Numero familiar o amigo 
                  </label>
            </div>
      </div>



      <div class="d-flex justify-content-end align-content-center mt-2 w-100 flex-wrap">    
            <label class="bg-transparent scroll-btn text-black " style="width: 100px;" onclick='scrollToLast()'>Atras</label>
            <label class="scroll-btn" onclick="scrollToNext()">Siguiente 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                      </svg>
            </label>
      </div>

</section>


      <script>
               function NumbersFomat(value) {
          // Elimina todos los caracteres no numéricos
          var number = value.replace(/\D/g, '');
          // Agrega guiones después de los primeros 3 dígitos y los siguientes 7 dígitos
          var N = number.replace(/(\d{3})(\d{3})(\d{1})/, '$1-$2-$3');
          return N;
        }

        document.getElementById('id_number_r1').addEventListener('input', function(e) {
                  let n = document.getElementById('id_number_r1')
                  n.value = n.value.slice(0, 12);
                  e.target.value = NumbersFomat(e.target.value);
        });
      
      document.getElementById('id_number_r2').addEventListener('input', function(e) {
                  let n = document.getElementById('id_number_r2')
                  n.value = n.value.slice(0, 12);
                  e.target.value = NumbersFomat(e.target.value);
                  
        });
      
      </script>


<!--       

<div>
      <img src="{% static "icons/doc(43).png" %}" class="" width='284'  alt="">
</div>
<strong class="p-0 m-0   w-100 ms-2">
      Referencias Personales
</strong>
<section class="w-100 d-flex flex-wrap  ">
      <p class="text-black-50 m-0 ms-2">
            Asegúrese de que sus referencias estén al tanto de que las proporcionará como referencia.
      </p>
      <div class="w-100">
    
         
      </div>
</section> -->